@{
    ViewBag.Title = "订单支付 | " + Witbird.SHTS.Web.Public.StaticUtility.Config.Name;
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}

@model Witbird.SHTS.Web.Models.OrderModel

@section head
{
    <link href="~/areas/Wechat/content/styles/payment.css" rel="stylesheet" />

    <link href="~/Areas/Wechat/Content/styles/user.css" rel="stylesheet" />
}

<div class="wrap">
    <div class="listdiv">

        @if (Model != null && Model.Order != null && !string.IsNullOrEmpty(Model.Order.OrderId))
        {
            <input id="isPaySucceed" type="hidden" value="@Model.Order.State" />
            <input id="returnUrl" type="hidden" value="@Model.ReturnUrl" />

            <div class="listdivitem">
                <div class="listdivitemsummary">
                    <div class="listdivitemtitle">
                        订单信息
                    </div>
                    <div class="listdivitemdescription">
                        <table class="listdivitemtable">
                            <tbody>
                                <tr>
                                    <td>订单编号：<span>@Model.Order.OrderId</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        订单摘要：<span>@Model.Order.Subject</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>用户姓名：<span>@Model.Order.UserName</span></td>
                                </tr>
                                <tr>
                                    <td>订单金额：<span>￥ @Model.Order.Amount 元</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        支付状态：<span>@Witbird.SHTS.BLL.Services.OrderService.ConvertOrderStateToDisplayValue(Model.Order.State)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        订单备注：
                                        <span>@Model.Order.Body</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="clear: both;"></div>

                </div>
            </div>

            if (Model.Order.State == (int)Witbird.SHTS.Model.OrderState.New ||
                Model.Order.State == (int)Witbird.SHTS.Model.OrderState.Failed)
            {
                <div class="listdivitem">
                    <input name="" type="button" class="tjzl_btn" value="取消" onclick="window.location.href ='@(Model.ReturnUrl)'" />&nbsp;&nbsp;&nbsp;
                    <input name="" type="button" class="tjzl_btn userbtn" style="font-size: 16px;"
                           value="确定支付" onclick="doPayForOrderEvent();" />
                    <br />
                </div>
            }
            else
            {
                <div class="listdivitem">
                    <table class="listdivitemtable">
                        <tbody>
                            <tr>
                                <td>
                                    <span>订单支付成功，<span id="countDownTime" style="font-size: 17px; font-weight: bold;">3</span>&nbsp;秒后页面将跳转到详情页面</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <script>
                    countDown();
                </script>
            }
        }
        else
        {
            <span>订单信息不存在</span>
        }
    </div>
    <div style="height: 20px;"></div>
</div>
@section FooterJS
{
    <script>
        function doPayForOrderEvent() {
            $('#payform').submit();
        }

        var seconds = 3;
        function countDown() {
            var isPaySucceed = $('#isPaySucceed').val();
            if (isPaySucceed == 1) {
                $('#countDownTime').html(seconds);
            }
            if (seconds < 1) {
                var returnUrl = $('#returnUrl').val();
                if (isPaySucceed == 1 && returnUrl != '') {
                    window.location.href = returnUrl;
                }
            }
            if (seconds > 0) {
                seconds--;
                setTimeout('countDown()', 1000);
            }
        }

        function callPayApi(a, t, n, p, ps) {
            WeixinJSBridge.invoke('getBrandWCPayRequest', {
                "appId": a,
                "timeStamp": t,
                "nonceStr": n,
                "package": p,
                "signType": "MD5",
                "paySign": ps
            }, function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    window.location = "/member/info?id=@(ViewBag.CompanyId)&name=@(ViewBag.SourceAccountId)";
                }
                else {
                    window.location = "/pay/prerecharge?id=@(ViewBag.CompanyId)&name=@(ViewBag.SourceAccountId)";
                }
            });
        }

    </script>
}
