@model Witbird.SHTS.Web.Areas.Admin.Models.ResourceMiscModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/areas/admin/content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/areas/admin/content/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/areas/admin/content/js/jquery.js"></script>
    <script type="text/javascript" src="/areas/admin/content/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="/areas/admin/content/js/select-ui.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 150
            });
            $(".select3").uedSelect({
                width: 100
            });
        });

        function btnUpdateResourceTypeClick() {

            var allSelectedIds = getAllSelectedResourcesID();
            if (allSelectedIds.length == 0) {
                alert('请选择需要修改的类型记录！');
                return false;
            }
            else if (allSelectedIds.length > 1) {
                alert('修改时只能选中一条记录进行修改，请不要勾选不需要修改的类型记录！');
                return false;
            }

            showResourceTypePanel(allSelectedIds[0]);
        }

        function btnCreateResourceTypeClick() {
            showResourceTypePanel({ 'Id': -1, 'ResourceTypeKey': -1 });
        }

        function createOrUpdateResourceType() {
            $.post(
                '/admin/resource/CreateOrUpdateType',
                {
                    typeId: $('#typeIdForUpdate').val(),
                    resourceTypeKey: $('#ddlResourceTypeForUpdate').val(),
                    name: $('#typeNameForUpdate').val(),
                    description: $('#typeDescForUpdate').val(),
                    displayOrder: $('#displayOrderForUpdate').val()
                },
                function (response) {
                    if (response && response.Status == 0) {
                        alert('保存成功');
                        window.location.href = window.location.href;
                    }
                    else {
                        alert('保存失败！请稍后重试');
                        return false;
                    }
                });
        }

        function showResourceTypePanel(type) {

            // clear data
            $('#typeIdForUpdate').val('');
            $('#ddlResourceTypeForUpdate').val('');
            $('#typeNameForUpdate').val('');
            $('#typeDescForUpdate').val('');
            $('#displayOrderForUpdate').val('');

            var typeId = type.Id;
            var resourceTypeKey = type.ResourceTypeKey
            if (typeId != -1) {
                var url = "/admin/resource/SelectResourceType?resourceTypeKey=" + resourceTypeKey + "&typeId=" + typeId;
                $.get(url, function (response) {
                    if (response.Status === 0) {
                        var typeDetail = response.Data;
                        $('#typeIdForUpdate').val(typeDetail.Id);
                        $('#ddlResourceTypeForUpdate').val(typeDetail.ResourceTypeKey);
                        $('#typeNameForUpdate').val(typeDetail.Name);
                        $('#typeDescForUpdate').val(typeDetail.Description);
                        $('#displayOrderForUpdate').val(typeDetail.DisplayOrder);

                        $("#resourceUpdatePanel").fadeIn(200);
                    }
                    else {
                        alert('加载资源类型失败，请稍后重试');
                        return false;
                    }
                });
            }
            else {
                $("#resourceUpdatePanel").fadeIn(200);
            }
        }

        function loadData() {
            var resourceTypeKey = $('#ddlResourceType').val();
            window.location = '/admin/resource/manage?resourceTypeKey=' + resourceTypeKey;
        }

        var hasAllResourcesSelected = false;

        function selectAllResources(cbxSelectAll) {
            if (!hasAllResourcesSelected) {
                $('.cbxResource').each(function () {
                    $(this).attr("checked", "checked");
                });

                $(cbxSelectAll).attr("checked", "checked");

                hasAllResourcesSelected = true;
            }
            else {
                $('.cbxResource').each(function () {
                    $(this).removeAttr("checked");
                });

                $(cbxSelectAll).removeAttr("checked");

                hasAllResourcesSelected = false;
            }
        }

        function onCbxResourceSelectChanged(cbxResource) {
            if ($(cbxResource).attr('checked') == false) {
                hasAllResourcesSelected = false;
                $('#cbxSelectAll').removeAttr("checked");
            }
        }

        function getAllSelectedResourcesID() {
            var ids = new Array();
            $('.cbxResource').each(function () {
                if ($(this).attr("checked") == true) {
                    ids.push({ 'Id': $(this).val(), 'ResourceTypeKey': $(this).attr("typekey") });
                }
            });

            return ids;
        }

        function deleteResourceType() {
            var allSelectedIds = getAllSelectedResourcesID();
            if (allSelectedIds.length == 0) {
                alert('请勾选需要删除的资源类型记录！');
                return false;
            }
            else {
                if (confirm('您确认所选择的类型吗？该操作不可恢复！')) {
                    // Invoke service
                    var typeIds = '';

                    allSelectedIds.forEach(function (e) {
                        typeIds += e.Id + '_' + e.ResourceTypeKey + ',';
                    });
                    console.log(typeIds);
                    $.post(
                        '/admin/resource/DeleteResourceTypes',
                        {
                            typeIds: typeIds,
                        },
                        function (response) {
                            console.log(response);
                            if (response && response.Status == 0) {
                                alert('删除成功');
                                window.location.href = window.location.href;
                            }
                            else {
                                alert('删除失败，请重试');
                                return false;
                            }
                        });
                }
            }
        }

    </script>
    <style>
        .tablelist td {
            max-width: 300px !important;
        }

        .tablelist input[type=checkbox] {
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }

        .weixinpart {
            float: right;
            font-weight: bold;
            padding-right: 10px;
        }

            .weixinpart span {
                font-size: 16px;
                color: blue;
            }

            .weixinpart input {
                margin-left: 10px;
                margin-right: 10px;
                padding-left: 10px;
                border: 1px solid;
                font-size: 13px;
                line-height: 20px;
                height: 20px;
                width: 180px;
            }

            .weixinpart button {
                font-size: 16px;
                font-weight: bold;
                color: blue;
            }

                .weixinpart button:hover {
                    cursor: pointer;
                }

        .toolbar {
            width: 100%;
        }

            .toolbar > li {
                margin-bottom: 5px;
                font-weight: bold;
                text-align: center;
            }

                .toolbar > li img {
                    width: 24px;
                    height: 24px;
                }

                .toolbar > li.button {
                    font-size: 16px;
                    border-radius: 5px;
                    background: #9ed04d;
                    color: white;
                }

                    .toolbar > li.button.btn-primary {
                        background: #167efb;
                    }

                .toolbar > li input, .toolbar > li select {
                    padding: 5px;
                    border: solid 1px burlywood;
                    /* height: 70%; */
                    width: 120px;
                    vertical-align: middle;
                    opacity: 1;
                    text-align: center;
                }

                    .toolbar > li input[type=text], .toolbar > li input[type=search] {
                        width: 244px;
                    }

        select {
            opacity: 1 !important;
        }
    </style>
</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/admin/index/main/">首页</a></li>
            <li><a href="/admin/resource/manage?id=1">资源类型管理</a></li>
        </ul>
    </div>

    <div class="rightinfo">

        <div class="tools">

            <ul class="toolbar">
                <li>
                    &nbsp;筛选：
                    <select id="ddlResourceType" onchange="loadData();">

                        <option value="">所有资源类型</option>

                        @foreach (var item in Html.ResourceList())
                        {
                            if (item.Value == Model.ResourceTypeKey)
                            {

                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text </option>
                            }
                        }
                    </select>
                </li>
                <li onclick="btnCreateResourceTypeClick();" title="新增资源类型" @*style="float:right;"*@>
                    <span>
                        <img src="/areas/admin/content/images/iadd.png" />
                    </span>新增资源类型
                </li>
                <li onclick="btnUpdateResourceTypeClick();" title="修改资源类型" @*style="float:right;"*@>
                    <span>
                        <img src="/areas/admin/content/images/t02.png" />
                    </span>修改资源类型
                </li>
                <li onclick="deleteResourceType();" title="删除选中的资源类型" @*style="float:right;"*@>
                    <span>
                        <img src="/areas/admin/content/images/t03.png" />
                    </span>删除资源类型
                </li>
            </ul>
        </div>

        <table class="tablelist">
            <thead>
                <tr>
                    <th width="40px;">
                    </th>
                    @*<th>类型编号</th>*@
                    <th>资源分类</th>
                    <th>类型名称</th>
                    <th>类型描述</th>
                    <th>显示顺序</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ResourceTypes != null && Model.ResourceTypes.Count > 0)
                {
                    foreach (var item in Model.ResourceTypes)
                    {
                        <tr>
                            <td>
                                <input onchange="onCbxResourceSelectChanged(this);" class="cbxResource" type="checkbox" value="@item.Id" typekey="@item.ResourceTypeKey" />
                            </td>
                            @*<td>
                                    <span>@item.Id</span>
                                </td>*@
                            <td>
                                <span>
                                    @item.ResourceTypeName
                                </span>
                            </td>
                            <td>
                                <span>@item.Name</span>
                            </td>
                            <td><span>@item.Description</span></td>

                            <td>
                                <span>@item.DisplayOrder</span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div style="height:30px;"></div>

        <!--分页开始-->
        <div class="fenye" style="margin: 0 auto;">
            @if (Model.PageCount > 1)
            {
                for (int step = 1; step <= Model.PageCount; step = step + Model.PageStep)
                {
                    if (Model.PageIndex >= step && Model.PageIndex < step + Model.PageStep)
                    {
                        //上一页
                        if (Model.PageIndex > 1)
                        {
                            <span><a href="/admin/resource/manage?id=@(Model.PageIndex - 1)&resourceTypeKey=@Model.ResourceTypeKey" class="prv">上一页</a></span>
                        }
                        //首页
                        if (Model.PageStep < Model.PageIndex)
                        {
                            <span><a href="/admin/resource/manage?id=1&resourceTypeKey=@Model.ResourceTypeKey">首页</a></span>
                        }
                        //分页
                        for (int i = step; i < step + Model.PageStep; i++)
                        {
                            if (i <= Model.PageCount)
                            {
                                if (i == Model.PageIndex)
                                {
                                    <span><a href="/admin/resource/manage?id=@i&&resourceTypeKey=@Model.ResourceTypeKey" class="no">@i</a></span>
                                }
                                else
                                {
                                    <span><a href="/admin/resource/manage?id=@i&resourceTypeKey=@Model.ResourceTypeKey">@i</a></span>
                                }
                            }
                        }
                        //末页
                        if (step + Model.PageStep <= Model.PageCount)
                        {
                            <span><a href="/admin/resource/manage?id=@(Model.PageCount)&resourceTypeKey=@Model.ResourceTypeKey">末页</a></span>
                        }
                        //下一页
                        if (Model.PageIndex < Model.PageCount)
                        {
                            <span><a href="/admin/resource/manage?id=@(Model.PageIndex + 1)&resourceTypeKey=@Model.ResourceTypeKey" class="next">下一页</a></span>
                        }
                    }
                }
            }
        </div>
        <!--分页结束-->

        <script type="text/javascript">
            $("#usual1 ul").idTabs();
        </script>

        <script type="text/javascript">
            $('.tablelist tbody tr:odd').addClass('odd');
        </script>

    </div>

    <div class="tip" id="resourceUpdatePanel" style="height:300px;">
        <div class="tiptop">
            <span>修改资源类型</span><a></a>
        </div>
        <div class="tipinfo">
            <input type="hidden" id="typeIdForUpdate" name="typeIdForUpdate" />
            <div class="tipright">
                <ul class="forminfo">
                    <li>
                        <label>资源分类<b>*</b></label>
                        <select id="ddlResourceTypeForUpdate" name="resourceTypeKeyForUpdate">
                            @foreach (var item in Html.ResourceList())
                            {
                                <option value="@item.Value">@item.Text </option>
                            }
                        </select>
                    </li>
                    <li>
                        <label>类型名称<b>*</b></label>
                        <input id="typeNameForUpdate" name="typeNameForUpdate" type="text" class="scinput" maxlength="10" placeholder="请输入类型名称" />
                    </li>
                    <li>
                        <label>类型描述</label>
                        <input id="typeDescForUpdate" name="typeDescForUpdate" type="text" class="scinput" maxlength="200" placeholder="请输入类型描述，可不填" />
                    </li>
                    <li>
                        <label>显示顺序</label>
                        <input id="displayOrderForUpdate" name="displayOrderForUpdate" type="number" class="scinput" maxlength="200" placeholder="请输入显示顺序，数字越大越靠后" />
                    </li>
                    <li>
                        <label>&nbsp;</label>
                        <input type="button" class="btn submitbtn" value="立即保存" onclick="createOrUpdateResourceType();" />
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>
