@model Witbird.SHTS.Web.Models.ActivityModel.ActivitysViewModel
@{
    ViewBag.Title = "我的活动列表 | " + Witbird.SHTS.Web.Public.StaticUtility.Config.Name;
    Layout = "~/Views/Shared/WebLayoutPage.cshtml";
}
@section head
{
    <style type="text/css">
		.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}
	</style>
}
<div class="main w1000">
    <div class="location">
        您当前所处的位置：<a href="/" class="blue">首页</a><span class="ch c1">&nbsp;&gt;&nbsp;</span><a href="/demand/" class="blue">我的活动列表</a>
        @if (Model.CurrentPage > 1)
        {
            <span class="ch">&nbsp;&gt;&nbsp;第 @Model.CurrentPage 页</span>
        }
    </div>

    @Html.Action("UserMenu", "User")

    <div class="user_right">
        <div class="user_right_bt">
            <p class="n1">活动列表</p>
            <p class="n1" style="float: right;">总共 <span style="color: #ff9a15;">@Model.TotalCount</span> 条
            </p>
        </div>
        <table class="usertable">
            <tr>
                <td style="overflow: hidden; text-align: left;"><strong>标题</strong></td>
                <td style="width: 50px;"><strong>活动类型</strong></td>
                <td style="width: 150px;"><strong>发布时间</strong></td>
                <td style="width: 80px;"><strong>状态</strong></td>
                <td style="width: 120px;"><strong>操作</strong></td>
            </tr>
            @if (Model.ActivityList != null && Model.ActivityList.Count > 0)
            {
                foreach (var item in Model.ActivityList)
                {
                <tr>
                    <td style="text-align: left;">
                        <a href="/Activity/show/@item.Id" target="_blank" style="color: #3858FA;">@item.Title</a>
                    </td>
                    <td>
                        @if (Model.ActivityTypes != null && Model.ActivityTypes.Count > 0)
                        {
                            foreach (var category in Model.ActivityTypes)
                            {
                                if (category.ActivityTypeId.ToString() == item.ActivityType)
                                {
                            <span>@category.ActivityTypeName</span>
                            }
                        }
                    }
                    </td>
                        <td>@item.CreatedTime.Value.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@Html.GetStatus(item.State.Value)</td>
                    <td>
                        <a href="/user/EditActivity/@item.Id" style="color: #3858FA;">编辑</a>
                        <a href="javascript:deleteactivity((@item.Id));" style="color: #3858FA;">删除</a>
                    </td>
                </tr>
            }
        }
        </table>

        <!--分页开始-->
        <div class="fenye" style="margin: 0 auto;">
            @{
                var startPage = 10 * (Model.CurrentPage / 10) + 1;
            }
            <span><a href="/user/Activitys?page=@Model.PrePageIndex" class="prv">上一页</a></span>
            @for (int i = startPage; i <= Model.TotalPage && i < startPage + 10; i++)
            {
                if (i == Model.CurrentPage)
                {
                <span><a href="/news/index/@i.ToString()" class="no">@i.ToString()</a></span>
                }
                else
                {
                <span><a href="/user/Activitys?page=@i.ToString()">@i.ToString()</a></span>
                }
            }
            @if (Model.TotalPage >= (startPage + 10))
            {
                <span><a href="/user/Activitys?page=@(startPage + 10)">...</a></span>
            }
            <span><a href="/user/Activitys?page=@Model.NextPageIndex" class="next">下一页</a></span>
        </div>
        <!--分页结束-->
    </div>
    <div style="clear: both; height: 30px;"></div>

</div>

@section FooterJS
{
    <script src="~/Content/js/Activity/shareactivity.js"></script>
    <script src="~/Content/fancyBox/jquery.fancybox.js"></script>
    <link href="~/Content/fancyBox/jquery.fancybox.css" rel="stylesheet"/>
    	<script type="text/javascript">
    	    $(document).ready(function () {
    	        $('.fancybox').fancybox();

    	        $("#fancybox-manual-c").click(function () {
    	            $.fancybox.open([
                        {
                            href: '1_b.jpg',
                            title: 'My title'
                        }, {
                            href: '2_b.jpg',
                            title: '2nd title'
                        }, {
                            href: '3_b.jpg'
                        }
    	            ], {
    	                helpers: {
    	                    thumbs: {
    	                        width: 75,
    	                        height: 50
    	                    }
    	                }
    	            });
    	        });
    	    });
	</script>
}
