@model Witbird.SHTS.Web.Models.ShareActivityViewModel
@{
    ViewBag.Title = "发布活动在线 | " + Witbird.SHTS.Web.Public.StaticUtility.Config.Name;
    Layout = "~/Views/Shared/WebLayoutPage.cshtml";
}
@section head
{
    <script src="/Content/upload/jquery-1.4.2.min.js"></script>
    <script src="/Content/js/city.js"></script>

    <script src="/content/My97DatePicker/WdatePicker.js"></script>

    <link href="/Content/kindeditor/themes/default/default.css" rel="stylesheet" />
    <script src="/Content/kindeditor/kindeditor-min.js"></script>
    <script src="/Content/kindeditor/zh_CN.js"></script>
    <script type="text/javascript">
        var editorContent;//定义编辑器
        KindEditor.ready(function (K) {
            editorContent = K.create('#editorContent', {
                cssData: 'body{font-size:14px;font-family:Tahoma;}',
                width: '680px',
                height: '450px',
                resizeType: 1,
                allowPreviewEmoticons: false,
                allowImageUpload: true,
                allowFileManager: true,
                fillDescAfterUploadImage: true,
                uploadJson: '/Content/kindeditor/asp.net/upload_json.ashx',
                fileManagerJson: '/Content/kindeditor/asp.net/file_manager_json.ashx',
                items: [
                    'fontname', 'fontsize', 'lineheight', '|', 'undo', 'redo', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    '|', 'justifyleft', 'justifycenter', 'justifyright', '|', 'emoticons', 'image', 'link', 'table']
            });
        });
    </script>
}

<div class="main w1000">
    <div class="location">
        您当前所处的位置：<a href="/" class="blue">首页</a><span class="ch c1">&nbsp;&gt;&nbsp;</span><a href="javascript:void(0)" class="blue">用户中心</a><span class="ch">&nbsp;&gt;&nbsp;发布活动</span>
    </div>
    @Html.Action("UserMenu", "User")
    <div class="user_right">
        <div class="user_right_bt">
            <p class="n1">发布活动</p>
        </div>
        <form id="addform" method="post" action="#">
            <input type="hidden" name="Id" value="@Model.Activity.Id"/>
            <div class="ur_title lh24">
                <span class="red ch"></span>类别：
            </div>
            <div class="ur_box">
                <select name="ActivityType">
                    @if (Model.ActivityTypes != null && Model.ActivityTypes.Count > 0)
                    {
                        foreach (var item in Model.ActivityTypes)
                        {
                            if (item.ActivityTypeId.ToString() == Model.Activity.ActivityType)
                            {
                        <option selected="selected" value="@item.ActivityTypeId">@item.ActivityTypeName</option>
                            }
                            else
                            {
                        <option value="@item.ActivityTypeId">@item.ActivityTypeName</option>
                            }
                        }
                    }
                    else
                    {
                        <option value="-1">暂无类别</option>
                    }
                </select>
            </div>
            <div class="clearfix"></div>



            <div class="ur_title">
                <span class="red ch"></span>标题：
            </div>
            <div class="ur_box">
                <input class="ur_txt1" name="Title" value="@Model.Activity.Title"/>
                <span style="color: #4193ff;">&nbsp;&nbsp;必填，活动标题，标题党也好.</span>
            </div>
            <div class="clearfix"></div>



            <div class="ur_title">
                <span class="red ch"></span>关键字：
            </div>
            <div class="ur_box">
                <input class="ur_txt1" name="Keywords" value="@Model.Activity.Keywords"/>
                <span style="color: #4193ff;">&nbsp;&nbsp;多个关键字请用英文半角逗号","隔开，不要使用中文全角逗号“，”哦！</span>
            </div>
            <div class="clearfix"></div>

            <div class="ur_title lh24">
                <span class="red ch"></span>地址：
            </div>
            <div class="ur_box">
                <select id="ddlProvince" name="LocationId[]" onchange="loadCities()">
                    <option value="">省份</option>
                    @if (Model.Provinces != null && Model.Provinces.Count > 0)
                    {
                        foreach (var item in Model.Provinces)
                        {
                            if (!string.IsNullOrEmpty(Model.Activity.Province) && Model.Activity.Province == item.Id)
                            {
                        <option value="@item.Id" selected="selected">@item.Name</option>
                            }
                            else
                            {
                        <option value="@item.Id">@item.Name</option>
                            }
                        }
                    }
                </select>
                <select id="ddlCity" name="LocationId[]" onchange="loadAreas()">
                    <option value="">全省/市</option>
                    @if (Model.Cities != null && Model.Cities.Count > 0)
                    {
                        foreach (var item in Model.Cities)
                        {
                            if (!string.IsNullOrEmpty(Model.Activity.City) && Model.Activity.City == item.Id)
                            {
                        <option value="@item.Id" selected="selected">@item.Name</option>
                            }
                            else
                            {
                        <option value="@item.Id">@item.Name</option>
                            }
                        }
                    }
                </select>
                <select id="ddlArea" name="LocationId[]">
                    <option value="">----</option>
                    @if (Model.Areas != null && Model.Areas.Count > 0)
                    {
                        foreach (var item in Model.Areas)
                        {
                            if (!string.IsNullOrEmpty(Model.Activity.Area) && Model.Activity.Area == item.Id)
                            {
                        <option value="@item.Id" selected="selected">@item.Name</option>
                            }
                            else
                            {
                        <option value="@item.Id">@item.Name</option>
                            }
                        }
                    }
                </select>
                <span style="color: #4193ff;">&nbsp;&nbsp; 选填，无地区要求可不选.</span>
            </div>
            <div class="clearfix"></div>
            <div class="ur_title">
                <span class="red ch"></span>详细地址：
            </div>
            <div class="ur_box">
                <input name="Adress" type="text" class="ur_txt1" value="@Model.Activity.Adress"/>
                <span style="color: #4193ff;">&nbsp;&nbsp;详细活动地址.</span>
            </div>
            <div class="clearfix"></div>

            <div class="ur_title lh24">
                <span class="red ch"></span>组图：
            </div>
        <div class="ur_box">
            <div style="margin-bottom: 5px;">
                <ul>
                    @foreach (var img in Model.Activity.ImgUrls)
                    {
                        <li style="float: left; width: 100px; height: 100px; margin-left: 8px;">
                            <img src="@img" width="100px" height="100px;"/>
                        </li>
                    }
                </ul>
            </div>
            <input type="hidden" id="ImageUrls" name="ImageUrl" value="@Model.Activity.ImageUrl"/>
        </div>
            <div class="clearfix"></div>




            <div class="ur_title lh24">
                <span class="red ch"></span>详细内容：
            </div>
            <div class="ur_box">
                <textarea id="editorContent" name="contentStyle">@Model.Activity.ContentStyle</textarea>
            </div>
            <div class="clearfix"></div>

            <div class="ur_tj">
                <input type="submit" class="tjzl_btn" value="更 新" />
                <input type="button" onclick="deleteactivity((@Model.Activity.Id));" class="tjzl_btn" value="删 除"/>
            </div>


        </form>
    </div>
    <div style="clear: both; height: 30px;"></div>
</div>
@section FooterJS
{
    <script src="~/Content/js/Activity/shareactivity.js"></script>
}