@model Witbird.SHTS.Web.Models.User.UserViewModel
@{
    ViewBag.Title = "用户中心 | " + Witbird.SHTS.Web.Public.StaticUtility.Config.Name;
    Layout = "~/Views/Shared/WebLayoutPage.cshtml";
}
@section head
{
    <link href="/content/css/news.css" rel="stylesheet"/>
    <link href="~/Content/css/user.css" rel="stylesheet"/>
    <script src="/Content/upload/jquery-1.4.2.min.js"></script>
    <script src="/Content/js/city.js"></script>
    <style type="text/css">
                #news {
            background-color: transparent;
            margin-top: 0;
            border-top: none;
        }

            #news a {
                color: white;
                font-weight: normal;
                font-size: 15px;
            }
    </style>
}

<div class="main w1000">
    <div class="location">
        您当前所处的位置：<a href="/" class="blue">首页</a><span class="ch c1">&nbsp;&gt;&nbsp;</span><a href="/user/" class="blue">用户中心</a><span class="ch">&nbsp;&gt;&nbsp;账户资料</span>
    </div>
    @Html.Action("UserMenu", "User")
    <div class="user_right">
        <div class="user_right_bt">
            <p class="n1">编辑个人信息</p>
        </div>
        <form action="/user/updatebasic" method="POST" enctype="multipart/form-data">
            <div style="float: left;">
                <div class="ur_title">
                    <span class="red ch"></span>用户名：
                </div>
                <div class="ur_box">
                    <h3 class="ur_txt1">@Model.UserEntity.UserName</h3>
                </div>
                <div class="clearfix"></div>
                <div class="ur_title lh24">
                    <span class="red ch"></span>手机号码：
                </div>
                <div class="ur_box">
                    <h3 class="ur_txt1">@Model.UserEntity.Cellphone</h3>
                </div>
                <div class="clearfix"></div>
                <div class="ur_title lh24">
                    <span class="red ch"></span>邮箱：
                </div>
                <div class="ur_box">
                    <h3 class="ur_txt1">@Model.UserEntity.Email</h3>
                </div>
                <div class="clearfix"></div>
                <div class="ur_title lh24">
                    <span class="red ch"></span>地址：
                </div>
                <div class="ur_box">
                    @if (!string.IsNullOrEmpty(Model.UserEntity.LocationId))
                    {
                        <select id="ddlProvince" name="LocationId[]" onchange=" loadCities() ">
                            <option value="">省份</option>
                            @if (Model.Provinces != null && Model.Provinces.Count > 0)
                            {
                                foreach (var item in Model.Provinces)
                                {
                                    if (!string.IsNullOrEmpty(Model.UserEntity.Province) && Model.UserEntity.Province == item.Id)
                                    {
                                <option value="@item.Id" selected="selected">@item.Name</option>
                                }
                                else
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                            }
                        }
                        </select>
                        <select id="ddlCity" name="LocationId[]" onchange=" loadAreas() ">
                            <option value="">全省/市</option>
                            @if (Model.Cities != null && Model.Cities.Count > 0)
                            {
                                foreach (var item in Model.Cities)
                                {
                                    if (!string.IsNullOrEmpty(Model.UserEntity.City) && Model.UserEntity.City == item.Id)
                                    {
                                <option value="@item.Id" selected="selected">@item.Name</option>
                                }
                                else
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                            }
                        }
                        </select>
                        <select id="ddlArea" name="LocationId[]">
                            <option value="">----</option>
                            @if (Model.Areas != null && Model.Areas.Count > 0)
                            {
                                foreach (var item in Model.Areas)
                                {
                                    if (!string.IsNullOrEmpty(Model.UserEntity.Area) && Model.UserEntity.Area == item.Id)
                                    {
                                <option value="@item.Id" selected="selected">@item.Name</option>
                                }
                                else
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                            }
                        }
                        </select>
                }
                    else
                    {
                        <select id="ddlProvince" name="LocationId[]" onchange=" loadCities() ">
                            <option value="">省份</option>
                            @if (Model.Provinces != null && Model.Provinces.Count > 0)
                            {
                                foreach (var item in Model.Provinces)
                                {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                        </select>
                        <select id="ddlCity" name="LocationId[]" onchange=" loadAreas() ">
                            <option value="">城市</option>
                        </select>
                        <select id="ddlArea" name="LocationId[]">
                            <option value="">县、区、商圈</option>
                        </select>
                }
                    <input name="Adress" type="text" class="ur_txt1 w150" style="display: block;" value="@Model.UserEntity.Adress"/>
                </div>
                <div class="clearfix"></div>
                <div class="ur_title lh24">
                    <span class="red ch"></span>QQ：
                </div>
                <div class="ur_box">
                    <input name="QQ" type="text" class="ur_txt1 w150" value="@Model.UserEntity.QQ"/>
                </div>
            </div>

            <div style="float: left;">
                <div class="clearfix"></div>
                <div class="ur_title"><span class="red ch"></span>
                    头像：
                </div>
                <div class="ur_box">
                    <div style="margin-top: 5px;">
                        <img id="preview" src="@Model.UserEntity.Photo" width="304px" height="300px"/>
                    </div>
                    <div>
                        <input name="IdentiyImgFile" style="width: 190px" id="IdentiyImgFile" type="text" class="ur_txt1"/>
                        <input name="Photo" id="IdentiyImg" type="file" style="opacity: 0; display: none;"/>
                        <input type="button" id="IdentiyImgBtn" class="ll_btn" value="选择文件…"/>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="ur_tj">
                <input type="submit" class="tjzl_btn" value="提交"/>
            </div>
        </form>
    </div>
    <div style="clear: both; height: 30px;"></div>
</div>

@section FooterJS
{
<script type="text/javascript">
    //上传图片实时预览
    $(function () {
        //建立一個可存取到該file的url
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        function uploadfile(ele) {
            var objUrl = getObjectURL(ele.files[0]);
            $("#preview").attr("src", objUrl);
            $("#IdentiyImgFile").val($('#IdentiyImg').val());
        }
        $("#IdentiyImgBtn").click(function () {
            $("#IdentiyImg").click();
        });
        $("#IdentiyImg").change(function () {
            uploadfile(this);
        });
    });
</script>
}