@model Witbird.SHTS.Web.Models.User.UserViewModel
@{
    ViewBag.Title = "用户中心-密码管理 | " + Witbird.SHTS.Web.Public.StaticUtility.Config.Name;
    Layout = "~/Views/Shared/WebLayoutPage.cshtml";
}
@section head
{
    <link href="~/Content/css/user.css" rel="stylesheet" />
    <script type="text/javascript">
        function showOldPassword(obj) {
            if (obj.checked) {
                document.getElementById("oldpsw").setAttribute("type", "text");
            }
            else {
                document.getElementById("oldpsw").setAttribute("type", "password");
            }
        }
    </script>
}

<div class="main w1000">
    <div class="location">
        您当前所处的位置：<a href="/" class="blue">首页</a><span class="ch c1">&nbsp;&gt;&nbsp;</span><a href="/user/" class="blue">用户中心</a><span class="ch">&nbsp;&gt;&nbsp;密码管理</span>
    </div>
    @Html.Action("UserMenu", "User")
    <div class="user_right">
        <div class="user_right_bt">
            <p class="n1">密码管理</p>
        </div>
        <form action="#" method="POST" id="updatepassword">
            <div class="ur_title"><span class="red ch"></span>原密码：</div>
            <div class="ur_box" style="position:relative;">
                <input name="oldpassword" type="password" id="oldpsw" class="ur_txt1 w150" value="@Model.UserEntity.QQ"/>
                <input type="checkbox" style="width:15px; height:15px;" onclick="showOldPassword(this)" /> 显示密码
            </div>
            <div class="clearfix"></div>
            <div class="ur_title lh24"><span class="red ch"></span>新密码：</div>
            <div class="ur_box">
                <input name="newpassword" id="newpassword" type="password" class="ur_txt1 w150" value="@Model.UserEntity.QQ"/>
            </div>
            <div class="clearfix"></div>
            <div class="ur_title lh24"><span class="red ch"></span>重复密码：</div>
            <div class="ur_box">
                <input name="confirmnewpassword" type="password" class="ur_txt1 w150" value="@Model.UserEntity.QQ"/>
            </div>
            <div class="clearfix"></div>
            <div class="ur_tj">
                <input type="submit" id="updatepasswordbtn" class="tjzl_btn" value="提交" />
            </div>
        </form>
    </div>
    <div style="clear: both; height: 30px;"></div>
</div>
<input type="hidden" id="errormsg" value="@Model.ErrorMsg"/>
@section FooterJS
{
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/User/updatep.js"></script>
}
