@model Witbird.SHTS.Web.Areas.Admin.Models.DemandModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/areas/admin/content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/areas/admin/content/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/areas/admin/content/js/jquery.js"></script>
    <script type="text/javascript" src="/areas/admin/content/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="/areas/admin/content/js/select-ui.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 150
            });
            $(".select3").uedSelect({
                width: 100
            });
        });

        var hasAllDemandsSelected = false;

        function selectAllDemands(cbxSelectAll) {
            if (!hasAllDemandsSelected) {
                $('.cbxDemand').each(function () {
                    $(this).attr("checked", "checked");
                });

                $(cbxSelectAll).attr("checked", "checked");

                hasAllDemandsSelected = true;
            }
            else {
                $('.cbxDemand').each(function () {
                    $(this).removeAttr("checked");
                });

                $(cbxSelectAll).removeAttr("checked");

                hasAllDemandsSelected = false;
            }
        }

        function onCbxDemandSelectChanged(cbxDemand) {
            if ($(cbxDemand).attr('checked') == false) {
                hasAllDemandsSelected = false;
                $('#cbxSelectAll').removeAttr("checked");
            }
        }

        function getAllSelectedDemandsID() {
            var ids = new Array();
            $('.cbxDemand').each(function () {
                if ($(this).attr("checked") == true) {
                    ids.push($(this).val());
                }
            });

            return ids;
        }

        function doBtnSetWeChatBuyDemandFeeClickEvent() {
            var allSelectedIds = getAllSelectedDemandsID();
            //allSelectedIds.forEach(function (item) {
            //    alert(item);
            //});

            if (allSelectedIds.length == 0) {
                alert('请选择需要设置的需求信息！');
                return false;
            }
            else if (checkValidFee()) {
                if (confirm('您确认需要设置' + allSelectedIds.length + '条需求信息吗?')) {
                    // Invoke service
                    var demandIds = '';

                    allSelectedIds.forEach(function (e) {
                        demandIds += e + ',';
                    });

                    $.post(
                        '/admin/demand/UpdateDemandWeixinBuyFee',
                        {
                            demandIds: demandIds,
                            weixinBuyFee: $('#txtWeChatBuyDemandFee').val()
                        },
                        function (data) {
                            if (data.IsSuccessFul) {
                                alert('设置成功！');
                                $('.cbxDemand').each(function () {
                                    $(this).removeAttr('checked');
                                });
                                $('#cbxSelectAll').removeAttr("checked");
                                hasAllDemandsSelected = false;
                                window.location = window.location;
                            }
                            else {
                                alert('设置微信购买金额失败！');
                            }
                        });
                }
            }
            else {
                // do nothing
            }
        }

        function checkValidFee() {
            var fee = $('#txtWeChatBuyDemandFee').val();
            if (fee <= 0) {
                alert('请输入正确的购买金额');
                return false;
            }

            return true;
        }

        function validateInput(input) {
            var value = $(input).val();
            if (value.length == 1) {
                $(input).val(value.replace(/[^1-9]/g, ''));
            }
            else {
                $(input).val(value.replace(/\D/g, ''));
            }
        }
    </script>
    <style>
        .weixinpart {
            float: right;
            font-weight: bold;
            padding-right: 10px;
        }

            .weixinpart span {
                font-size: 16px;
                color: blue;
            }

            .weixinpart input {
                margin-left: 10px;
                margin-right: 10px;
                padding-left: 10px;
                border: 1px solid;
                font-size: 13px;
                line-height: 20px;
                height: 20px;
                width: 180px;
            }

            .weixinpart button {
                font-size: 16px;
                font-weight: bold;
                color: blue;
            }

                .weixinpart button:hover {
                    cursor: pointer;
                }
    </style>
</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/admin/">首页</a></li>
            <li><a href="/admin/demand/index">需求列表</a></li>
        </ul>
    </div>

    <div class="formbody">


        <div id="usual1" class="usual">

            <div class="itab">
                <ul>
                    <li><a href="#tab1" class="selected">需求列表</a></li>
                    <content class="weixinpart">
                        <span>统一为选择的需求设置微信服务号购买联系方式金额</span>
                        <input type="text" id="txtWeChatBuyDemandFee" onkeyup="validateInput(this)" onafterpaste="validateInput(this)" placeholder="请输入购买金额（单位：元）" />
                        <button id="btnSetWeChatBuyDemandFee" onclick="doBtnSetWeChatBuyDemandFeeClickEvent();">确定</button>
                    </content>
                </ul>
            </div>

            <div id="tab1" class="tabson">


                <table class="tablelist">
                    <thead>
                        <tr>
                            <th>
                                <input id="cbxSelectAll" onclick="selectAllDemands(this);" type="checkbox" value="" />
                            </th>
                            <th>序号</th>
                            <th>需求类型</th>
                            <th style="min-width:250px;">标题</th>
                            <th>发布者</th>
                            <th>地区</th>
                            <th>微信金额</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            @*<th>发布时间</th>*@
                            <th>需求状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Demands != null && Model.Demands.Count > 0)
                        {
                            foreach (var item in Model.Demands)
                            {
                                <tr>
                                    <td>
                                        <input onchange="onCbxDemandSelectChanged(this);" class="cbxDemand" type="checkbox" value="@item.Id" />
                                    </td>
                                    <td>
                                        <span>@item.RowNumber</span>
                                    </td>
                                    <td>
                                        <span>@item.ResourceTypeName</span>
                                    </td>
                                    <td>
                                        <a href="/demand/show/@item.Id" target="_blank" style="color: #3858FA;">@item.Title</a>
                                    </td>
                                    <td>@item.UserName</td>
                                    <td>
                                        @Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(item.Province, item.City, item.Area)
                                    </td>
                                    <td>
                                        @item.WeixinBuyFee 元
                                    </td>
                                    <td>
                                        <span>@item.StartTime.Value.ToString("yyyy-MM-dd")</span>
                                    </td>
                                    <td>
                                        <span>@item.EndTime.Value.ToString("yyyy-MM-dd")</span>
                                    </td>
                                    @*<td>
                                            <span>@item.InsertTime.ToString("yyyy-MM-dd HH:mm")</span>
                                        </td>*@
                                    @if (item.InProgress)
                                    {
                                        <td>
                                            <span>
                                                @item.StatusValueString &nbsp;
                                                <a href="/admin/demand/UpdateDemandStatusAsComplete/@item.Id" title="将需求标记为已完成状态" style="color: #3858FA;" onclick="if(confirm('请确认该需要已找到资源提供商？')==false)return false;">已完成</a>
                                            </span>
                                        </td>
                                    }
                                    else if (item.IsCompleted)
                                    {
                                        <td>
                                            <span>
                                                @item.StatusValueString
                                        </td>
                                    }
                                    else
                                    {
                                        <td><span>---</span></td>
                                    }

                                    <td>
                                        <a href="/admin/demand/delete?id=@item.Id" class="tablelink" style="color:#ff0000;" onclick="if(confirm('亲，你确认要删除吗？')==false)return false;">删除</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <div style="height:30px;"></div>

                <!--分页开始-->
                <div class="fenye" style="margin: 0 auto;">
                    @if (Model.PageCount > 1)
                    {
                        for (int step = 1; step <= Model.PageCount; step = step + Model.PageStep)
                        {
                            if (Model.PageIndex >= step && Model.PageIndex < step + Model.PageStep)
                            {
                                //上一页
                                if (Model.PageIndex > 1)
                                {
                                    <span><a href="/admin/demand/index?id=@(Model.PageIndex - 1)&resourceType=@Model.ResourceType" class="prv">上一页</a></span>
                                }
                                //首页
                                if (Model.PageStep < Model.PageIndex)
                                {
                                    <span><a href="/admin/demand/index?id=1&resourceType=@Model.ResourceType">首页</a></span>
                                }
                                //分页
                                for (int i = step; i < step + Model.PageStep; i++)
                                {
                                    if (i <= Model.PageCount)
                                    {
                                        if (i == Model.PageIndex)
                                        {
                                            <span><a href="/admin/demand/index?id=@i&&resourceType=@Model.ResourceType" class="no">@i</a></span>
                                        }
                                        else
                                        {
                                            <span><a href="/admin/demand/index?id=@i&resourceType=@Model.ResourceType">@i</a></span>
                                        }
                                    }
                                }
                                //末页
                                if (step + Model.PageStep <= Model.PageCount)
                                {
                                    <span><a href="/admin/demand/index?id=@(Model.PageCount)&resourceType=@Model.ResourceType">末页</a></span>
                                }
                                //下一页
                                if (Model.PageIndex < Model.PageCount)
                                {
                                    <span><a href="/admin/demand/index?id=@(Model.PageIndex + 1)&resourceType=@Model.ResourceType" class="next">下一页</a></span>
                                }
                            }
                        }
                    }
                </div>
                <!--分页结束-->

            </div>
        </div>

        <script type="text/javascript">
            $("#usual1 ul").idTabs();
        </script>

        <script type="text/javascript">
            $('.tablelist tbody tr:odd').addClass('odd');
        </script>

    </div>


</body>

</html>
