@model Witbird.SHTS.Model.DemandQuote
@{
    ViewBag.Title = "需求报价详情";
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
    var currentWeChatUser = Session[Witbird.SHTS.Web.Areas.Wechat.Controllers.WechatBaseController.WeChatUserInfo] as Witbird.SHTS.Model.WeChatUser;
}
@section head
{
    <link href="/content/css/login.css" rel="stylesheet" />
    <link href="/Content/dialog/css/base.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

    <style type="text/css">
        .dtitle {
            font-size: 18px !important;
        }

        .reg-form .cell label {
            position: absolute;
            font-size: 10px;
            color: red !important;
            top: 30px;
            padding-left: 12px;
        }

        .wrap {
            height: auto;
        }

        .register-box {
            position: initial;
            margin-bottom: 20px;
        }

        .glyphicon {
            top: 2px;
            padding-right: 2px;
        }

        .panel {
            word-break: break-word;
        }

        .panel-heading {
            padding-left: 10px !important;
        }

        .panel-body, .table td {
            font-size: 14px !important;
        }

        .table a {
            border-radius: 15px;
            font-size: 14px;
            padding: 0;
            padding-left: 10px;
            padding-right: 10px;
        }

        .table .right {
            text-align: right;
        }

        .table .left {
            width: 80px;
            text-align: left;
            padding-right: 0;
        }

        .table .primary {
            /*color: #FD9102;*/
        }
    </style>
    @*for chat history*@
    <style>
        #container {
            border-top: 2px solid #DDD;
            padding-bottom: 20px;
            margin-top: 20px;
        }

        .header {
            background: #000;
            height: 40px;
            color: #fff;
            line-height: 34px;
            font-size: 20px;
            padding: 0 10px;
        }

        .footer {
            width: 100%;
            position: fixed;
            bottom: 0;
            background: #fff;
            z-index: 999;
        }

            .footer textarea {
                width: 68%;
                height: 40px;
                padding: 5px;
                font-size: 18px;
                border-radius: 5px;
                outline: none;
            }

            .footer button {
                border-radius: 5px !important;
                position: absolute;
                font-size: 17px;
                font-weight: bold;
            }

            .footer .btn-group {
                margin-left: -2px;
            }

            .footer button.btn-more {
                background: none;
                padding: 0 !important;
                margin-left: 2px !important;
            }

                .footer button.btn-more .glyphicon {
                    border: 1px solid;
                    border-radius: 50%;
                    width: 34px;
                    height: 34px;
                    padding: 0 !important;
                    font-size: 30px;
                    font-family: initial !important;
                }

        .content {
            padding: 15px;
        }

            .content li {
                margin-top: 10px;
                width: 100%;
                display: block;
                clear: both;
                overflow: hidden;
            }


                .content li .imgleft {
                    float: left;
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                    border: 1px solid #ddd;
                }

                .content li .imgright {
                    float: right;
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                    border: 1px solid #ddd;
                }


                .content li .spanleft, .content li .spanright {
                    padding: 5px;
                    border-radius: 10px;
                    float: left;
                    margin-right: 10px;
                    margin-left: 10px;
                    max-width: 65%;
                    min-width: 20px;
                    border: 1px solid #ccc;
                    box-shadow: 0 0 3px #ccc;
                    word-wrap: break-word;
                }

                .content li .spanleft {
                    float: left;
                    background: #fff;
                }

                .content li .spanright {
                    float: right;
                    background: #7cfc00;
                }

                .content li .img_video {
                    background: #fff;
                    border: none;
                    box-shadow: none;
                }

                .content li .spanleft img, .content li .spanright img, .content li .spanleft video, .content li .spanright video {
                    width: 80px;
                    max-height: 100px;
                    cursor: pointer;
                }

                .content li .video {
                    display: inline-block;
                    background: #fff !important;
                }

                    .content li .video img {
                        /*opacity: 0.6;*/
                    }

                .content li .spanleft .video img {
                    float: left;
                }

                .content li .video .btn-video-play {
                    z-index: 10;
                    font-size: 30px;
                    height: 30px;
                    width: 30px;
                    cursor: pointer;
                    vertical-align: middle;
                    background: white;
                    border-radius: 50%;
                    opacity: 0.8;
                }

                .content li .spanleft .video .btn-video-play {
                    margin-left: -55px;
                    margin-top: 35px;
                }

                .content li .spanright .video .btn-video-play {
                    margin-right: -55px;
                }

                .content li.time {
                    height: 20px;
                    margin-bottom: -5px;
                }

                    .content li.time span {
                        border: none !important;
                        font-size: 11px !important;
                        color: #898989 !important;
                        box-shadow: none !important;
                        background: none !important;
                    }

                    .content li.time .spanleft {
                        padding-left: 32px !important;
                    }

                    .content li.time .spanright {
                        padding-right: 32px !important;
                    }

                .content li.high-light {
                    font-weight: bold;
                }

        .upload-progress {
            padding-right: 20px;
        }

            .upload-progress .info {
            }

            .upload-progress .progress {
                height: 15px;
                margin-bottom: 2px;
            }

                .upload-progress .progress .progress-bar {
                    line-height: 15px;
                    min-width: 2em;
                }

        .bottom {
            height: 30px;
            margin-top: 15px;
        }

            .bottom button {
                width: 48%;
                height: 30px;
                border-radius: 10px;
            }

        .commonlist {
            padding: 0;
        }

        .btn-group, .btn-group-vertical {
            vertical-align: initial !important;
        }

        .dropdown-menu {
            min-width: initial !important;
        }

        .btn-Upload {
            border-radius: 15px;
            font-size: 17px;
            padding: 0;
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
        }

            .btn-Upload input[type=file] {
                cursor: pointer;
            }

        .ds_dialog, .ds_dialog_active {
            left: 0 !important;
        }

        .ds_dialog_content img, .ds_dialog_content video {
            width: 100%;
            max-height: 400px;
        }

        .uploadifive-queue {
            display: none;
        }

        input[type=file] {
            display: none;
        }

        .panel-body {
            padding: 15px 0px !important;
        }
    </style>
    @*for chat history*@

}

<div class="main">
    <div class="register-box" style="width: 100%;height: auto; background-color: #ffffff;">

        @if (Model != null)
        {
            var contactName = "联系人：" + Model.ContactName;
            //var contactPhone = "电话：" + Model.ContactPhoneNumber;
            var quotePrice = "报价/报名：" + Model.QuotePrice;
            var quoteTime = Model.InsertedTimestamp.ToString("yyyy-MM-dd HH:mm:ss");

            <input type="hidden" id="quoteId" value="@Model.QuoteId" />

            var quoteStatus = string.Empty;
            var isPostedByMySelf = (Model.WeChatUserId == currentWeChatUser.Id);
            if (Model.AcceptStatus.Equals(Witbird.SHTS.Model.DemandQuoteStatus.Accept.ToString(), StringComparison.CurrentCultureIgnoreCase))
            {
                if (isPostedByMySelf)
                {
                    if (Model.HasWeChatUserBoughtForDemand)
                    {
                        quoteStatus = "您的报价已被客户接受，请拨打客户电话赶紧进一步洽谈吧！";
                    }
                    else
                    {
                        quoteStatus = "您的报价已被客户接受，请点击下方<span style='background-color:#337ab7;color:#fff;font-size:14px;'>&nbsp;获取联系方式&nbsp;</span>按钮，购买客户的电话";
                    }
                }
                else
                {
                    quoteStatus = "您已采纳该报价/报名！";
                }
            }
            else if (Model.AcceptStatus.Equals(Witbird.SHTS.Model.DemandQuoteStatus.Denied.ToString(), StringComparison.CurrentCultureIgnoreCase))
            {
                if (isPostedByMySelf)
                {
                    if (Model.HasWeChatUserBoughtForDemand)
                    {
                        quoteStatus = "该报价/报名已被拒绝！预祝下次报价成功！";
                    }
                    else
                    {
                        quoteStatus = "该报价/报名已被拒绝！预祝下次报价成功！如需继续联系客户，请点击下方<span style='background-color:#337ab7;color:#fff;font-size:14px;'>&nbsp;获取联系方式&nbsp;</span>按钮，购买查看客户联系方式";
                    }
                }
                else
                {
                    quoteStatus = "您已拒绝该报价/报名！<br />您可以点击下方<span style='background-color:#9ed04d;color:#fff;font-size:14px;'>&nbsp;接受报价/报名&nbsp;</span>按钮重新接受该报价/报名！";
                }
            }
            else
            {
                if (isPostedByMySelf)
                {
                    if (Model.HasWeChatUserBoughtForDemand)
                    {
                        quoteStatus = "客户正在查看您的报价！如果长时间未回复，请拨打客户电话联系客户。";
                    }
                    else
                    {
                        quoteStatus = "客户正在查看您的报价！如果长时间未回复，请点击下边<span style='background-color:#337ab7;color:#fff;font-size:14px;'>&nbsp;获取联系方式&nbsp;</span>按钮，查看客户电话，联系客户！";
                    }
                }
                else
                {
                    quoteStatus = "报价等待处理中！";
                }
            }
            <div class="panel panel-info">
                <div class="panel-heading">报价状态</div>
                <table class="table table-striped">
                    <tr>
                        <td class="yellow2">
                            @(new HtmlString(quoteStatus))
                        </td>
                    </tr>
                    @if (Model.Demand.UserId == (currentWeChatUser.UserId ?? -1) && (Model.AcceptStatus == "Wait" || Model.AcceptStatus == "Denied"))
                    {
                        <tr>
                            <td>
                                @if (Model.AcceptStatus == "Wait")
                                {
                                    <button type="button" id="btnAccept" class="btn btn-primary" style="float:left;width:45%;">接受报价/报名</button>
                                    <button type="button" id="btnReject" class="btn btn-danger" style="float:right;width:45%;">拒绝</button>
                                }
                                else if (Model.AcceptStatus == "Denied")
                                {
                                    <button type="button" id="btnAccept" class="btn btn-primary" style="float:left;width:100%;">接受报价/报名</button>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">需求信息</div>
                <table class="table table-striped">
                    <tr>
                        <td class="left">需求内容：</td>
                        <td class=""><a href="/wechat/demand/show/@Model.Demand.Id" style="padding-left:0;">@Model.Demand.Title</a></td>
                    </tr>
                    <tr>
                        <td class="left">区域位置：</td>
                        <td class="">@Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(Model.Demand.Province, Model.Demand.City, Model.Demand.Area)</td>
                    </tr>
                    <tr>
                        <td class="left">预算金额：</td>
                        <td class="">
                            @if (Model.Demand.Budget == 0)
                            {
                                <span>面议</span>
                            }
                            else
                            {
                                <span>@(Model.Demand.Budget)元</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="left">起止时间：</td>
                        <td class="">@Model.Demand.StartTime.Value.ToString("yyyy/MM/dd") - @Model.Demand.EndTime.Value.ToString("yyyy/MM/dd")</td>
                    </tr>
                </table>
            </div>
            if (isPostedByMySelf)
            {
                var phone = "***********";
                var weixin = "分享朋友圈后即可免费查看";
                var email = "***********";
                if (Model.HasWeChatUserBoughtForDemand)
                {
                    phone = string.IsNullOrWhiteSpace(Model.Demand.Phone) ? "未填" : Model.Demand.Phone;
                    email = string.IsNullOrWhiteSpace(Model.Demand.Email) ? "未填" : Model.Demand.Email;

                }

                if (Model.HasWeChatUserSharedForDemand)
                {
                    weixin = string.IsNullOrWhiteSpace(Model.Demand.QQWeixin) ? "未填" : Model.Demand.QQWeixin;
                }

                <div class="panel panel-info">
                    <div class="panel-heading">客户联系方式</div>
                    <table class="table table-striped">
                        <tr>
                            <td class="left">联系电话：</td>
                            <td class="">@phone</td>
                            <td class="right">
                                @if (Model.HasWeChatUserBoughtForDemand)
                                {
                                    <a class="btn btn-success" href="tel:@phone"><i class="glyphicon glyphicon-earphone"></i>&nbsp;拨打</a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="left">QQ/微信：</td>
                            <td colspan="2">@weixin</td>
                        </tr>
                        <tr>
                            <td class="left">邮箱地址：</td>
                            <td colspan="2">
                                @email
                            </td>
                        </tr>

                        @if (!Model.HasWeChatUserSharedForDemand)
                        {
                            <tr>
                                <td colspan="3">
                                    <a href="javascript:void(0);" class="btn btn-primary" style="width:100%;height:30px;line-height:30px;" onclick="_system._guide(true);">免费查看联系微信</a>
                                </td>
                            </tr>
                        }
                        @if (!Model.HasWeChatUserBoughtForDemand)
                        {
                            <tr>
                                <td colspan="3">
                                    <a href="javascript:void(0);" class="btn btn-success" style="width:100%;height:30px;line-height:30px;" onclick="buyDemand(@Model.Demand.Id);">获取联系方式</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>

            }
            <div class="panel panel-success" style="margin-bottom: 50px;">
                <div class="panel-heading">报价/报名详情及回复：</div>
                <div class="panel-body">
                    <ul id="chatHistory" class="content">

                        @{
                            var rightPhotoUrl = currentWeChatUser.Photo;
                            var leftPhotoUrl = "";
                            var leftDisplayName = "";
                            var rightDisplayName = "我";

                            if (Model.Demand.UserId == (currentWeChatUser.UserId ?? -1))
                            {
                                leftPhotoUrl = "/content/wechat/images/quoteUserPhoto.png";
                                leftDisplayName = "报价方";
                            }
                            else
                            {
                                leftPhotoUrl = "/content/wechat/images/demandUserPhoto.png";
                                leftDisplayName = "客户";
                            }
                        }

                        @if (Model.WeChatUserId == currentWeChatUser.Id)
                        {
                            <li class="time"><span class="spanright">@quoteTime&nbsp;@(rightDisplayName)</span></li>
                            <li><img src="@rightPhotoUrl" class="imgright"><span class="spanright">@contactName</span></li>
                            @*<li><img src="@rightPhotoUrl" class="imgright"><span class="spanright">@contactPhone</span></li>*@
                            <li><img src="@rightPhotoUrl" class="imgright"><span class="spanright">@quotePrice</span></li>
                        }
                        else
                        {
                            <li class="time"><span class="spanleft">@(leftDisplayName)&nbsp;@quoteTime</span></li>
                            <li><img src="@leftPhotoUrl" class="imgleft"><span class="spanleft">@contactName</span></li>
                            @*<li><img src="@leftPhotoUrl" class="imgleft"><span class="spanleft">@contactPhone</span></li>*@
                            <li><img src="@leftPhotoUrl" class="imgleft"><span class="spanleft">@quotePrice</span></li>
                        }

                        @foreach (var history in Model.QuoteHistories)
                        {
                            if (!string.IsNullOrWhiteSpace(history.Comments))
                            {
                                var timestring = history.InsertedTimestamp.ToString("yyyy-MM-dd HH:mm:ss");
                                // Posted by myself
                                if (history.WeChatUserId == currentWeChatUser.Id)
                                {
                                    <li class="time"><span class="spanright">@timestring&nbsp;@(rightDisplayName)</span></li>
                                    <li><img src="@rightPhotoUrl" class="imgright"><span class="spanright">@(new HtmlString(history.Comments))</span></li>
                                }
                                else
                                {
                                    <li class="time"><span class="spanleft">@(leftDisplayName)&nbsp;@timestring</span></li>
                                    <li>
                                        <img src="@leftPhotoUrl" class="imgleft"><span class="spanleft">@(new HtmlString(history.Comments))</span>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>

            </div>

            <div class="footer">

                <div class="upload-progress hide">
                    <div class="info">
                        <span>上传中，请稍后...</span>
                        <span style="float: right;">
                            <span id="upload-loaded-total">0KB/0KB</span>
                            <span id="btnCancenUploading"></span>
                        </span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                        </div>
                    </div>
                </div>
                <textarea id="text" name="comments" type="text" placeholder="输入您的回复内容..."></textarea>
                <div class="btn-group dropup">
                    <button id="btnSend" class="btn btn-primary">发送</button>
                    <button type="button" class="btn btn-more dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:none;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <input name="file_upload" id="file_upload" type="file" class="hide" accept="image/*" />
                        </li>
                        <li>
                            <input name="file_upload_video" id="file_upload_video" type="file" class="hide" accept="video/*" />
                        </li>
                    </ul>
                </div>
            </div>
                            }
                            else
                            {
                                <ul class="commonlist" style="">
                                    <li class="atitle">
                                        <lable style="color: #FD9102;font-size:16px;">您所查询的报价记录不存在或已删除！</lable>
                                    </li>
                                </ul>
                            }
    </div>
</div>
@{
    var errorMessage = ViewData["ErrorMessage"] ?? string.Empty;
}
<input type="hidden" id="txtMessage" value="@errorMessage" />
@section FooterJS
{
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Content/uploadifive/jquery.uploadifive.js"></script>
    <script src="~/Areas/Wechat/Content/scipts/autoHeightForTextArea.js?v=4"></script>
    <script>
        autoTextarea('text');
    </script>
    <script>
        $('#btnSend').click(function () {
            var arrIconSrc = '@currentWeChatUser.Photo';
            var text = document.getElementById('text');
            var content = document.getElementById('chatHistory');
            var comments = text.value;

            if (comments == '') {
                text.focus();
                return;
            } else {
                var timeNode = document.createElement('li');
                var textNode = document.createElement('li');
                var currentTime = new Date().Format('yyyy-MM-dd hh:mm:ss');

                $(timeNode).addClass('time');
                timeNode.innerHTML = '<span class="spanright">' + currentTime + '&nbsp;我</span>';
                textNode.innerHTML = '<img class="imgright" src="' + arrIconSrc + '"><span class="spanright">' + comments + '</span>'
                content.appendChild(timeNode);
                content.appendChild(textNode);
                scrollToButtom();
                text.value = '';
                // Saves to database
                $.post('/wechat/quote/AddQuoteHistory',
                {
                    quoteId: $('#quoteId').val(),
                    comments: comments
                },
                function (data) {
                    if (!data.IsSuccessful) {
                        content.removeChild(timeNode);
                        content.removeChild(textNode);
                        text.value = comments;
                        if (data.ErrorMessage != '') {
                            showMessage(data.ErrorMessage, false);
                        }
                        else {
                            showMessage('消息发送失败，请重新尝试！', false);
                        }
                    }
                }).error(function () {
                    content.removeChild(timeNode);
                    content.removeChild(textNode);
                    text.value = comments;
                    showMessage('消息发送失败!', false);
                });
            }
        });

        var isCancelledUploading = false;
        $('#file_upload').uploadifive({
            'auto': true,
            'uploadScript': '/Content/upload/uploadimage.ashx',
            'buttonText': '<i class="glyphicon glyphicon-camera"></i><span onclick="confirmBeforeUpload(this,\'上传的图片尺寸大小不能超过10M。是否继续上传？\');">上传图片</span>',
            'buttonClass': 'btn btn-Upload',
            'removeCompleted': 'true',
            'fileType': 'image/*',
            'multi': false,
            'queueSizeLimit': 10,
            'uploadLimit': 10,
            'fileSizeLimit': 10 * 1024 * 1024,
            'onSelect': function (file) {
                $('.dropup').removeClass('open');
                showProgressBar();
            },
            'onCancel': function (file) {
                isCancelledUploading = true;
                hideProgressBar();
            },
            'onAddQueueItem': function (file) {
                if (file.size >= 10 * 1024 * 1024) {
                    showMessage('每张图片不能超过10M', false);
                    $("#file_upload").uploadifive('cancel');
                    return false;
                }
                hideProgressBar();
            },
            'onUploadComplete': function (file, data) {
                isCancelledUploading = false;
                var isSuccessful = false;
                var postfile = JSON.parse(data);
                var originalImg = '';
                if (postfile.Action) {
                    originalImg = postfile.OriginalImage;
                    var imgNode = '<img src=' + originalImg + ' alt="图片加载失败" />';

                    uploadMediaHistory(imgNode);
                }
                else {
                    showMessage('图片上传失败，请重新尝试', false);
                }

                hideProgressBar();
            },
            'onFallback': function () {
                isCancelledUploading = true;
                showMessage('您的浏览器不支持上传图片', false);
                hideProgressBar();
            },
            'onProgress': function (file, e) {
                if (e.lengthComputable) {
                    setProgressBar(e.loaded, e.total, false);
                }
            }
        });

        $('#file_upload_video').uploadifive({
            'auto': true,
            'uploadScript': '/Content/upload/uploadvideo.ashx',
            'buttonText': '<i class="glyphicon glyphicon-film"></i><span onclick="confirmBeforeUpload(this,\'上传的视频尺寸不能超过15秒，且大小不能超过20M。是否继续上传？\');">上传视频</span>',
            'buttonClass': 'btn btn-Upload',
            'removeCompleted': 'true',
            'fileType': 'video/*',
            'multi': false,
            'queueSizeLimit': 10,
            'uploadLimit': 10,
            'fileSizeLimit': 20 * 1024 * 1024,
            'onSelect': function (file) {
                $('.dropup').removeClass('open');
                showProgressBar();
            },
            'onCancel': function (file) {
                isCancelledUploading = true;
                hideProgressBar();
            },

            'onAddQueueItem': function (file) {
                if (file.size >= 20 * 1024 * 1024) {
                    showMessage('视频不能超过20M', false);
                    $("#file_upload_video").uploadifive('cancel');
                    return false;
                }

                hideProgressBar();
            },
            'onUploadComplete': function (file, data) {
                isCancelledUploading = false;
                var isSuccessful = false;
                var result = JSON.parse(data);
                if (result.IsSuccessful) {
                    var fileName = result.FileName;
                    var fileType = result.FileType;
                    var originalSource = '<source src=' + fileName + ' type="video/' + fileType + '" />';
                    var mp4Source = '<source src=' + result.Mp4FileName + ' type="video/mp4" />';
                    var imageFileName = result.ImageFileName;
                    var videoNode = '<span class="video"><i class="btn-video-play glyphicon glyphicon-play-circle" onclick="playVideo(this);"></i><img onclick="playVideo(this);" src="' + imageFileName
                        + '" alt="视频加载失败" /><video class="hide" preload="auto" poster="' + imageFileName + '">'
                        + mp4Source + originalSource + '</video></span>';

                    uploadMediaHistory(videoNode);
                }
                else {
                    showMessage('视频上传失败，请重新尝试', false);
                }

                hideProgressBar();
            },
            'onFallback': function () {
                isCancelledUploading = true;
                showMessage('您的浏览器不支持上传视频', false);
            },
            'onProgress': function (file, e) {
                if (e.lengthComputable) {
                    setProgressBar(e.loaded, e.total, false);
                }
            }
        });

        function confirmBeforeUpload(obj, message) {
            var fileControls = $(obj).parent().find('input[type=file]');
            if (fileControls) {
                $(fileControls).each(function () {
                    var fileControl = $(this);
                    if (fileControl.attr('style').indexOf('display') == -1) {
                        ds.dialog.confirm(message, function () {
                            fileControl.click();
                        });
                    }
                });
            }
        }
        refreshImgAndVideoMessages();

        //$('.content li span.spanleft video,.content li span.spanright video').click(function () {
        //    //showVideo($(this));
        //    $(this)[0].currentTime = 0;
        //    $(this)[0].play();
        //});

        function playVideo(obj) {
            var videoNode = $(obj).parent().find('video')[0];
            videoNode.currentTime = 0;
            videoNode.play();
        }

        function showBigImg(imgNode) {
            if (imgNode) {
                var clonedImgNode = $(imgNode).clone();
                ds.dialog({
                    title: '大图阅览',
                    content: clonedImgNode,
                    onclose: function () {
                        $('.ds_dialog').remove();
                    }
                });
            }
        }

        // This method is not currently used.
        function showVideo(videoNode) {
            if (videoNode) {
                var clonedVideoNode = ($(videoNode).clone())[0];
                $(clonedVideoNode).attr('controls', 'controls');
                $(clonedVideoNode).attr('autoplay', 'autoplay');
                //webkit-playsinline="true" playsinline="true" x5-video-player-type="h5"
                $(clonedVideoNode).attr('webkit-playsinline', 'true');
                $(clonedVideoNode).attr('playsinline', 'true');
                $(clonedVideoNode).attr('x5-video-player-type', 'h5');
                ds.dialog({
                    title: '视频阅览',
                    content: clonedVideoNode,
                    onclose: function () {
                        clonedVideoNode.pause();
                        $('.ds_dialog').remove();
                    }
                });
                clonedVideoNode.play();
                //$(clonedVideoNode).click(function () {
                //    if (!clonedVideoNode.paused) {
                //        clonedVideoNode.pause();
                //    }
                //    else {
                //        clonedVideoNode.play();
                //    }
                //});
            }
        }

        function cancelUploading() {
            $("#file_upload").uploadifive('cancel');
            $("#file_upload_video").uploadifive('cancel');
        }

        function showProgressBar() {
            if ($('.upload-progress').hasClass('hide')) {
                //$('#btnCancenUploading').html('<a href="javascriptvoid(0);" onclick="cancelUploading();">取消</a>');
                $('#btnCancenUploading').html('');
                $('.upload-progress').removeClass('hide');
            }
        }
        function hideProgressBar() {
            $('.upload-progress').addClass('hide');
            setProgressBar(0, 1, false);
        }
        function setProgressBar(loaded, total, isUploadComplete) {
            var percent = 1;
            if (!isUploadComplete) {
                percent = Math.round((loaded / total) * 100);
                percent = percent > 97 ? 97 : percent;
                var uploadedTotal = $('#upload-loaded-total');
                var progressBar = $('.upload-progress').find('.progress-bar');
                if (uploadedTotal) {
                    uploadedTotal.html(Math.ceil(loaded / 1024) + 'KB/' + Math.ceil(total / 1024) + 'KB');
                }
            }
            else {
                percent = 100;
            }

            if (progressBar) {
                progressBar.attr('aria-valuenow', percent);
                progressBar.css('width', percent + '%');
                progressBar.html(percent + '%');
            }

            if (percent == 100) {
                $('#btnCancenUploading').html('上传成功');
            }
        }

        function showPreviewMessage(messageNode) {
            var arrIconSrc = '@currentWeChatUser.Photo';
            var content = document.getElementById('chatHistory');
            var timeNode = document.createElement('li');
            var textNode = document.createElement('li');
            var currentTime = (new Date()).Format('yyyy-MM-dd hh:mm:ss');

            $(timeNode).addClass('time');
            timeNode.innerHTML = '<span class="spanright">' + currentTime + '&nbsp;我</span>';
            textNode.innerHTML = '<img class="imgright" src="' + arrIconSrc + '"><span class="spanright">' + messageNode + '</span>'
            content.appendChild(timeNode);
            content.appendChild(textNode);

            scrollToButtom();
            refreshImgAndVideoMessages();
        }

        function refreshImgAndVideoMessages() {
            $('.content li span.spanleft img,.content li span.spanright img').click(function () {
                if (!$(this).parent().hasClass('video')) {
                    showBigImg($(this));
                }
                else {
                    var videoNode = $(this).parent().find('video')[0];
                    videoNode.currentTime = 0;
                    videoNode.play();
                }
            });
            $('.content li span.spanleft img,.content li span.spanright img,.content li span.spanleft .video, .content li span.spanright .video').each(function () {
                $(this).parent().addClass('img_video');
            });
        }

        function uploadMediaHistory(mediaNode) {
            if (isCancelledUploading) {
                return;
            }
            var beginTime = new Date();
            if (mediaNode != '') {
                // Saves to database
                $.post('/wechat/quote/AddQuoteHistory',
                {
                    quoteId: $('#quoteId').val(),
                    comments: mediaNode
                },
                function (data) {
                    if (!data.IsSuccessful) {
                        if (data.ErrorMessage != '') {
                            showMessage(data.ErrorMessage, false);
                        }
                        else {
                            showMessage('上传失败，请重新尝试！', false);
                        }
                    }
                    else {
                        showPreviewMessage(mediaNode);
                    }

                }).error(function () {
                    showMessage('上传失败，请重新尝试！', false);
                });
            }
        }

        $('#btnAccept').click(function () {
            if (confirm('您确认接受该报价吗？')) {
                updateQuoteStatus('Accept');
            }
        });
        $('#btnReject').click(function () {
            if (confirm('您确认拒绝该报价吗？')) {
                updateQuoteStatus('Denied');
            }
        });

        function updateQuoteStatus(statusId) {
            // Saves to database
            $.post('/wechat/quote/UpdateQuoteStatus',
            {
                quoteId: $('#quoteId').val(),
                statusId: statusId
            },
            function (msg) {
                if (msg != '') {
                    showMessage(msg, true);
                }

                window.location.href = window.location.href;
            }).error(function () {
                showMessage('更新失败！', false);
                //window.location.reload();
            });
        }

        function buyDemand(demandId) {
            //wechat/demand/Buy
            $.post("/wechat/demand/Buy",
            {
                id: demandId
            },
            function (data) {
                if (data.IsSuccessFul) {
                    callPayApi(data.AppId, data.TimeStamp, data.NonceStr, data.Package, data.PaySign);
                }
                else {
                    showMessage(data.Message, false);
                }
            }).error(function (data) { showMessage(data, false); });
        }

        function callPayApi(appId, timeStamp, nonceStr, package1, paySign) {
            WeixinJSBridge.invoke('getBrandWCPayRequest', {
                "appId": appId,
                "timeStamp": timeStamp,
                "nonceStr": nonceStr,
                "package": package1,
                "signType": "MD5",
                "paySign": paySign
            }, function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    alert("购买成功！");
                    window.location.reload();
                }
                else {
                    if (res.err_msg == "get_brand_wcpay_request:cancel") {
                        showMessage("您取消了购买。", true);
                    }
                    else {
                        alert("微信你支付发生错误，错误代码: " + res.err_msg);
                    }
                }
            });
        }

        function showMessage(msg, isSuccessfulMsg) {
            if (msg != '') {
                if (isSuccessfulMsg) {
                    ds.dialog({
                        title: '消息提示',
                        content: msg,
                        icon: "/Content/dialog/images/success.png"
                    });
                }
                else {
                    ds.dialog({
                        title: '消息提示',
                        content: msg,
                        icon: "/Content/dialog/images/info.png"
                    });
                }
            }
        }

        function scrollToButtom() {
            window.scrollTo(0, document.body.scrollHeight);
        }
        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1,                 //月份
                "d+": this.getDate(),                    //日
                "h+": this.getHours(),                   //小时
                "m+": this.getMinutes(),                 //分
                "s+": this.getSeconds(),                 //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds()             //毫秒
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
    <script>
        var message = $('#txtMessage').val();
        if (message != '') {
            $('#txtMessage').val('');
            showMessage(message, false);
        }
    </script>
<script>
    var appId = '@Model.WechatShareParametersForQuote.AppId';
    var timestamp = @Model.WechatShareParametersForQuote.Timestamp;
    var nonceStr = '@Model.WechatShareParametersForQuote.NonceStr';
    var signature = '@Model.WechatShareParametersForQuote.Signature';
    var title = '活动在线-' + '@Model.WechatShareParametersForQuote.Title';
    var link = '@Model.WechatShareParametersForQuote.Link';
    var demandId = @Model.Demand.Id;
    var description = '预算费用：' + @Model.Demand.Budget > 0 ? @Model.Demand.Budget + '元' : '面议';

    wx.config({
        //debug: true,
        appId: appId,
        timestamp: timestamp,
        nonceStr: nonceStr,
        signature: signature,
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline'
        ]
    });

    wx.ready(function () {
        wx.onMenuShareAppMessage({
            title: title, // 分享标题
            desc: description, // 分享描述
            link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'http://www.huodongzaixian.com/areas/wechat/content/images/wechat_share_icon.png',
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareTimeline({
            title: title,
            link: link,
            imgUrl: 'http://www.huodongzaixian.com/areas/wechat/content/images/wechat_share_icon.png',
            success: function () {
                console.log('分享成功');
                $.post("/wechat/demand/sharewechat",
                {
                    id: demandId
                },
                function (data) {
                    console.log(data);
                    if (data.IsSuccessFul) {
                        window.location = window.location;
                    }
                }).error(function (data) {
                    alert('分享发生了点小故障，请刷新一下页面后再试试哦');
                });
            },
            cancel: function () {
                alert('分享朋友圈就可以免费查看微信哦');
            },
            complete: function(){
                document.getElementById('cover').style.display = "none";
                document.getElementById('guide').style.display = "none";
            }
        });
    });


    wx.error(function (res) {
        //alert('error');
    });
</script>
<script type="text/javascript">
    var _system={
        $:function(id){return document.getElementById(id);},
        _client:function(){
            return {w:document.documentElement.scrollWidth,h:document.documentElement.scrollHeight,bw:document.documentElement.clientWidth,bh:document.documentElement.clientHeight};
        },
        _scroll:function(){
            return {x:document.documentElement.scrollLeft?document.documentElement.scrollLeft:document.body.scrollLeft,y:document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop};
        },
        _cover:function(show){
            if(show){
                this.$("cover").style.display="block";
                this.$("cover").style.width=(this._client().bw>this._client().w?this._client().bw:this._client().w)+"px";
                this.$("cover").style.height=(this._client().bh>this._client().h?this._client().bh:this._client().h)+"px";
            }else{
                this.$("cover").style.display="none";
            }
        },
        _guide:function(click){
            this._cover(true);
            this.$("guide").style.display="block";
            this.$("guide").style.top=(_system._scroll().y+5)+"px";
            window.onresize=function(){_system._cover(true);_system.$("guide").style.top=(_system._scroll().y+5)+"px";};
            if(click){_system.$("cover").onclick=function(){
                _system._cover();
                _system.$("guide").style.display="none";
                _system.$("cover").onclick=null;
                window.onresize=null;
            };}
        },
        _zero:function(n){
            return n<0?0:n;
        }
    }
</script>
<style>
    #cover {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 18888;
        background-color: #000000;
        opacity: 0.7;
    }

    #guide {
        display: none;
        position: absolute;
        right: 18px;
        top: 5px;
        z-index: 19999;
    }

        #guide img {
            width: 260px;
            height: 180px;
        }
</style>
<div id="cover"></div>
<div id="guide"><img src="~/Areas/Wechat/Content/images/share_guide1.png" /></div>
}