@model Witbird.SHTS.Model.DemandQuote
@{
    ViewBag.Title = "需求报价详情";
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
    var currentWeChatUser = Session[Witbird.SHTS.Web.Areas.Wechat.Controllers.WechatBaseController.WeChatUserInfo] as Witbird.SHTS.Model.WeChatUser;
}
@section head
{
    <link href="/content/css/login.css" rel="stylesheet" />
    <link href="/Content/dialog/css/base.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

    <style type="text/css">
        .dtitle {
            font-size: 18px !important;
        }

        .reg-form .cell label {
            position: absolute;
            font-size: 10px;
            color: red !important;
            top: 30px;
            padding-left: 12px;
        }

        .wrap {
            height: auto;
        }

        .register-box {
            position: initial;
            margin-bottom: 20px;
        }

        .glyphicon {
            top: 2px;
            padding-right: 2px;
        }

        .panel {
            word-break: break-word;
        }

        .panel-heading {
            padding-left: 10px !important;
        }

        .panel-body, .table td {
            font-size: 14px !important;
        }

        .table a {
            border-radius: 15px;
            font-size: 14px;
            padding: 0;
            padding-left: 10px;
            padding-right: 10px;
        }

        .table .right {
            text-align: right;
        }

        .table .left {
            width: 80px;
            text-align: left;
            padding-right: 0;
        }

        .table .primary {
            /*color: #FD9102;*/
        }
    </style>
    @*for chat history*@
    <style>
        #container {
            border-top: 2px solid #DDD;
            padding-bottom: 20px;
            margin-top: 20px;
        }

        .header {
            background: #000;
            height: 40px;
            color: #fff;
            line-height: 34px;
            font-size: 20px;
            padding: 0 10px;
        }

        .footer {
            width: 100%;
            position: fixed;
            bottom: 0;
            background: #fff;
        }

            .footer textarea {
                width: 68%;
                height: 40px;
                padding: 5px;
                font-size: 18px;
                border-radius: 5px;
                outline: none;
            }

            .footer button {
                border-radius: 5px !important;
                position: absolute;
                font-size: 17px;
                font-weight: bold;
            }

            .footer .btn-group {
                margin-left: -2px;
            }

            .footer button.btn-more {
                background: none;
                padding: 0 !important;
                margin-left: 2px !important;
            }

                .footer button.btn-more .glyphicon {
                    border: 1px solid;
                    border-radius: 50%;
                    width: 34px;
                    height: 34px;
                    padding: 0 !important;
                    font-size: 30px;
                    font-family: initial!important;
                }

        .content {
            padding: 15px;
        }

            .content li {
                margin-top: 10px;
                width: 100%;
                display: block;
                clear: both;
                overflow: hidden;
            }


                .content li .imgleft {
                    float: left;
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                    border: 1px solid #ddd;
                }

                .content li .imgright {
                    float: right;
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                    border: 1px solid #ddd;
                }


                .content li span.spanleft, .content li span.spanright {
                    padding: 5px;
                    border-radius: 10px;
                    float: left;
                    margin-right: 10px;
                    margin-left: 10px;
                    max-width: 65%;
                    min-width: 20px;
                    border: 1px solid #ccc;
                    box-shadow: 0 0 3px #ccc;
                    word-wrap: break-word;
                }

                .content li span.spanleft {
                    float: left;
                    background: #fff;
                }

                .content li span.spanright {
                    float: right;
                    background: #7cfc00;
                }

                    .content li span.spanleft img, .content li span.spanright img, .content li span.spanleft video, .content li span.spanright video {
                        max-width: 80px;
                        max-height: 80px;
                        cursor: pointer;
                    }

                .content li.time {
                    height: 20px;
                    margin-bottom: -5px;
                }

                    .content li.time span {
                        border: none !important;
                        font-size: 11px !important;
                        color: #898989 !important;
                        box-shadow: none !important;
                        background: none !important;
                    }

                        .content li.time span.spanleft {
                            padding-left: 32px !important;
                        }

                        .content li.time span.spanright {
                            padding-right: 32px !important;
                        }

                .content li.high-light {
                    font-weight: bold;
                }

        .bottom {
            height: 30px;
            margin-top: 15px;
        }

            .bottom button {
                width: 48%;
                height: 30px;
                border-radius: 10px;
            }

        .commonlist {
            padding: 0;
        }

        .btn-group, .btn-group-vertical {
            vertical-align: initial !important;
        }

        .dropdown-menu {
            min-width: initial !important;
        }

        .btn-Upload {
            border-radius: 15px;
            font-size: 17px;
            padding: 0;
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
        }

            .btn-Upload input[type=file] {
                cursor: pointer;
            }

        .ds_dialog, .ds_dialog_active {
            left: 0 !important;
        }

        .ds_dialog_content img, .ds_dialog_content video {
            width: 100%;
            max-height: 400px;
        }

        .uploadifive-queue {
            display: none;
        }

        .panel-body {
            padding: 15px 0px !important;
        }
    </style>
    @*for chat history*@

}

<div class="main">
    <div class="register-box" style="width: 100%;height: auto; background-color: #ffffff;">

        @if (Model != null)
        {
            var contactName = "联系人：" + Model.ContactName;
            //var contactPhone = "电话：" + Model.ContactPhoneNumber;
            var quotePrice = "报价/报名：" + Model.QuotePrice;
            var quoteTime = Model.InsertedTimestamp.ToString("yyyy-MM-dd HH:mm:ss");

            <input type="hidden" id="quoteId" value="@Model.QuoteId" />

            var quoteStatus = string.Empty;
            var isPostedByMySelf = (Model.WeChatUserId == currentWeChatUser.Id);
            if (Model.AcceptStatus.Equals(Witbird.SHTS.Model.DemandQuoteStatus.Accept.ToString(), StringComparison.CurrentCultureIgnoreCase))
            {
                if (isPostedByMySelf)
                {
                    if (Model.HasWeChatUserBoughtForDemand)
                    {
                        quoteStatus = "您的报价已被客户接受，请拨打客户电话赶紧进一步洽谈吧！";
                    }
                    else
                    {
                        quoteStatus = "您的报价已被客户接受，请点击下方<span style='background-color:#337ab7;color:#fff;font-size:14px;'>&nbsp;获取联系方式&nbsp;</span>按钮，购买客户的电话";
                    }
                }
                else
                {
                    quoteStatus = "您已采纳该报价/报名！";
                }
            }
            else if (Model.AcceptStatus.Equals(Witbird.SHTS.Model.DemandQuoteStatus.Denied.ToString(), StringComparison.CurrentCultureIgnoreCase))
            {
                if (isPostedByMySelf)
                {
                    if (Model.HasWeChatUserBoughtForDemand)
                    {
                        quoteStatus = "该报价/报名已被拒绝！预祝下次报价成功！";
                    }
                    else
                    {
                        quoteStatus = "该报价/报名已被拒绝！预祝下次报价成功！如需继续联系客户，请点击下方<span style='background-color:#337ab7;color:#fff;font-size:14px;'>&nbsp;获取联系方式&nbsp;</span>按钮，购买查看客户联系方式";
                    }
                }
                else
                {
                    quoteStatus = "您已拒绝该报价/报名！<br />您可以点击下方<span style='background-color:#9ed04d;color:#fff;font-size:14px;'>&nbsp;接受报价/报名&nbsp;</span>按钮重新接受该报价/报名！";
                }
            }
            else
            {
                if (isPostedByMySelf)
                {
                    if (Model.HasWeChatUserBoughtForDemand)
                    {
                        quoteStatus = "客户正在查看您的报价！如果长时间未回复，请拨打客户电话联系客户。";
                    }
                    else
                    {
                        quoteStatus = "客户正在查看您的报价！如果长时间未回复，请点击下边<span style='background-color:#337ab7;color:#fff;font-size:14px;'>&nbsp;获取联系方式&nbsp;</span>按钮，查看客户电话，联系客户！";
                    }
                }
                else
                {
                    quoteStatus = "报价等待处理中！";
                }
            }
            <div class="panel panel-info">
                <div class="panel-heading">报价状态</div>
                <table class="table table-striped">
                    <tr>
                        <td>
                            @(new HtmlString(quoteStatus))
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">需求信息</div>
                <table class="table table-striped">
                    <tr>
                        <td class="left">需求内容：</td>
                        <td class=""><a href="/wechat/demand/show/@Model.Demand.Id" style="padding-left:0;">@Model.Demand.Title</a></td>
                    </tr>
                    <tr>
                        <td class="left">区域位置：</td>
                        <td class="">@Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(Model.Demand.Province, Model.Demand.City, Model.Demand.Area)</td>
                    </tr>
                    <tr>
                        <td class="left">预算金额：</td>
                        <td class="">
                            @if (Model.Demand.Budget == 0)
                            {
                                <span>面议</span>
                            }
                            else
                            {
                                <span>@(Model.Demand.Budget)元</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="left">起止时间：</td>
                        <td class="">@Model.Demand.StartTime.Value.ToString("yyyy/MM/dd") - @Model.Demand.EndTime.Value.ToString("yyyy/MM/dd")</td>
                    </tr>
                </table>
            </div>
            if (isPostedByMySelf)
            {
                var phone = "***********";
                var weixin = "***********";
                var email = "***********";
                if (Model.HasWeChatUserBoughtForDemand)
                {
                    phone = string.IsNullOrWhiteSpace(Model.Demand.Phone) ? "未填" : Model.Demand.Phone;
                    weixin = string.IsNullOrWhiteSpace(Model.Demand.QQWeixin) ? "未填" : Model.Demand.QQWeixin;
                    email = string.IsNullOrWhiteSpace(Model.Demand.Email) ? "未填" : Model.Demand.Email;

                }
                else
                {
                    // do nothing.
                }

                <div class="panel panel-info">
                    <div class="panel-heading">客户联系方式</div>
                    <table class="table table-striped">
                        <tr>
                            <td class="left">联系电话：</td>
                            <td class="">@phone</td>
                            <td class="right">
                                @if (Model.HasWeChatUserBoughtForDemand)
                                {
                                    <a class="btn btn-success" href="tel:@phone"><i class="glyphicon glyphicon-earphone"></i>&nbsp;拨打</a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="left">QQ/微信：</td>
                            <td colspan="2">@weixin</td>
                        </tr>
                        <tr>
                            <td class="left">邮箱地址：</td>
                            <td colspan="2">
                                @email
                            </td>
                        </tr>
                        @if (!Model.HasWeChatUserBoughtForDemand)
                        {
                            <tr>
                                <td colspan="3">
                                    <a href="javascript:void(0);" class="btn btn-success" style="width:100%;height:30px;line-height:30px;" onclick="buyDemand(@Model.Demand.Id);">获取联系方式</a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            // do nothing
                        }
                    </table>
                </div>

            }

            if (Model.Demand.UserId == (currentWeChatUser.UserId ?? -1))
            {
                if (Model.AcceptStatus == "Wait")
                {
                    <div class="bottom">
                        <button type="button" id="btnAccept" class="button btn-green" style="float:left;">接受报价/报名</button>
                        <button type="button" id="btnReject" class="button btn-gray" style="float:right;">拒绝</button>

                    </div>
                }
                else if (Model.AcceptStatus == "Denied")
                {
                    <div class="bottom">
                        <button type="button" id="btnAccept" class="button btn-green" style="float:left;width:100%;">接受报价/报名</button>
                    </div>
                }
            }
            <div class="panel panel-success" style="margin-bottom: 50px;">
                <div class="panel-heading">报价/报名详情及回复：</div>
                <div class="panel-body">
                    <ul id="chatHistory" class="content">

                        @{
                            var rightPhotoUrl = currentWeChatUser.Photo;
                            var leftPhotoUrl = "";
                            var leftDisplayName = "";
                            var rightDisplayName = "我";

                            if (Model.Demand.UserId == (currentWeChatUser.UserId ?? -1))
                            {
                                leftPhotoUrl = "/content/wechat/images/quoteUserPhoto.png";
                                leftDisplayName = "报价方";
                            }
                            else
                            {
                                leftPhotoUrl = "/content/wechat/images/demandUserPhoto.png";
                                leftDisplayName = "客户";
                            }
                        }

                        @if (Model.WeChatUserId == currentWeChatUser.Id)
                        {
                            <li class="time"><span class="spanright">@quoteTime&nbsp;@(rightDisplayName)</span></li>
                            <li><img src="@rightPhotoUrl" class="imgright"><span class="spanright">@contactName</span></li>
                            @*<li><img src="@rightPhotoUrl" class="imgright"><span class="spanright">@contactPhone</span></li>*@
                            <li><img src="@rightPhotoUrl" class="imgright"><span class="spanright">@quotePrice</span></li>
                        }
                        else
                        {
                            <li class="time"><span class="spanleft">@(leftDisplayName)&nbsp;@quoteTime</span></li>
                            <li><img src="@leftPhotoUrl" class="imgleft"><span class="spanleft">@contactName</span></li>
                            @*<li><img src="@leftPhotoUrl" class="imgleft"><span class="spanleft">@contactPhone</span></li>*@
                            <li><img src="@leftPhotoUrl" class="imgleft"><span class="spanleft">@quotePrice</span></li>
                        }

                        @foreach (var history in Model.QuoteHistories)
                        {
                            if (!string.IsNullOrWhiteSpace(history.Comments))
                            {
                                var timestring = history.InsertedTimestamp.ToString("yyyy-MM-dd HH:mm:ss");
                                // Posted by myself
                                if (history.WeChatUserId == currentWeChatUser.Id)
                                {
                                    <li class="time"><span class="spanright">@timestring&nbsp;@(rightDisplayName)</span></li>
                                    <li><img src="@rightPhotoUrl" class="imgright"><span class="spanright">@(new HtmlString(history.Comments))</span></li>
                                }
                                else
                                {
                                    <li class="time"><span class="spanleft">@(leftDisplayName)&nbsp;@timestring</span></li>
                                    <li>
                                        <img src="@leftPhotoUrl" class="imgleft"><span class="spanleft">@(new HtmlString(history.Comments))</span>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>

            </div>


            <div class="footer">
                <textarea id="text" name="comments" type="text" placeholder="输入您的回复内容..."></textarea>
                <div class="btn-group dropup">
                    <button id="btnSend" class="btn btn-primary">发送</button>
                    <button type="button" class="btn btn-more dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:none;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <input name="file_upload" id="file_upload" type="file" class="hide" accept="image/*" />
                        </li>
                        <li>
                            <input name="file_upload_video" id="file_upload_video" type="file" class="hide" accept="video/*" />
                        </li>
                    </ul>
                </div>
            </div>

                            }
                            else
                            {
                                <ul class="commonlist" style="">
                                    <li class="atitle">
                                        <lable style="color: #FD9102;font-size:16px;">您所查询的报价记录不存在或已删除！</lable>
                                    </li>
                                </ul>
                            }
    </div>
</div>
@{
    var errorMessage = ViewData["ErrorMessage"] ?? string.Empty;
}
<input type="hidden" id="txtMessage" value="@errorMessage" />
@section FooterJS
{
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Content/uploadifive/jquery.uploadifive.js"></script>
    <script src="~/Areas/Wechat/Content/scipts/autoHeightForTextArea.js?v=4"></script>
    <script>
        autoTextarea('text');
    </script>
    <script>
        //scrollToButtom();
        $('#btnSend').click(function () {
            var arrIconSrc = '@currentWeChatUser.Photo';
            var text = document.getElementById('text');
            var content = document.getElementById('chatHistory');
            var comments = text.value;

            if (comments == '') {
                text.focus();
                return;
            } else {
                var timeNode = document.createElement('li');
                var textNode = document.createElement('li');
                var currentTime = new Date().toString('yyyy-MM-dd HH:mm:ss');

                $(timeNode).addClass('time');
                timeNode.innerHTML = '<span class="spanright">' + currentTime + '</span>';
                textNode.innerHTML = '<img class="imgright" src="' + arrIconSrc + '"><span class="spanright">' + comments + '</span>'
                content.appendChild(timeNode);
                content.appendChild(textNode);
                scrollToButtom();
                text.value = '';
                // Saves to database
                $.post('/wechat/quote/AddQuoteHistory',
                {
                    quoteId: $('#quoteId').val(),
                    comments: comments
                },
                function (data) {
                    if (!data.IsSuccessful) {
                        content.removeChild(timeNode);
                        content.removeChild(textNode);
                        text.value = comments;
                        if (data.ErrorMessage != '') {
                            showMessage(data.ErrorMessage, false);
                        }
                        else {
                            showMessage('消息发送失败，请重新尝试！', false);
                        }
                    }
                }).error(function () {
                    content.removeChild(timeNode);
                    content.removeChild(textNode);
                    text.value = comments;
                    showMessage('消息发送失败!', false);
                });
            }
        });

        $('#file_upload').uploadifive({
            'auto': true,
            'uploadScript': '/Content/upload/uploadimage.ashx',
            'buttonText': '<i class="glyphicon glyphicon-camera"></i>上传图片',
            'buttonClass': 'btn btn-Upload',
            'fileType': 'image/*',
            'multi': false,
            'queueSizeLimit': 10,
            'uploadLimit': 10,
            'fileSizeLimit': 12 * 1024 * 1024,
            'onSelect': function (file) {
                if (file.size >= 12 * 1024 * 1024) {
                    showMessage('每张图片不能超过5M', false);
                    $("#file_upload").uploadify('cancel');
                    return false;
                }
            },
            'onCancel': function (file) {
                //alert('The file ' + file.name + ' was cancelled!');
            },
            'onUploadComplete': function (file, data) {
                var postfile = JSON.parse(data);
                var originalImg = '';
                if (postfile.Action) {
                    originalImg = postfile.OriginalImage;
                    var imgNode = '<img src=' + originalImg + ' alt="图片加载失败" />';
                    uploadTradeImg(imgNode);
                    $('.dropup').removeClass('open');
                }
                else {
                    showMessage('图片上传失败，请重新尝试', false);
                    $("#file_upload").uploadify('cancel');
                    $(itemid).remove();
                }
            },
            'onFallback': function () {
                //alert("该浏览器无法使用!");
            },
            'onUpload': function (file) {
            }
        });

        $('#file_upload_video').uploadifive({
            'auto': true,
            'uploadScript': '/Content/upload/uploadvideo.ashx',
            'buttonText': '<i class="glyphicon glyphicon-film"></i>上传视频',
            'buttonClass': 'btn btn-Upload',
            'fileType': 'video/*',
            'multi': false,
            'queueSizeLimit': 10,
            'uploadLimit': 10,
            'fileSizeLimit': 20 * 1024 * 1024,
            'onSelect': function (file) {
                if (file.size >= 20 * 1024 * 1024) {
                    showMessage('视频大小不能超过20M', false);
                    $("#file_upload_video").uploadify('cancel');
                    return false;
                }
            },
            'onCancel': function (file) {
                //alert('The file ' + file.name + ' was cancelled!');
            },
            'onUploadComplete': function (file, data) {
                var result = JSON.parse(data);
                if (result.IsSuccessful) {
                    var fileName = result.FileName;
                    var fileType = result.FileType;
                    var originalSource = '<source src=' + fileName + ' type="video/' + fileType + '" />';
                    var mp4Source = '<source src=' + result.Mp4FileName + ' type="video/mp4" />';
                    var videoNode = '<video>' + mp4Source + originalSource + '</video>';
                    uploadTradeImg(videoNode);
                    $('.dropup').removeClass('open');
                    showMessage('上传成功', true);
                }
                else {
                    showMessage('视频上传失败，请重新尝试', false);
                    $("#file_upload_video").uploadify('cancel');
                    $(itemid).remove();
                }
            },
            'onFallback': function () {
                //alert("该浏览器无法使用!");
            },
            'onUpload': function (file) {
            }
        });

        $('.content li span.spanleft img,.content li span.spanright img').click(function () {
            showBigImg($(this));
        });

        $('.content li span.spanleft video,.content li span.spanright video').click(function () {
            //showVideo($(this));
            $(this)[0].played = 0;
            $(this)[0].play();
        });

        function showBigImg(imgNode) {
            if (imgNode) {
                var clonedImgNode = $(imgNode).clone();
                ds.dialog({
                    title: '大图阅览',
                    content: clonedImgNode,
                    onclose: function () {
                        $('.ds_dialog').remove();
                    }
                });
            }
        }

        //function showVideo(videoNode) {
        //    if (videoNode) {
        //        var clonedVideoNode = ($(videoNode).clone())[0];
        //        $(clonedVideoNode).attr('controls', 'controls');
        //        $(clonedVideoNode).attr('autoplay', 'autoplay');
        //        ds.dialog({
        //            title: '视频阅览',
        //            content: clonedVideoNode,
        //            onclose: function () {
        //                clonedVideoNode.pause();
        //                $('.ds_dialog').remove();
        //            }
        //        });
        //        clonedVideoNode.play();
        //        //$(clonedVideoNode).click(function () {
        //        //    if (!clonedVideoNode.paused) {
        //        //        clonedVideoNode.pause();
        //        //    }
        //        //    else {
        //        //        clonedVideoNode.play();
        //        //    }
        //        //});
        //    }
        //}

        function showMessage(msg, isSuccessfulMsg) {
            if (msg != '') {
                if (isSuccessfulMsg) {
                    ds.dialog({
                        title: '消息提示',
                        content: msg,
                        icon: "/Content/dialog/images/success.png"
                    });
                }
                else {
                    ds.dialog({
                        title: '消息提示',
                        content: msg,
                        icon: "/Content/dialog/images/info.png"
                    });
                }
            }
        }

        function uploadTradeImg(imgNode) {
            var arrIconSrc = '@currentWeChatUser.Photo';
            var content = document.getElementById('chatHistory');

            if (imgNode == '') {
                return;
            } else {
                var timeNode = document.createElement('li');
                var textNode = document.createElement('li');
                var currentTime = new Date().toString('yyyy-MM-dd HH:mm:ss');

                //$(imgNode).click(function () {
                //    showBigImg($(this));
                //});

                $(timeNode).addClass('time');
                timeNode.innerHTML = '<span class="spanright">' + currentTime + '</span>';
                textNode.innerHTML = '<img class="imgright" src="' + arrIconSrc + '"><span class="spanright">' + imgNode + '</span>'

                content.appendChild(timeNode);
                content.appendChild(textNode);

                scrollToButtom();
                // Saves to database
                $.post('/wechat/quote/AddQuoteHistory',
                {
                    quoteId: $('#quoteId').val(),
                    comments: imgNode
                },
                function (data) {
                    if (!data.IsSuccessful) {
                        content.removeChild(timeNode);
                        content.removeChild(textNode);
                        if (data.ErrorMessage != '') {
                            showMessage(data.ErrorMessage, false);
                        }
                        else {
                            showMessage('图片上传失败，请重新尝试！', false);
                        }
                    }
                }).error(function () {
                    content.removeChild(timeNode);
                    content.removeChild(textNode);
                    showMessage('图片上传失败，请重新尝试！', false);
                });
            }
        }


        $('#btnAccept').click(function () {
            if (confirm('您确认接受该报价吗？')) {
                updateQuoteStatus('Accept');
            }
        });
        $('#btnReject').click(function () {
            if (confirm('您确认拒绝该报价吗？')) {
                updateQuoteStatus('Denied');
            }
        });

        function updateQuoteStatus(statusId) {
            // Saves to database
            $.post('/wechat/quote/UpdateQuoteStatus',
            {
                quoteId: $('#quoteId').val(),
                statusId: statusId
            },
            function (msg) {
                if (msg != '') {
                    showMessage(msg, true);
                }

                window.location.href = window.location.href;
            }).error(function () {
                showMessage('更新失败！', false);
                //window.location.reload();
            });
        }
        function scrollToButtom() {
            window.scrollTo(0, document.body.scrollHeight);
        }

        function buyDemand(demandId) {
            //wechat/demand/Buy
            $.post("/wechat/demand/Buy",
            {
                id: demandId
            },
            function (data) {
                if (data.IsSuccessFul) {
                    callPayApi(data.AppId, data.TimeStamp, data.NonceStr, data.Package, data.PaySign);
                }
                else {
                    showMessage(data.Message, false);
                }
            }).error(function (data) { alert(data); });
        }

        function callPayApi(appId, timeStamp, nonceStr, package1, paySign) {
            WeixinJSBridge.invoke('getBrandWCPayRequest', {
                "appId": appId,
                "timeStamp": timeStamp,
                "nonceStr": nonceStr,
                "package": package1,
                "signType": "MD5",
                "paySign": paySign
            }, function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    alert("购买成功！");
                    window.location.reload();
                }
                else {
                    if (res.err_msg == "get_brand_wcpay_request:cancel") {
                        alert("您取消了购买。");
                    }
                    else {
                        alert(res.err_msg);
                        alert("购买发生错误！请刷新重试，如频繁发生该错误，请联系管理员.");
                    }
                }
            });
        }
    </script>
    <script>
        var message = $('#txtMessage').val();
        if (message != '') {
            $('#txtMessage').val('');
            showMessage(message, false);
        }
    </script>
}