@model Witbird.SHTS.Model.Demand
@{
    ViewBag.Title = "需求报价列表";
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}
@section head
{
    <link href="/content/css/login.css" rel="stylesheet" />
    <link href="/Content/dialog/css/base.css" rel="stylesheet" />

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.min.js"></script>

    <style type="text/css">
        .reg-form .cell label {
            position: absolute;
            font-size: 10px;
            color: red !important;
            top: 30px;
            padding-left: 12px;
        }

        .wrap {
            height: auto;
        }

        .register-box {
            position: initial;
            margin-bottom: 20px;
        }

        .reg-form {
            height: auto;
            padding-left: 5px;
            padding-right: 5px;
        }

            .reg-form .cell select {
                height: 100%;
                width: 32.5%;
            }

            .reg-form .cell textarea {
                height: 100%;
                width: 96%;
            }

            .reg-form .cell label {
                color: #333 !important;
                font-size: 16px;
                font-weight: normal;
                position: initial;
                padding: 0;
            }

        .atitle a {
            font-size: 17px;
        }

        .commonlist {
            border: none;
            margin: 0 auto;
        }

            .commonlist li {
                font-size: 17px;
            }

                .commonlist li span {
                    font-size: 17px;
                }

        .red {
            background-color: red;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: #337ab7;
        }

        .state {
            font-size: 15px;
        }

        .bottom {
            width: 94%;
        }

            .bottom button {
                height: 25px;
                width: 48%;
                border-radius: 10px;
                font-size: 15px;
            }
    </style>
}

<div class="main">
    <div class="register-box" style="width: 100%;height: auto; background-color: #ffffff;">

        @if (Model != null)
        {
            <ul class="commonlist" style="">
                <li class="atitle">
                    <a href="/wechat/demand/show/@(Model.Id)" style="margin-right: 10px;">
                        <lable style="color: #FD9102;font-size:16px;">[@Model.StatusValueString]</lable>@Model.Title
                    </a>
                </li>
                <li>
                    位置：<span class="yellow">@Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(Model.Province, Model.City, Model.Area)</span>
                    @*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;预算：
                    @if (Model.Budget == 0)
                    {
                        <span class="yellow">面议</span>
                    }
                    else
                    {
                        <span class="yellow">@Model.Budget</span>
                    }*@
                </li>
                <li>时间：<span class="yellow">@Model.StartTime.Value.ToString("yyyy/MM/dd") - @Model.EndTime.Value.ToString("yyyy/MM/dd")</span></li>

            </ul>
            <br />



            if (Model.TotalQuoteCount > 0)
            {
                var notHandledQuotes = Model.QuoteEntities.Where(x => x != null && x.AcceptStatus == "Wait");
                var acceptQuotes = Model.QuoteEntities.Where(x => x != null && x.AcceptStatus == "Accept");
                var deniedQuotes = Model.QuoteEntities.Where(x => x != null && x.AcceptStatus == "Denied");

                //var quote = Model.QuoteEntities[i];
                //var status = string.Empty;
                //var bgColor = string.Empty;
                //switch (quote.AcceptStatus)
                //{
                //    case "Accept":
                //        status = "[已接受]";
                //        bgColor = "green";
                //        break;
                //    case "Denied":
                //        status = "[已拒绝]";
                //        bgColor = "blue";
                //        break;
                //    case "Wait":
                //        status = "[未处理]";
                //        bgColor = "red";
                //        break;
                //    default:
                //        break;
                //}

                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#notHandledPanel" data-toggle="tab">未处理(@notHandledQuotes.Count())</a></li>
                    <li role="presentation" ><a href="#acceptPanel" data-toggle="tab">已接受(@acceptQuotes.Count())</a></li>
                    <li role="presentation"><a href="#deniedPanel" data-toggle="tab">已拒绝(@deniedQuotes.Count())</a></li>
                </ul>
                <br />
                <div class="tab-content">
                    <div id="notHandledPanel" class="tab-pane active">
                        <ul class="commonlist" style="">
                            @if (notHandledQuotes.Count() != 0)
                            {
                                foreach (var quote in notHandledQuotes)
                                {
                                    var status = "[未处理]";
                                    var bgColor = "red";
                                    <li class="atitle">
                                        <span class="state @bgColor">@status</span>
                                        @*<span style="font-weight:bold;">@(quote.ContactName)报价@(quote.QuotePrice)元</span>*@
                                        <a href="/wechat/quote/detail?quoteId=@(quote.QuoteId)" style="margin-right: 10px;">
                                            @(quote.ContactName)报价(报名)：@(quote.QuotePrice)元(人)
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="atitle">
                                    没有未处理的报价/报名。
                                </li>
                            }
                        </ul>
                    </div>
                    <div id="acceptPanel" class="tab-pane">
                        <ul class="commonlist" style="">
                            @if (acceptQuotes.Count() != 0)
                            {
                                foreach (var quote in acceptQuotes)
                                {
                                    var status = "[已接受]";
                                    var bgColor = "green";
                                    <li class="atitle">
                                        <span class="state @bgColor">@status</span>
                                        @*<span style="font-weight:bold;">@(quote.ContactName)报价@(quote.QuotePrice)元</span>*@
                                        <a href="/wechat/quote/detail?quoteId=@(quote.QuoteId)" style="margin-right: 10px;">
                                            @(quote.ContactName)报价(报名)：@(quote.QuotePrice)元(人)
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="atitle">
                                    没有已接受的报价/报名。
                                </li>
                            }
                        </ul>
                    </div>
                    <div id="deniedPanel" class="tab-pane">
                        <ul class="commonlist" style="">
                            @if (deniedQuotes.Count() != 0)
                            {
                                foreach (var quote in deniedQuotes)
                                {
                                    var status = "[已拒绝]";
                                    var bgColor = "blue";
                                    <li class="atitle">
                                        <span class="state @bgColor">@status</span>
                                        @*<span style="font-weight:bold;">@(quote.ContactName)报价@(quote.QuotePrice)元</span>*@
                                        <a href="/wechat/quote/detail?quoteId=@(quote.QuoteId)" style="margin-right: 10px;">
                                            @(quote.ContactName)报价(报名)：@(quote.QuotePrice)元(人)
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="atitle">
                                    没有已拒绝的报价/报名。
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <ul class="commonlist" style="">
                    <li class="atitle">

                        <lable style="color: #FD9102;font-size:17px;">暂无报价记录！</lable>
                    </li>
                </ul>
            }
        }
        else
        {
            <lable style="color: #FD9102;font-size:17px;">您所查询的需求不存在或已删除！</lable>
        }
    </div>
</div>