@using Witbird.SHTS.Model
@model Witbird.SHTS.DAL.New.Resource

<li>
    联&nbsp;&nbsp;系&nbsp;&nbsp;人: <span class="yellow2">
        @(new HtmlString(Model.Contract))
    </span>
</li>

<li>
    座&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机: <span class="yellow2">

        <a href="tel:@Model.Telephone">@Model.Telephone</a>

    </span>
</li>
<li>
    手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机: <span class="yellow2">

        <a href="tel:@Model.Mobile">@Model.Mobile</a>

    </span>
</li>
<li>
    微信/QQ: <span class="yellow2">
        @(new HtmlString(string.Join("/", string.IsNullOrEmpty(Model.WeChat) ? "未填" : Model.WeChat, string.IsNullOrEmpty(Model.QQ) ? "未填" : Model.QQ)))
    </span>
</li>
<li>
    邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱: <span class="yellow2">

        <a href="mailto:@(Model.Email)">@Model.Email</a>

    </span>
</li>
<li>
    详细地址: <span class="yellow2">
        @(new HtmlString(Model.DetailAddress))
    </span>
</li>