@model Witbird.SHTS.Model.Extensions.QueryResourceResult

@{
    ViewBag.Title = "我提交的资源 | " + Witbird.SHTS.Web.Public.StaticUtility.Config.Name;
    Layout = "~/Views/Shared/WebLayoutPage.cshtml";
    var index = 1;
}

<div class="main w1000">
    <div class="location">
        您当前所处的位置：<a href="/" class="blue">首页</a><span class="ch c1">&nbsp;&gt;&nbsp;</span><span class="ch">发布资源</span>
    </div>
    @Html.Action("UserMenu", "User")

    <div class="user_right">
        <div class="user_right_bt">
            <p class="n1">资源列表</p>
            <p class="n1" style="float: right;">总共 <span style="color: #ff9a15;">@Model.TotalCount</span> 条</p>
        </div>

        <table class="usertable">
            <tr>
                <td style="width: 60px;"><strong>编号</strong></td>
                <td style="text-align: left;"><strong>标题</strong></td>
                <td style="width: 60px;"><strong>类型</strong></td>
                <td style="width: 110px;"><strong>地区</strong></td>
                <td style="width: 110px;"><strong>发布时间</strong></td>
                <td style="width: 70px;"><strong>置顶</strong></td>
                <td style="width: 70px;"><strong>编辑</strong></td>
                <td style="width: 70px;"><strong>删除</strong></td>
            </tr>

            @if (Model.Items != null && Model.Items.Count > 0)
            {
                foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@(index++)</td>
                        <td style="text-align: left;">
                            @Html.ActionLink(item.Title, "show", new { @id = item.Id, @target = "_blank" })
                        </td>
                        <td>
                            @if (item.ResourceType == 1)
                            {
                                <span>活动场地</span>
                            }
                            else if (item.ResourceType == 2)
                            {
                                <span>演艺人员</span>
                            }
                            else if (item.ResourceType == 3)
                            {
                                <span>活动设备</span>
                            }
                            else if (item.ResourceType == 4)
                            {
                                <span>其他资源</span>
                            }
                        </td>
                        <td>@Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(item.ProvinceId, item.CityId, item.AreaId)</td>
                        <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            @if (item.ClickTime > DateTime.Now.Date)
                            {
                                <span>已置顶</span>
                            }
                            else
                            {
                                <a href="/resource/click/@item.Id" style="color: #3858FA;">置顶</a>
                            }
                        </td>
                        <td>
                            <a href="/resource/edit/@item.Id" style="color: #3858FA;">编辑</a>
                        </td>
                        <td>
                            <a href="/resource/delete/@item.Id" style="color: #3858FA;" onclick="if(confirm('亲，你确认要删除吗？')==false)return false;">删除</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">
                        你还没有提交过资源信息
                    </td>
                </tr>
            }
        </table>
        @Html.Partial("PagingPartial", Model.Paging)

    </div>

    <div style="clear: both; height: 30px;"></div>
</div>
