@{
    ViewBag.Title = "搜索：" + @Model.Keywords;
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}
@model Witbird.SHTS.Web.Models.SearchViewModel
<div id="nav">
    共搜索到@(Model.TotalHit)条记录
</div>
<div id="main">
    @if (Model.resultList != null && Model.resultList.Count > 0)
    {
        foreach (var item in Model.resultList)
        {
            var resultTypeName = "";
            var relatedUrl = "";
            
            switch(item.ResultType)
            {
                case WitBird.Com.SearchEngine.SearchResultType.Activity:
                    resultTypeName = "活动在线";
                    relatedUrl = "/wechat/activity/show/" + item.ResourceId;
                    break;
                case  WitBird.Com.SearchEngine.SearchResultType.ActorResource:
                    resultTypeName = "演艺人员资源";
                    relatedUrl = "/wechat/resource/show/" + item.ResourceId;
                    break;
                case WitBird.Com.SearchEngine.SearchResultType.Demand:
                    resultTypeName = "需求信息";
                    relatedUrl = "/wechat/demand/show/" + item.ResourceId;
                    break;
                case WitBird.Com.SearchEngine.SearchResultType.EquipmentResource:
                    resultTypeName = "活动设备资源";
                    relatedUrl = "/wechat/resource/show/" + item.ResourceId;
                    break;
                case WitBird.Com.SearchEngine.SearchResultType.OtherResource:
                    resultTypeName = "其他资源";
                    relatedUrl = "/wechat/resource/show/" + item.ResourceId;
                    break;
                case WitBird.Com.SearchEngine.SearchResultType.SpaceResource:
                    resultTypeName = "活动场地资源";
                    relatedUrl = "/wechat/resource/show/" + item.ResourceId;
                    break;
                default:
                    resultTypeName = "未知类型";
                    relatedUrl = "javascript:void(0);";
                    break;
            }
            <ul class="commonlist">
                <li class="atitle">
                    <span class="state blue">@item.CreatedTime.ToString("MM-dd")</span>
                    <a href="@relatedUrl" style="margin-right: 10px;">@(new HtmlString(item.Title))</a>
                </li>
                <li>结果来自：<span class="yellow">@resultTypeName</span></li>
                <li>区域位置：<span class="yellow">@Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(item.ProvinceId, item.CityId, item.AreaId)</span></li>
                <li>@(new HtmlString(item.Content))</li>
            </ul>
        }
    }
    else
    {
        <div>没有找到相关结果</div>
    }

    <div style="clear: both; height: 10px;"></div>

    <div class="fenye" style="margin: 0 auto;">
        @if (Model.PageCount > 1)
        {
            for (int step = 1; step <= Model.PageCount; step = step + Model.PageStep)
            {
                if (Model.PageIndex >= step && Model.PageIndex < step + Model.PageStep)
                {
                    //上一页
                    if (Model.PageIndex > 1)
                    {
                        <span><a href="/wechat/index/search?keyWords=(@Model.Keywords)&page=@(Model.PageIndex - 1)" class="prv">上一页</a></span>
                    }
                    //首页
                    if (Model.PageStep < Model.PageIndex)
                    {
                        <span><a href="/wechat/index/search?keyWords=(@Model.Keywords)&page=1">1</a></span>
                    }
                    //分页
                    for (int i = step; i < step + Model.PageStep; i++)
                    {
                        if (i <= Model.PageCount)
                        {
                            if (i == Model.PageIndex)
                            {
                                <span><a href="/wechat/index/search?keyWords=(@Model.Keywords)&page=@i" class="no">@i</a></span>
                            }
                            else
                            {
                                <span><a href="/wechat/index/search?keyWords=(@Model.Keywords)&page=@i">@i</a></span>
                            }
                        }
                    }
                    //末页
                    if (step + Model.PageStep <= Model.PageCount)
                    {
                        <span><a href="/wechat/index/search?keyWords=(@Model.Keywords)&page=@Model.PageCount">@Model.PageCount</a></span>
                    }
                    //下一页
                    if (Model.PageIndex < Model.PageCount)
                    {
                        <span><a href="/wechat/index/search?keyWords=(@Model.Keywords)&page=@(Model.PageIndex + 1)" class="next">下一页</a></span>
                    }
                }
            }

        }
    </div>
</div>