@model Witbird.SHTS.Web.Models.TradeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/areas/admin/content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/areas/admin/content/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/areas/admin/content/js/jquery.js"></script>
    <script type="text/javascript" src="/areas/admin/content/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="/areas/admin/content/js/select-ui.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 150
            });
            $(".select3").uedSelect({
                width: 100
            });
        });
    </script>
</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/admin/index/main/">首页</a></li>
            <li><a href="/admin/trade/list">中介申请列表</a></li>
        </ul>
    </div>

    <div class="formbody">
        <div id="usual1" class="usual">
            <div class="tools">

                <ul class="toolbar filter">

                    <li id="all"><a href="/admin/trade/list?page=1&filter=all">全部</a></li>
                    <li id="new"><a href="/admin/trade/list?page=1&filter=new">中介申请</a></li>
                    <li id="inprogress"><a href="/admin/trade/list?page=1&filter=inprogress">交易进行</a></li>
                    <li id="completed"><a href="/admin/trade/list?page=1&filter=completed">交易完成</a></li>
                    <li id="finished"><a href="/admin/trade/list?page=1&filter=finished">终止交易</a></li>
                    <li id="invalid"><a href="/admin/trade/list?page=1&filter=invalid">违规交易</a></li>
                </ul>


                @*<ul class="toolbar1">
                    <li><span>
                        <img src="/areas/admin/content/images/t05.png" /></span>设置</li>
                </ul>*@

            </div>
            <table class="tablelist">
                <thead>
                    <tr>
                        <th style="width: 60px;">编号</th>
                        <th style="overflow: hidden; text-align: left;"><strong>中介摘要</strong></th>
                        <th style="width: 80px;"><strong>卖家</strong></th>
                        <th style="width: 80px;"><strong>买家</strong></th>
                        <th style="width: 100px;"><strong>交易金额</strong></th>
                        <th style="width: 120px;"><strong>中介状态</strong></th>
                        <th style="width: 130px;"><strong>创建/更新时间</strong></th>
                        <th style="width: 130px;"><strong>操作</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TradeList != null && Model.TradeList.Count > 0)
                    {
                        foreach (var item in Model.TradeList)
                        {
                            if (item != null)
                            {
                        <tr>
                            <td>@item.RowNumber</td>
                            <td style="text-align: left;">
                                <a href="/admin/trade/show/@item.TradeId" target="_self" style="color: #3858FA;">@item.TradeSubject</a>
                            </td>
                            <td>
                                @*@item.SellerId*@

                                @item.SellerName
                            </td>
                            <td>
                                @*@item.BuyerId*@

                                @item.BuyerName
                            </td>
                            <td>￥ @item.TradeAmount 元</td>
                            <td>
                                @switch (item.State)
                                {
                                    case (int)Witbird.SHTS.Model.TradeState.Completed:
                                    <span style="color: #0a4407">交易完成</span>
                                        break;
                                    case (int)Witbird.SHTS.Model.TradeState.Finished:
                                    <span style="color: #cf9c9c">交易终止</span>
                                        break;
                                    case (int)Witbird.SHTS.Model.TradeState.InProgress:
                                    <span style="color: #1959bb">交易进行</span>
                                        break;
                                    case (int)Witbird.SHTS.Model.TradeState.New:
                                    <span style="color: #23972b">中介申请(<span style="color:red;">未审核</span>)</span>
                                        break;
                                    case (int)Witbird.SHTS.Model.TradeState.Invalid:
                                    <span style="color: red;">违规交易</span>
                                        break;
                                    default:
                                        break;
                                }
                            </td>
                            <td>
                                <span style="display: inline-block; width: 130px; text-align: center;">@item.CreatedTime.ToString("yyyy-MM-dd HH:mm")</span><br />

                                <span style="display: inline-block; width: 130px; text-align: center;">@item.LastUpdatedTime.ToString("yyyy-MM-dd HH:mm")</span>
                            </td>
                            <td>
                                <a href="/admin/trade/show/@item.TradeId" target="_self">查看/编辑</a>
                            </td>

                        </tr>
                            }
                        }
                    }
                    else
                    {
                        <span>暂无数据，或获取失败</span>
                    }
                </tbody>
            </table>

            <div class="fenye">
                @if (Model.PageCount > 1)
                {
                    for (int step = 1; step <= Model.PageCount; step = step + Model.PageStep)
                    {
                        if (Model.PageIndex >= step && Model.PageIndex < step + Model.PageStep)
                        {
                            //上一页
                            if (Model.PageIndex > 1)
                            {
                    <span><a href="/admin/trade/list?page=@(Model.PageIndex - 1)&filter=@Model.Filter" class="prv">上一页</a></span>
                            }
                            //首页
                            if (Model.PageStep < Model.PageIndex)
                            {
                    <span><a href="/admin/trade/list?page=1&filter=@Model.Filter">首页</a></span>
                            }
                            //分页
                            for (int i = step; i < step + Model.PageStep; i++)
                            {
                                if (i <= Model.PageCount)
                                {
                                    if (i == Model.PageIndex)
                                    {
                    <span><a href="/admin/trade/list?page=@i&filter=@Model.Filter" class="no">@i</a></span>
                                    }
                                    else
                                    {
                    <span><a href="/admin/trade/list?page=@i&filter=@Model.Filter">@i</a></span>
                                    }
                                }
                            }
                            //末页
                            if (step + Model.PageStep <= Model.PageCount)
                            {
                    <span><a href="/admin/trade/list?page=@Model.PageCount&filter=@Model.Filter">末页</a></span>
                            }
                            //下一页
                            if (Model.PageIndex < Model.PageCount)
                            {
                    <span><a href="/admin/trade/list?page=@(Model.PageIndex + 1)&filter=@Model.Filter" class="next">下一页</a></span>
                            }
                        }
                    }
                }
            </div>
        </div>

        <script type="text/javascript">
            $("#usual1 ul").idTabs();
        </script>

        <script type="text/javascript">
            $('.tablelist tbody tr:odd').addClass('odd');
        </script>
        <script type="text/javascript">
            var filter = 'all';
            var href = window.location.href;
            var params = href.split('&')
            if (params.length > 0) {
                for (var i = 0; i < params.length; i++) {
                    if (params[i].indexOf('filter') > -1) {
                        try {
                            filter = params[i].substring(params[i].indexOf('=') + 1);
                        }
                        catch (e) {
                            filter = 'all';
                        }
                        break;
                    }
                }
            }
            $('#' + filter).addClass('selected');
        </script>
    </div>
</body>
</html>
