@model Witbird.SHTS.Web.Models.ActivityModel.ActivitysViewModel
@{
    ViewBag.Title = "活动信息";
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}

@section head
{
    <style type="text/css">
        #activity a
        {
            color: #ffffff;
            background-color: #2577e3;
        }
        #link img {
            max-width: 100%;
        }

        #oTop img {
            max-width: 100%;
        }

        #oTop {
            width: 100%;
            position: relative;
        }

        #oLink1 {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 14%;
            height: 35%;
        }

        #oLink2 {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 86%;
            height: 100%;
        }

        .nav a {
            width: 20%;
        }

        .nav a.last {
            border-right: none;
        }
    </style>
}
<div id="main">
    @if (Model.ActivityList != null && Model.ActivityList.Count > 0)
    {
        foreach (var item in Model.ActivityList)
        {
        <ul class="commonlist">
            <li class="atitle">
                <a href="/Wechat/activity/show/@item.Id" style="margin-right: 10px;">@item.Title</a>
                <span class="state blue">@item.StartTime.Value.ToString("MM-dd")</span>
            </li>
            <li>地点：<span class="yellow">@item.Adress</span></li>
            <li>时间：<span class="yellow">@string.Format("{0:F}",item.StartTime)
            </span></li>
            <li>标签：<span class="yellow">@item.Keywords</span></li>
        </ul>
        }
    }
                    <div id="more" class="mt10">
        <a class="more fl font14 c64" href="/Wechat/activity/index?page=@Model.NextPageIndex">更&nbsp;多</a>
        <p class="clear"></p>
    </div>
</div>
