@model Witbird.SHTS.Web.Models.ActivityModel.ShowActivityViewModel
@{
    ViewBag.Title = Model.Activity.Title;
    ViewBag.Keywords = Model.Activity.Keywords;
    ViewBag.Description = Model.Activity.Description;
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}

@section head
{
    <style type="text/css">
        #link img
        {
            max-width: 100%;
        }

        #oTop img
        {
            max-width: 100%;
        }

        #oTop
        {
            width: 100%;
            position: relative;
        }

        #oLink1
        {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 14%;
            height: 35%;
        }

        #oLink2
        {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 86%;
            height: 100%;
        }

        .nav a
        {
            width: 20%;
        }

            .nav a.last
            {
                border-right: none;
            }

            .comeing_summary {
    padding: 10px 20px;
    background: #f6f6f6;
    border: 1px solid #eee;
color: #444;
}

    .comeing_summary div {
        color: rgb(68, 68, 68);
display: block;
font-family: Tahoma, 'Microsoft Yahei', Simsun;
font-style: normal;
font-variant: normal;
font-weight: normal;
word-wrap: break-word;
zoom: 1;
    }
.comeing_summary .showContent {
    color: rgb(68, 68, 68);
display: inline;
empty-cells: show;
font-family: Tahoma, 'Microsoft Yahei', Simsun;
font-style: normal;
font-variant: normal;
font-weight: normal;
word-wrap: break-word;
}
    .active_info img {
        width: 100% !important;
    }
    </style>
    <link href="~/Areas/Wechat/Content/styles/shouwei/active.css" rel="stylesheet" />
}
<div class="main">
    <ul class="details">
        <li class="dtitle">
            <a href="#" style="margin-right: 10px;">@Model.Activity.Title</a>
        </li>
        <li>地点：@Model.Activity.Adress</li>
        <li>发布时间：@string.Format("{0:F}", Model.Activity.StartTime)
        </li>
        <li>活动网站：@Model.Activity.Link</li>
        <li>标签：@Model.Activity.Keywords</li>
        <li>主办方：@Model.Activity.HoldBy</li>
    </ul>
    <div class="active_info">
         @if (Model.Activity.IsFromMobile.Value)
         {
           <div class="comeing_summary">
              <div class="showContent">@Model.Activity.Description</div>
           </div>
         }
        @(new HtmlString(Model.Activity.ContentStyle))
        @if (Model.Activity.IsFromMobile.Value)
        {
            if (Model.Activity != null && Model.Activity.ImgUrls.Length > 0)
            {
                for (int i = 0; i < Model.Activity.ImgUrls.Length; i++)
                {
                    <div style="margin-bottom: 5px; margin-top: 5px;">
                        <img src="@Model.Activity.ImgUrls[i]" alt="@Model.Activity.Title" width="100%">
                    </div>
                }
            }
        }
    </div>
</div>
