@model Witbird.SHTS.Web.Models.ActivityModel.ShowActivityViewModel
@{
    ViewBag.Title = Model.Activity.Title;
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}

@section head
{
    <style type="text/css">
        #link img {
            max-width: 100%;
        }

        #oTop img {
            max-width: 100%;
        }

        #oTop {
            width: 100%;
            position: relative;
        }

        #oLink1 {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 14%;
            height: 35%;
        }

        #oLink2 {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 86%;
            height: 100%;
        }

        .nav a {
            width: 20%;
        }

            .nav a.last {
                border-right: none;
            }

        .comeing_summary {
            padding: 10px 20px;
            background: #f6f6f6;
            border: 1px solid #eee;
            color: #444;
        }

            .comeing_summary div {
                color: rgb(68, 68, 68);
                display: block;
                font-family: Tahoma, 'Microsoft Yahei', Simsun;
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                word-wrap: break-word;
                zoom: 1;
            }

            .comeing_summary .showContent {
                color: rgb(68, 68, 68);
                display: inline;
                empty-cells: show;
                font-family: Tahoma, 'Microsoft Yahei', Simsun;
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                word-wrap: break-word;
            }

        .active_info img {
            width: 100% !important;
        }
    </style>
    <link href="~/Areas/Wechat/Content/styles/shouwei/active.css" rel="stylesheet" />
}
<div class="main">
    <ul class="details">
        <li class="dtitle" style="font-size:20px;">
            @Model.Activity.Title
        </li>
        <li>
            <span class="yellow2" style="font-size:14px;">@((Model.Activity.StartTime ?? DateTime.Now).ToString("yyyy年MM月dd日")) &nbsp;</span>
            <span class="" style="color:#337ab7;">
                <a style="color:#337ab7;" href="http://mp.weixin.qq.com/s?__biz=MzIzODAzMjg1Mg==&mid=406616045&idx=1&sn=0284c00c826b9faacc9fd51d61e90a31&scene=0&previewkey=hJ65r3CvPxZrCv2xPXuf8MNS9bJajjJKzz%2F0By7ITJA%3D#wechat_redirect">活动在线网</a>
                &nbsp;
            </span>
            <span class="" style="color:#337ab7;font-size:14px;">发布:&nbsp; @Model.Activity.UserName</span>
        </li>
        @*<li>标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;签:<span class="yellow2">@Model.Activity.Keywords</span></li>*@

    </ul>
    <div class="active_info">
        @*@if (Model.Activity.IsFromMobile.Value)
            {
                <div class="comeing_summary">
                    <div class="showContent">@Model.Activity.Description</div>
                </div>
            }*@
        @(new HtmlString(Model.Activity.ContentStyle))
        @if (Model.Activity.IsFromMobile.Value)
        {
            if (Model.Activity != null && Model.Activity.ImgUrls.Length > 0)
            {
                for (int i = 0; i < Model.Activity.ImgUrls.Length; i++)
                {
                    <div style="margin-bottom: 5px; margin-top: 5px;">
                        <img src="@Model.Activity.ImgUrls[i]" alt="@Model.Activity.Title" width="100%">
                    </div>
                }
            }
        }

        <div style="clear: both; height: 10px;"></div>

        <div style="margin:0 auto;width:80%;">
            <img src="~/content/images/wechat_qrcode_bg.png" alt="微信公众号二维码" width="80%" />
        </div>

        <div>阅读 @(Model.Activity.ViewCount ?? 1000)</div>
    </div>
</div>
