@{
    ViewBag.Title = "搜索：" + @Model.Keywords + "，共搜索到" + @Model.TotalHit + "条记录";
    Layout = "~/Areas/Mobile/Views/Shared/MobileLayoutPage.cshtml";
}
@model Witbird.SHTS.Web.Models.SearchViewModel

<style>
    .nav-right {
        margin-top: 5px;
    }

    .keyWords {
        width: 85%;
        padding: 5px;
        font-size: 16px;
        border-radius: 7px 0px 0px 7px;
        outline: none;
        border: 2px solid #898989;
        border-right: none;
    }

    .searchbtn {
        height: 38px;
        width: 40px;
        margin-left: -5px;
        border-radius: 0px 7px 7px 0px;
        border: 2px solid #898989;
        border-left: none;
        position: absolute;
        background: none;
        padding: 2px;
        outline: none;
        cursor: pointer;
    }

        .searchbtn img {
            height: 95%;
        }
</style>
<div style="padding-left:10px;font-size:16px; margin:0 auto;background:#FFF;">
    <form id="search" action="/mobile/index/search" method="get">
        <div class="nav-right">
            <input type="text" id="keyWords" name="keyWords" class="keyWords" value="" placeholder="输入会议场地、设备、艺人..." />
            <button type="submit" class="searchbtn">
                <img src="~/Content/images/search.png" />
            </button>
        </div>
    </form>

    @if (!string.IsNullOrEmpty(Model.Keywords))
    {
        <span class="yellow2" style="font-weight: bold;">共搜索到@(Model.TotalHit)条相关记录</span>
    }
    else
    {
        <script>
            $('#keyWords').focus();
        </script>
    }
</div>

<div id="main">
    @if (Model.resultList != null && Model.resultList.Count > 0)
    {
        foreach (var item in Model.resultList)
        {
            var resultTypeName = "";
            var relatedUrl = "";

            switch (item.ResultType)
            {
                case WitBird.Com.SearchEngine.SearchResultType.Activity:
                    resultTypeName = "活动在线";
                    relatedUrl = "/mobile/activity/show/" + item.ResourceId;
                    break;
                case WitBird.Com.SearchEngine.SearchResultType.ActorResource:
                    resultTypeName = "演艺人员资源";
                    relatedUrl = "/mobile/resource/show/" + item.ResourceId;
                    break;
                case WitBird.Com.SearchEngine.SearchResultType.Demand:
                    resultTypeName = "需求信息";
                    relatedUrl = "/mobile/demand/show/" + item.ResourceId;
                    break;
                case WitBird.Com.SearchEngine.SearchResultType.EquipmentResource:
                    resultTypeName = "活动设备资源";
                    relatedUrl = "/mobile/resource/show/" + item.ResourceId;
                    break;
                case WitBird.Com.SearchEngine.SearchResultType.OtherResource:
                    resultTypeName = "其他资源";
                    relatedUrl = "/mobile/resource/show/" + item.ResourceId;
                    break;
                case WitBird.Com.SearchEngine.SearchResultType.SpaceResource:
                    resultTypeName = "活动场地资源";
                    relatedUrl = "/mobile/resource/show/" + item.ResourceId;
                    break;
                default:
                    resultTypeName = "未知类型";
                    relatedUrl = "javascript:void(0);";
                    break;
            }
            <ul class="commonlist">
                <li class="atitle">
                    <span class="state blue">@item.CreatedTime.ToString("MM-dd")</span>
                    <a href="@relatedUrl" style="margin-right: 10px;">@(new HtmlString(item.Title))</a>
                </li>
                @*<li>@relatedUrl</li>*@
                @if (!string.IsNullOrEmpty(resultTypeName))
                {
                    <li>结果来自：<span class="yellow">@resultTypeName</span></li>
                }
                @if (!string.IsNullOrEmpty(item.ProvinceId))
                {
                    <li>区域位置：<span class="yellow">@Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(item.ProvinceId, item.CityId, item.AreaId)</span></li>
                }
                @if (!string.IsNullOrEmpty(item.Content.Trim()))
                {
                    //item.Content = Witbird.SHTS.Common.Html.HtmlUtil.RemoveHTMLTags(item.Content);
                    //if (item.Content.Length > 60)
                    //{
                    //    item.Content = item.Content.Substring(0, 60);
                    //}
                    <li>内容摘要：@(new HtmlString(item.Content))</li>
                }
            </ul>
        }
    }

    <div style="clear: both; height: 10px;"></div>

    <div class="fenye" style="margin: 0 auto;">
        @if (Model.PageCount > 1)
        {
            for (int step = 1; step <= Model.PageCount; step = step + Model.PageStep)
            {
                if (Model.PageIndex >= step && Model.PageIndex < step + Model.PageStep)
                {
                    //上一页
                    if (Model.PageIndex > 1)
                    {
                        <span><a href="/mobile/index/search?keyWords=@Model.Keywords&page=@(Model.PageIndex - 1)" class="prv">上一页</a></span>
                    }
                    //首页
                    if (Model.PageStep < Model.PageIndex)
                    {
                        <span><a href="/mobile/index/search?keyWords=@Model.Keywords&page=1">1</a></span>
                    }
                    //分页
                    for (int i = step; i < step + Model.PageStep; i++)
                    {
                        if (i <= Model.PageCount)
                        {
                            if (i == Model.PageIndex)
                            {
                                <span><a href="/mobile/index/search?keyWords=@Model.Keywords&page=@i" class="no">@i</a></span>
                            }
                            else
                            {
                                <span><a href="/mobile/index/search?keyWords=@Model.Keywords&page=@i">@i</a></span>
                            }
                        }
                    }
                    //末页
                    if (step + Model.PageStep <= Model.PageCount)
                    {
                        <span><a href="/mobile/index/search?keyWords=@Model.Keywords&page=@Model.PageCount">@Model.PageCount</a></span>
                    }
                    //下一页
                    if (Model.PageIndex < Model.PageCount)
                    {
                        <span><a href="/mobile/index/search?keyWords=@Model.Keywords&page=@(Model.PageIndex + 1)" class="next">下一页</a></span>
                    }
                }
            }

        }
    </div>
</div>