@model Witbird.SHTS.Web.Areas.Wechat.Models.WeChatResourceViewModel
@{
    ViewBag.Title = "修改资源信息";
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}
@section head
{
    <link href="/content/css/login.css" rel="stylesheet" />
    <link href="/Content/dialog/css/base.css" rel="stylesheet" />
    <link href="~/Content/webuploader/webuploader.css" rel="stylesheet" />
    <link href="~/Content/webuploader/demo.css" rel="stylesheet" />
    <link href="~/Content/uploadifive/uploadifive.css" rel="stylesheet" />
    <style type="text/css">
        .inline {
            display: inline-block;
            width: 49%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

            .inline.wide {
                width: 100%;
            }

            .inline > .title {
                font-size: 13px;
                /* color: #666; */
            }

                .inline > .title.highlight {
                    font-weight: bold;
                }


                    .inline > .title.highlight:after {
                        content: '*';
                        color: red;
                    }

            .inline > input[type=text] {
                width: 86%;
            }

            .inline.wide > input[type=text], .inline.wide > textarea {
                width: 93%;
            }

            .inline.wide > button {
                width: 99% !important;
                border-radius: 5px;
            }

            .inline > select {
                width: 100%;
                height: 100%;
            }

            .inline.area > select {
                width: 32%;
            }

            .inline > .detail {
                border: 1px solid #CECECF;
                box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
                padding-left: 10px;
                padding-bottom: 10px;
                width: 96%;
            }

                .inline > .detail > div {
                    display: inline-block;
                    margin-top: 10px;
                }

                .inline > .detail > div {
                    margin-right: 10px;
                }

                    .inline > .detail > div input[type=checkbox] {
                        width: 18px;
                        height: 18px;
                        position: initial;
                        vertical-align: middle;
                        margin-top: -3px;
                    }

        .hd {
            display: none;
        }


        #uploader-demo label {
            position: inherit;
            font-size: 10px;
            color: transparent;
            top: 0px;
            padding-left: 0px;
            width: 80% !important;
        }

        .wrap {
            height: auto;
        }

        .register-box {
            position: initial;
            margin-bottom: 20px;
        }

        .reg-form {
            height: auto;
            padding-left: 5px;
            width: unset !important;
        }

        .uploadifive-button, .uploadifive-button > input[type=file], .uploadifive-queue-item {
            border-radius: 3px !important;
            margin-top: 5px !important;
            margin-right: 10px !important;
            padding: 0 !important;
            width: 100px !important;
            height: 100px !important;
            float: left !important;
            background-repeat: round !important;
            border: 1px solid #666 !important;
        }

        .uploadifive-button {
            background-image: url('/Areas/Wechat/Content/images/btnAdd.png') !important;
            background-repeat: no-repeat !important;
            background-size: contain;
        }

            .uploadifive-button, .uploadifive-button:hover {
                background-color: initial !important;
            }

        .uploadifive-queue-item > .close {
            width: 30px;
            height: 30px;
            background-image: url(../../../../Content/images/no.png);
            background-size: contain;
        }

        .uploadifive-queue-item > div > .fileinfo, .uploadifive-queue-item > div > .filename {
            display: none;
            width: 0px;
            height: 0px;
        }
    </style>
}
<!-- content -->
<div class="wrap" style="width: 100%">
    <div class="register-box" style="width: 100%;">
        <form id="js-form-mobile" action="/wechat/resource/create" class="reg-form" enctype="multipart/form-data" method="post">
            <div class="inline wide" style="margin:0;">
                <div class="title" style="color:#666;">
                    注意：加粗并标记红色<span style="color:red;">*</span>表示必填字段
                </div>
            </div>
            <div>
                <input type="hidden" name="ResId" id="ResId" value="@Model.ResId" />
                <!--Resource title-->
                <div class="inline wide">
                    <div class="title highlight">
                        资源标题
                    </div>
                    <input type="text" id="title" name="Title" placeholder="请输入资源标题" class="text" value="@Model.Title" />
                </div>
                <!-- Resource type list -->
                <div class="inline">
                    <div class="title highlight">
                        资源类别
                    </div>
                    <select id="ResType" name="ResType" class="text" onchange="changeResType(this);">
                        @foreach (var item in Html.ResourceList())
                        {
                            if (item.Value == Model.ResType)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <!--space type list-->
                <div class="sp inline">
                    <div class="title highlight">
                        场地类型
                    </div>
                    <select id="SpaceTypeId" name="SpaceTypeId" class="text">
                        <option value="-1">不确定</option>
                        @foreach (var item in Html.SpaceTypeList())
                        {
                            if (item.Value == Model.SpaceTypeId)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>

                <!--space size list-->
                <div class="sp inline">
                    <div class="title highlight">
                        场地面积
                    </div>
                    <select id="SpaceSizeId" name="SpaceSizeId" class="text">
                        <option value="-1">不确定</option>
                        @foreach (var item in Html.SpaceSizeList())
                        {
                            if (item.Value == Model.SpaceSizeId)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <!--space people list-->
                <div class="sp inline">
                    <div class="title highlight">
                        容纳人数
                    </div>
                    <select id="SpacePeopleId" name="SpacePeopleId" class="text">
                        <option value="-1">不确定</option>
                        @foreach (var item in Html.SpacePeopleList())
                        {
                            if (item.Value == Model.SpacePeopleId)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <!--Space features list-->
                <div class="sp inline wide feature">
                    <div class="title highlight">
                        场地特点
                    </div>
                    <div class="detail">
                        <input type="hidden" id="SpaceFeatures" name="SpaceFeatures" />
                        @foreach (var item in Html.SpaceFeatureList())
                        {
                            var features = Model.SpaceFeatures.Split(',');
                            <div>
                                @if (features.Contains(item.Value))
                                {
                                    <input class="spft" type="checkbox" value="@item.Value" checked="checked" />
                                }
                                else
                                {
                                    <input class="spft" type="checkbox" value="@item.Value" />
                                }
                                @item.Text
                            </div>
                        }
                    </div>
                </div>
                <!--Space facilities list-->
                <div class="sp inline wide feature">
                    <div class="title">
                        配套设施
                    </div>
                    <div class="detail">
                        <input id="SpaceFacilities" name="SpaceFacilities" type="hidden" />
                        @foreach (var item in Html.SpaceFacilityList())
                        {
                            var facilities = Model.SpaceFacilities.Split(',');
                            <div>
                                @if (facilities.Contains(item.Value))
                                {
                                    <input class="spfc" type="checkbox" value="@item.Value" checked="checked" />
                                }
                                else
                                {
                                    <input class="spfc" type="checkbox" value="@item.Value" />
                                }
                                @item.Text
                            </div>
                        }
                    </div>
                </div>
                <!--Space treat list-->
                <div class="sp inline wide feature">
                    <div class="title">
                        酒宴提供
                    </div>
                    <div class="detail">
                        <div>
                            <input type="hidden" name="SpaceTreat" id="SpaceTreat" value="@Model.SpaceTreat" />
                            @if (Model.SpaceTreat == "1")
                            {
                                <input type="checkbox" id="chk_SpaceTreat" name="chk_SpaceTreat" checked="checked" /><text>可以提供酒宴</text>
                            }
                            else
                            {
                                <input type="checkbox" id="chk_SpaceTreat" name="chk_SpaceTreat" /><text>可以提供酒宴</text>
                            }
                        </div>
                    </div>
                </div>
                <!--actor type list-->
                <div class="ac inline hd">
                    <div class="title highlight">
                        演员类型
                    </div>
                    <select id="ActorTypeId" name="ActorTypeId" class="text">
                        <option value="-1">不确定</option>
                        @foreach (var item in Html.ActorTypeList())
                        {
                            if (item.Value == Model.ActorTypeId)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <!--actor from list-->
                <div class="ac inline hd">
                    <div class="title highlight">
                        所属组织
                    </div>
                    <select id="ActorFromId" name="ActorFromId" class="text">
                        <option value="-1">不确定</option>
                        @foreach (var item in Html.ActorFromList())
                        {
                            if (item.Value == Model.ActorFromId)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>

                <!--actor sex list-->
                <div class="ac inline hd">
                    <div class="title highlight">
                        演员性别
                    </div>
                    <select id="ActorSex" name="ActorSex" class="text">
                        <option value="-1">不确定</option>
                        @foreach (var item in Html.ActorSexList())
                        {
                            if (item.Value == Model.ActorSex)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <!--equipment type list-->
                <div class="eq inline hd">
                    <div class="title highlight">
                        设备类型
                    </div>
                    <select id="EquipTypeId" name="EquipTypeId" class="text">
                        <option value="-1">不确定</option>
                        @foreach (var item in Html.EquipTypeList())
                        {
                            if (item.Value == Model.EquipTypeId)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>

                <!--other type list-->
                <div class="ot inline hd">
                    <div class="title highlight">
                        具体类型
                    </div>
                    <select id="OtherTypeId" name="OtherTypeId" class="text">
                        <option value="-1">不确定</option>
                        @foreach (var item in Html.OtherTypeList())
                        {
                            if (item.Value == Model.OtherTypeId)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>

                <!--location area-->
                <div class="inline wide area">
                    <div class="title highlight">
                        地区
                    </div>
                    <select id="ddlProvince" name="ddlProvince" class="text" onchange="loadCities();">
                        <option value="-1">省份</option>
                        @foreach (var item in Html.ProviceList())
                        {
                            if (item.Value == Model.ddlProvince)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                    <select id="ddlCity" name="ddlCity" class="text" onchange="loadAreas();">
                        <option value="-1">全省/市</option>
                        @foreach (var item in Html.CityList(Model.ddlProvince))
                        {
                            if (item.Value == Model.ddlCity)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                    <select id="ddlArea" name="ddlArea" class="text">
                        <option value="-1">全县/区</option>
                        @foreach (var item in Html.AreaList(Model.ddlCity))
                        {
                            if (item.Value == Model.ddlArea)
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <!--location detail-->
                <div class="inline wide">
                    <div class="title highlight">
                        详细地址
                    </div>
                    <input type="text" id="DetailAddress" name="DetailAddress" placeholder="请输入详细地址" class="text" value="@Model.DetailAddress" />
                </div>
                <!--actor performance href-->
                <div class="ac hd inline wide">
                    <div class="title">
                        演出视频
                    </div>
                    <input type="text" id="Href" name="Href" placeholder="请输入演出视频在线观看地址" class="text" value="@Model.Href" />
                </div>
                <!--contact name-->
                <div class="inline wide">
                    <div class="title highlight">
                        联系人姓名
                    </div>
                    <input type="text" id="Contact" name="Contact" placeholder="请输入联系人姓名或称呼" class="text" value="@Model.Contact" />
                </div>
                <!--contact cellphone-->
                <div class="inline">
                    <div class="title highlight">
                        移动电话
                    </div>
                    <input type="text" id="Mobile" name="Mobile" placeholder="请输入移动手机号码" class="text" value="@Model.Mobile" />
                </div>
                <!--contact Telephone-->
                <div class="inline">
                    <div class="title">
                        固定电话
                    </div>
                    <input type="text" id="Telephone" name="Telephone" placeholder="请输入固定座机号码" class="text" value="@Model.Telephone" />
                </div>
                <!--contact QQ-->
                <div class="inline">
                    <div class="title">
                        QQ帐号
                    </div>
                    <input type="text" id="QQ" name="QQ" placeholder="请输入联系人QQ帐号" class="text" value="@Model.QQ" />
                </div>
                <!--contact wechat-->
                <div class="inline">
                    <div class="title">
                        微信帐号
                    </div>
                    <input type="text" id="WeChat" name="WeChat" placeholder="请输入联系人微信帐号" class="text" value="@Model.WeChat" />
                </div>
                <!--contact email-->
                <div class="inline wide">
                    <div class="title">
                        邮箱帐号
                    </div>
                    <input type="text" id="Email" name="Email" placeholder="请输入联系人微信帐号" class="text" value="@Model.Email" />
                </div>
                <!--upload image-->
                <div class="inline wide">
                    <div class="title highlight">
                        添加几张照片，让您的信息更受欢迎
                    </div>
                    <input id="ImageUrls" name="ImageUrls" type="hidden">
                    <input name="file_upload" id="file_upload" type="file" multiple="multiple" accept="image/*" />
                    @if (Model.OriginalImgUrls.Count > 0)
                    {
                        // 0: index, 1: small img url, 2: original img url, 3: index
                        var queueItemTemplate = "<div class=\"uploadifive-queue-item complete\" id=\"uploadifive-file_upload-file-{0}\" style=\"background-image:url('{1}')\" rurl=\"{2}\"><a class=\"close\" href=\"javascript:void(0);\" onclick=\"clearItem(this);\">X</a><div><span class=\"filename\">{3}.jpg</span><span class=\"fileinfo\"> - Completed</span></div><div class=\"progress\" style=\"display: none;\"><div class=\"progress-bar\" style=\"width: 100%;\"></div></div></div>";
                        var imgHtmls = "";
                        <div id="uploadifive-file_upload-queue" class="uploadifive-queue">
                            @for (int i = 0; i < Model.OriginalImgUrls.Count; i++)
                            {
                                var imgUrl = Model.OriginalImgUrls[i];
                                var smallImgUrl = Model.SmallImgUrls[i];
                                var item = string.Format(queueItemTemplate, i, smallImgUrl, imgUrl, i);

                                imgHtmls += item;
                            }

                            @(new HtmlString(imgHtmls))
                        </div>
                    }
                </div>
                <!--resource detail-->
                <div class="inline wide">
                    <div class="title highlight">
                        资源详情
                    </div>
                    <textarea id="Description" name="Description" rows="20"
                              style="height:auto; word-break:break-all;overflow:auto;"
                              onpropertychange="this.style.posHeight=this.scrollHeight "
                              placeholder="请输入资源详情。如需添加图文详情，请访问电脑版。">
                        @Witbird.SHTS.Common.Html.HtmlUtil.RemoveHTMLTags(Model.Description)
                        </textarea>
                    </div>
                    <div class="inline wide">
                        <button type="button" onclick="createResource(this);" class="button btn-green">修改资源</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- content -->
    @section FooterJS
{
        <script src="~/Content/js/city.js"></script>
        <script src="~/Content/js/jquery-1.11.1.min.js"></script>
        <script src="~/Content/uploadifive/jquery.uploadifive.js"></script>
        <script src="~/Areas/Wechat/Content/scipts/uploadImgScript.js"></script>
    
        <script>
            function changeResType(obj) {
                $('.sp').addClass("hd");
                $('.ac').addClass("hd");
                $('.eq').addClass("hd");
                $('.ot').addClass("hd");
                switch (obj.value) {
                    case "1":
                        $('.sp').removeClass("hd");
                        break;
                    case "2":
                        $('.ac').removeClass("hd");
                        break;
                    case "3":
                        $('.eq').removeClass("hd");
                        break;
                    case "4":
                        $('.ot').removeClass("hd");
                        break;
                    default:
                        break;
                }
            }

            changeResType(document.getElementById('ResType'));

            function isEmptyValue(value) {
                if (value == '') {
                    return true;
                }
                else {
                    return false;
                }
            }

            function prepareAndValidateData() {
                var title = $('#title').val();
                if (isEmptyValue(title)) {
                    $('#title').focus();
                    showMessage('请输入资源信息标题', false);
                    return false;
                }

                var resType = $('#ResType').val();
                // 活动场地
                if (resType == 1) {
                    var facilities = "";
                    var isfirst = true;

                    var features = "";
                    isfirst = true;
                    $('.spft').each(function () {
                        if (this.checked) {
                            if (isfirst) {
                                features = this.value;
                            } else {
                                features = features + "," + this.value;
                            }
                            isfirst = false;
                        }
                    })
                    if (isEmptyValue(features)) {
                        $('#SpaceFeatures').focus();
                        showMessage('请选择活动场地特点', false);
                        return false;
                    }
                    $('#SpaceFeatures').val(features);

                    $('.spfc').each(function () {
                        if (this.checked) {
                            if (isfirst) {
                                facilities = this.value;
                            } else {
                                facilities = facilities + "," + this.value;
                            }
                            isfirst = false;
                        }
                    })

                    $('#SpaceFacilities').val(facilities);

                    //酒宴提供
                    if ($('#chk_SpaceTreat').checked) {
                        $('#SpaceTreat').val("1");
                    }
                    else {
                        $('#SpaceTreat').val("2");
                    }
                }

                var province = $('#ddlProvince').val();
                if (province == -1) {
                    $('#ddlProvince').focus();
                    showMessage('请选择资源地区', false);
                    return false;
                }

                var detailAddr = $('#DetailAddress').val();
                if (isEmptyValue(detailAddr)) {
                    $('#DetailAddress').focus();
                    showMessage('请输入资源详细地址', false);
                    return false;
                }

                var Contact = $('#Contact').val();
                if (isEmptyValue(Contact)) {
                    $('#Contact').focus();
                    showMessage('请输入联系人姓名或称呼', false);
                    return false;
                }

                var Mobile = $('#Mobile').val();
                if (isEmptyValue(Mobile)) {
                    $('#Mobile').focus();
                    showMessage('请输入联系人手机号码', false);
                    return false;
                }

                var imagesUrls = "";
                isfirst = true;
                $('.uploadifive-queue-item').each(function () {
                    if (!isfirst) {
                        imagesUrls += '|';
                    }

                    isfirst = false;
                    var imageUrl = $(this).attr('rurl');

                    imagesUrls += imageUrl;
                });

                if (isEmptyValue(imagesUrls)) {
                    $('.uploadifive-button')[0].focus();
                    showMessage('请上传几张资源图片用于展示', false);
                    return false;
                }
                $('#ImageUrls').val(imagesUrls);

                var Description = $('#Description').val();
                if (isEmptyValue(Description)) {
                    $('#Description').focus();
                    showMessage('请输入资源详情', false);
                    return false;
                }

                return true;
            }

            function createResource(obj) {
                if (prepareAndValidateData()) {
                    $(obj).attr('disabled', 'disabled');
                    $(obj).html('正在提交...');
                    $.ajax({
                        url: '/wechat/resource/edit',
                        data: $("#js-form-mobile").serialize(),
                        type: 'POST',
                        success: function (data) {
                            if (data.IsSuccessful) {
                                alert('资源修改成功，请到我的资源页面查看');
                                window.location.href = '/wechat/resource/my';
                            }
                            else {
                                if (isEmptyValue(data.ErrorMessage)) {
                                    showMessage('提交资源失败，请稍后再试', false);
                                }
                                else {
                                    showMessage(data.ErrorMessage, false);
                                }
                            }

                            $(obj).html('修改资源');
                            $(obj).removeAttr("disabled");
                        },
                        error: function (msg) {
                            $(obj).html('修改资源');
                            $(obj).removeAttr("disabled");
                            showMessage("提交资源失败，请检查您的网络是否连接", false);
                        }
                    });
                }
                else {
                }
            }

            function showMessage(msg, isSuccessfulMsg) {
                if (msg != '') {
                    if (isSuccessfulMsg) {
                        ds.dialog({
                            title: '消息提示',
                            content: msg,
                            icon: "/Content/dialog/images/success.png"
                        });
                    }
                    else {
                        ds.dialog({
                            title: '消息提示',
                            content: msg,
                            icon: "/Content/dialog/images/info.png"
                        });
                    }
                }
            }
        </script>
        <script src="~/Areas/Wechat/Content/scipts/autoHeightForTextArea.js"></script>
        <script>
            autoTextarea(document.getElementById('Description'), 0, 500);
        </script>
    }
