@model Witbird.SHTS.Model.Extensions.QueryResourceResult
@{
    ViewBag.Title = "ResourceListView";
    var xx = "space";
    switch (Model.ResourceType)
    {
        case 1:
            xx = "space";
            break;
        case 2:
            xx = "actor";
            break;
        case 3:
            xx = "equipment";
            break;
        case 4:
            xx = "other";
            break;
        default:
            break;
    }
}

@{
    ViewBag.Title = Model.ResourceTypeName;
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}
@section head
{
    <style type="text/css">
          #@(xx) a {
              color: #ffffff;
              background-color: #2577e3;
          }
    </style>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        /*Override bootstrap css*/
        .btn-group-root {
            width: 100%;
            padding: 2px 5px;
        }

            .btn-group-root .btn-group button, .btn-group-root .btn-group ul, .btn-group-root .btn-group ul > li {
                width: 100%;
            }

        .btn {
            padding: 2px 5px;
        }

        .navbar-brand {
            height: 20px;
            padding: 0px 10px;
        }
        /*Override bootstrap css*/
    </style>
    @{
        // 每种活动资源对应的筛选条件数量不一样，为了保证所有的筛选条件能够均分宽度而重写css
        switch (Model.ResourceType)
        {
            case 1:
                // 活动场地共有7个类别
                <style>
                    .btn-group-root .btn-group {
                        width: 14.28%;
                    }
                </style>
                break;
            case 2:
                //演义人员有3个类别，当选择组织为个人的时候，会增加一个演员性别，共4个类别。会在FilterPartial中重写该css
                <style>
                    .btn-group-root .btn-group {
                        width: 33.3%;
                    }
                </style>
                break;
            case 3:
                // 活动设备有2个条件
                <style>
                    .btn-group-root .btn-group {
                        width: 50%;
                    }
                </style>
                break;
            case 4:
                //其他资源有2个条件
                <style>
                    .btn-group-root .btn-group {
                        width: 50%;
                    }
                </style>
                break;
            default:
                break;
        }
    }
}

<style>
    .nav-right {
        margin-top: 5px;
    }

    .keyWords {
        width: 85%;
        padding: 5px;
        font-size: 16px;
        border-radius: 7px 0px 0px 7px;
        outline: none;
        border: 2px solid #898989;
        border-right: none;
    }

    .searchbtn {
        height: 36px;
        width: 40px;
        margin-left: -5px;
        border-radius: 0px 7px 7px 0px;
        border: 2px solid #898989;
        border-left: none;
        position: absolute;
        background: none;
        padding: 2px;
        outline: none;
        cursor: pointer;
    }

        .searchbtn img {
            height: 95%;
        }
</style>
<script>
    function searchByKeyWords() {
        var keywords = $('#keyWords').val();
        if (keywords == '') {
            return false;
        }
        else {
            var href = "/wechat/index/search?keyWords=" + keywords;
            window.location.href = href;
        }
    }
</script>
<div style="padding-left:10px;font-size:16px; margin:0 auto;background:#FFF;">
    <div class="nav-right">
        <input type="text" id="keyWords" class="keyWords" value="" placeholder="输入会议场地、设备、艺人..." />
        <button type="button" name="search" onclick="searchByKeyWords();" class="searchbtn">
            <img src="~/Content/images/search.png" />
        </button>
    </div>
</div>
<div id="nav">
    <ul id="navul">
        <li class="navli" id="space"><a href="/wechat/resource/spacelist">活动场地</a></li>
        <li class="navli" id="actor"><a href="/wechat/resource/actorlist">演艺人员</a></li>
        <li class="navli" id="equipment"><a href="/wechat/resource/equipmentlist">活动设备</a></li>
        <li class="navli" id="other"><a href="/wechat/resource/otherlist">其它资源</a></li>
        <li class="navli" id="demand"><a href="/wechat/demand/index">需求信息</a></li>
    </ul>
</div>
@Html.Partial("FilterPartial", Model.Filter)

<div id="main">
    @if (Model.Items != null && Model.Items.Count > 0)
    {
        foreach (var item in Model.Items)
        {
            <ul class="commonlist">
                <li class="atitle">
                    <span class="state blue">@item.CreateTime.ToString("MM-dd")</span>
                    <a href="/Wechat/resource/show/@item.Id" style="margin-right: 10px;">@item.Title</a>
                </li>
                <li>发布者：<span class="yellow2">@item.UserName</span>&nbsp;&nbsp;区域位置：<span class="yellow">@Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(item.ProvinceId, item.CityId, item.AreaId)</span></li>
            </ul>
        }
    }
    else
    {
        <div>没有找到相关资源</div>
    }

    <div style="clear: both; height: 10px;"></div>

    @Html.Partial("PagingPartial", Model.Paging)
</div>
@section FooterJS{
    <script type="text/javascript">
        $(function () {
            var ie6 = /msie 6/i.test(navigator.userAgent)
            , dv = $('#fixed-top'), st;
            dv.attr('otop', dv.offset().top); //存储原来的距离顶部的距离
            $(window).scroll(function () {
                st = Math.max(document.body.scrollTop || document.documentElement.scrollTop);
                if (st >= parseInt(dv.attr('otop'))) {
                    if (ie6) {//IE6不支持fixed属性，所以只能靠设置position为absolute和top实现此效果
                        dv.css({ position: 'absolute', top: st });
                    }
                    else if (dv.css('position') != 'fixed') dv.css({ 'position': 'fixed', top: 0 });
                } else if (dv.css('position') != 'static') dv.css({ 'position': 'static' });
            });
        });
    </script>
}