@model Witbird.SHTS.Model.Extensions.QueryResourceResult
@{
    ViewBag.Title = "ResourceListView";
    var xx = "space";
    switch (Model.ResourceType)
    {
        case 1:
            xx = "space";
            break;
        case 2:
            xx = "actor";
            break;
        case 3:
            xx = "equipment";
            break;
        case 4:
            xx = "other";
            break;
        default:
            break;
    }
}

@{
    ViewBag.Title = Model.ResourceTypeName;
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}
@section head
{
    <style type="text/css">
        #@(xx) a {
            color: #ffffff;
            background-color: #2577e3;
        }
    </style>
}

<div id="main">
    @if (Model.Items != null && Model.Items.Count > 0)
    {
        foreach (var item in Model.Items)
        {
            <ul class="commonlist">
                <li class="atitle">
                    <span class="state blue">@item.CreateTime.ToString("MM-dd")</span>
                    <a href="/Wechat/resource/show/@item.Id" style="margin-right: 10px;">@item.Title</a>
                </li>
                <li>发布者：<span class="yellow2">@item.UserName</span>&nbsp;&nbsp;区域位置：<span class="yellow">@Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(item.ProvinceId, item.CityId, item.AreaId)</span></li>
            </ul>
        }
    }
    else
    {
        <div>没有找到相关资源</div>
    }

    <div style="clear: both; height: 30px;"></div>

    @Html.Partial("PagingPartial", Model.Paging)
</div>
