@model Witbird.SHTS.DAL.New.Resource
@{
    var CurrentWeChatUser = ViewData["CurrentWeChatUser"] as Witbird.SHTS.Model.WeChatUser;
}

<li class="connector">
    <span>场地类型:</span>
    @{
        var property = HtmlHelperExtension.SpaceTypeListProperty.Find(t => t.Id == Model.SpaceTypeId);
        if (property != null)
        {
            <span class="yellow2">
                @property.Name
            </span>
        }
        else
        {
            <span class="yellow2">
                不确定
            </span>
        }
    }
</li>
<li class="connector">
    <span>
        场地面积:
    </span>
    @{
        var spaceSize = HtmlHelperExtension.SpaceSizeListProperty.Find(t => t.Id == Model.SpaceSizeId);
        if (spaceSize != null)
        {
            <span class="yellow2">
                @(new HtmlString(spaceSize.Name))
            </span>
        }
        else
        {
            <span class="yellow2">
                不确定
            </span>
        }
    }
</li>
<li>
    <span>
        配置设备:
    </span><span class="yellow2">
        @foreach (var item in Witbird.SHTS.Web.Public.MiscData.SpaceFacilityList)
        {
            if ((Model.SpaceFacilityValue & (int)Math.Pow(2, item.Id - 1)) > 0)
            {
                <span>@item.Name</span>
            }
        }
    </span>
</li>
<li>
    <span>
        场地特点:
    </span><span class="yellow2">
        @foreach (var item in Witbird.SHTS.Web.Public.MiscData.SpaceFeatureList)
        {
            if ((Model.SpaceFeatureValue & (int)Math.Pow(2, item.Id - 1)) > 0)
            {
                <span>@item.Name</span>
            }
        }
    </span>
</li>
<li>
    <span>
        容纳人数:
    </span><span class="yellow2">
        @{
            var spacePeople = HtmlHelperExtension.SpacePeopleListProperty.Find(t => t.Id == Model.SpacePeopleId);
            if (spacePeople != null)
            {
                <span class="yellow2">
                    @(new HtmlString(spacePeople.Name))（人数可根据具体活动人数调整）
                </span>
            }
            else
            {
                <span class="yellow2">
                    不确定（人数可根据具体活动人数调整）
                </span>
            }
        }
    </span>
</li>
