@using Witbird.SHTS.Model
@model Witbird.SHTS.DAL.New.Resource
@{
    var UserInfo = ViewData["UserInfo"] as Witbird.SHTS.Model.User;
}

<li>
    场地类型: <span class="yellow2">
        @HtmlHelperExtension.SpaceTypeListProperty.Find(t => t.Id == Model.SpaceTypeId).Name
    </span>
</li>
<li>
    场地面积: <span class="yellow2">
        @HtmlHelperExtension.SpaceSizeListProperty.Find(t => t.Id == Model.SpaceSizeId).Name
    </span>
</li>
<li>
    配置设备: <span class="yellow2">
        @foreach (var item in Witbird.SHTS.Web.Public.MiscData.SpaceFacilityList)
        {
            if ((Model.SpaceFacilityValue & (int)Math.Pow(2, item.Id - 1)) > 0)
            {
                <span>@item.Name</span>
            }
        }
    </span>
</li>
<li>
    场地特点: <span class="yellow2">
        @foreach (var item in Witbird.SHTS.Web.Public.MiscData.SpaceFeatureList)
        {
            if ((Model.SpaceFeatureValue & (int)Math.Pow(2, item.Id - 1)) > 0)
            {
                <span>@item.Name</span>
            }
        }
    </span>
</li>
<li>
    容纳人数: <span class="yellow2">
        @HtmlHelperExtension.SpacePeopleListProperty.Find(t => t.Id == Model.SpaceSizeId).Name（人数可根据具体活动人数调整）
    </span>
</li>
<li>
    联&nbsp;&nbsp;系&nbsp;人: <span class="yellow2">
        @Model.Contract
    </span>
</li>

<li>
    座&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机: <span class="yellow2">
        @Model.Telephone
    </span>
</li>
<li>
    手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机: <span class="yellow2">
        @Model.Mobile
    </span>
</li>
<li>
    微信/QQ: <span class="yellow2">
        @string.Join("/", string.IsNullOrEmpty(Model.WeChat) ? "未填" : Model.WeChat, string.IsNullOrEmpty(Model.QQ) ? "未填" : Model.QQ)
    </span>
</li>
<li>
    邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱: <span class="yellow2">
        @Model.Email
    </span>
</li>
<li>
    详细地址: <span class="yellow2">
        @Model.DetailAddress
    </span>
</li>
