@{
    ViewBag.Title = "订单支付 | " + Witbird.SHTS.Web.Public.StaticUtility.Config.Name;
    Layout = "~/Views/Shared/WebLayoutPage.cshtml";
}
@model Witbird.SHTS.Web.Models.OrderModel

@section head
{
    <link href="/content/css/payment.css" rel="stylesheet" />
}

<div class="main w1000">
    <div class="location">
        您当前所处的位置：<a href="/" class="blue">首页</a><span class="ch c1">&nbsp;&gt;&nbsp;</span><span>订单支付</span>
    </div>
    <div class="listdiv">

        @if (Model != null && Model.Order != null && !string.IsNullOrEmpty(Model.Order.OrderId))
        {
            <input id="isPaySucceed" type="hidden" value="@Model.Order.State" />
            <input id="returnUrl" type="hidden" value="@Model.ReturnUrl" />
            <div class="listdivitem">
                <div class="listdivitemsummary">
                    <div class="listdivitemtitle">
                        订单信息
                    </div>
                    <div class="listdivitemdescription">
                        <table class="listdivitemtable">
                            <tbody>
                                <tr>
                                    <td>订单编号：<span>@Model.Order.OrderId</span></td>
                                    <td>订单摘要：<span>@Model.Order.Subject</span>
                                    </td>
                                    <td>用户姓名：<span>@Model.Order.UserName</span></td>
                                </tr>
                                <tr>
                                    <td>订单金额：<span>￥ @Model.Order.Amount 元</span></td>
                                    <td>支付状态：<span>@Witbird.SHTS.BLL.Services.OrderService.ConvertOrderStateToDisplayValue(Model.Order.State)</span>
                                    </td>
                                    <td>更新时间：<span>@DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")</span>
                                    </td>
                                </tr>
                                @if (!string.IsNullOrEmpty(Model.Order.ResourceUrl) && Model.Order.OrderType == (int)Witbird.SHTS.Model.OrderType.Trade)
                                {
                                    <tr>
                                        <td colspan="3">中介连接：<a href="@Model.Order.ResourceUrl" title="查看中介交易信息" target="_blank"><span>@Model.Order.ResourceUrl</span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="listdivitemtext">
                            <span>@Model.Order.Body</span>
                        </div>
                    </div>
                    <div style="clear: both;"></div>

                </div>
            </div>

                                if (Model.Order.State == (int)Witbird.SHTS.Model.OrderState.New ||
                                    Model.Order.State == (int)Witbird.SHTS.Model.OrderState.Failed)
                                {
                                    if (Model != null && Model.OfflineBankInfos != null)
                                    {
            <div class="listdivitem onlinePayContent">
                <div class="listdivitemsummary">
                    <div class="listdivitemtitle">
                        请将交易金额汇款至线下支付银行帐号
                                <span style="margin-left: 20px; color: #FD9102; font-weight: normal; font-size: 15px;">
                                    @if (Model.Order.OrderType == (int)Witbird.SHTS.Model.OrderType.Trade)
                                    {
                                        <b>温馨提示：支付完成后请到中介贴页面回复上传支付成功信息</b>
                                    }
                                    else
                                    {
                                        <b>温馨提示：线下支付只支持充值一年VIP会员，支付完成后请等待管理员审核</b>
                                    }
                                </span>
                    </div>
                    <div class="listdivitemdescription">
                        <table class="listdivitemtable">
                            <tbody>
                                @foreach (var item in Model.OfflineBankInfos)
                                {
                                    string bankName = "";
                                    string bankAccount = "";
                                    string bankUserName = "";
                                    string bankAddress = "";
                                    string[] values = item.ConfigValue.Split(Witbird.SHTS.Common.Constant.TradeBankInfoConfigSeperator);
                                    if (values.Length == 4)
                                    {
                                        bankName = values[0];
                                        bankAccount = values[1];
                                        bankUserName = values[2];
                                        bankAddress = values[3];
                                    <tr>
                                        <td>开户银行：<span>@bankName</span></td>
                                        <td>银行帐号：<span>@bankAccount</span></td>
                                        <td>开户名：<span>@bankUserName</span></td>
                                        <td>开户行地址：<span>@bankAddress</span></td>
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="listdivitemlink">
                        <a class="btn" href="@Model.Order.ResourceUrl" title="线下支付完成后请点击此按钮到下一步" onclick="javascript:alert('线下支付完成后，请耐心等待管理员审核');" >支付完成
                        </a>
                    </div>
                    <div style="clear: both;"></div>

                </div>
            </div>
                                    }
            <div class="listdivitem hide onlinePayContent">
                <div class="listdivitemtitle">
                    支付宝支付订单金额
                </div>
                <form id="payform" action="/pay/payonline" method="post">
                    <input type="hidden" name="orderId" value="@Model.Order.OrderId" />
                    <div class="listdivitemsummary">
                        <div class="listdivitemdescription">
                            <div class="payment selected">
                                <label>
                                    <input type="radio" name="payment" value="alipay" checked="checked" onchange="onpaymentchange();" />
                                    <img src="/content/images/pay/alipay_logo.gif" alt="支付宝" />
                                </label>
                                <span></span>
                            </div>

                            @*<div class="payment">
                                        <label>
                                            <input type="radio" name="payment" value="chinabank" onchange="onpaymentchange();" />
                                            <img src="/content/images/pay/chinabank_logo.jpg" alt="网银在线" />
                                        </label>
                                        <span></span>
                                    </div>*@
                        </div>

                    </div>

                    <div class="listdivitemlink">
                        <a class="btn" href="javascript:void(0);" title="立即支付订单金额" onclick="doPayForOrderEvent();">
                            立即支付
                        </a>
                        <br />
                    </div>
                </form>
            </div>
            
            <div class="listdivitem">
                <div class="listdivitemsummary">
                    <div class="listdivitemtitle">
                        <a class="btn" href="javascript:void(0);" title="点击选择支付方式" onclick="expandByClassName('onlinePayContent', this);">
                            在线支付
                        </a>
                    </div>
                </div>
            </div>
                                }
                                else
                                {
            <div class="listdivitem">
                <table class="listdivitemtable">
                    <tbody>
                        <tr>
                            <td>
                                @*<span>该订单已不能支付</span>*@
                                <span>订单支付成功，<span id="countDownTime" style="font-size: 17px; font-weight: bold;">3</span>&nbsp;秒后页面将跳转到详情页面</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                                }
        }
        else
        {
            <span>订单信息不存在</span>
        }
    </div>
    <div style="height: 20px;"></div>
</div>
@section FooterJS
{
    <script type="text/javascript" src="/content/js/payment.js"></script>
    <script>
        function expandByClassName(className, button) {
            $('.' + className).each(function () {
                if ($(this).hasClass('hide')) {
                    $(this).removeClass('hide');
                    $(button).html('线下支付');
                }
                else {
                    $(this).addClass('hide');
                    $(button).html('在线支付');
                }
            });

        }

        var seconds = 3;
        function countDown() {
            var isPaySucceed = $('#isPaySucceed').val();
            if (isPaySucceed == 1) {
                $('#countDownTime').html(seconds);
            }
            if (seconds < 1) {
                var returnUrl = $('#returnUrl').val();
                if (isPaySucceed == 1 && returnUrl != '') {
                    window.location.href = returnUrl;
                }
            }
            if (seconds > 0) {
                seconds--;
                setTimeout('countDown()', 1000);
            }
        }
        countDown();
    </script>
}