
@model Witbird.SHTS.Web.Models.DemandModel


@{
    ViewBag.Title = "[" + Model.Demand.StatusValueString + "]" + Model.Demand.Title + " | " + Witbird.SHTS.Web.Public.StaticUtility.Config.Name;
    ViewBag.Keywords = Model.Demand.Title;
    ViewBag.Description = Model.Demand.Description;
    ViewBag.PageType = "demand";
    ViewBag.PageId = Model.Demand.Id;
    Layout = "~/Views/Shared/WebLayoutPage.cshtml";
}

@section head
{
    <link href="/Content/css/demand.css" rel="stylesheet" />
    <style type="text/css">
        .listdivitemtable tr td {
            border: 1px solid #f1f1f1;
            padding-left: 10px;
        }
    </style>
}

<div class="main w1000">
    <div class="location">
        您当前所处的位置：<a href="/" class="blue">首页</a><span class="ch c1">&nbsp;&gt;&nbsp;</span><a href="/demand/" class="blue">需求信息</a><span class="ch">&nbsp;&gt;&nbsp;@Model.Demand.Title</span>
    </div>
    <div id="mainLeft">
        <div class="showTitle">
            <h2><lable style="color: #FD9102;">[@Model.Demand.StatusValueString]</lable>@Model.Demand.Title</h2>
            <p>
                发布时间：@Model.Demand.InsertTime.ToString("yyyy-MM-dd HH:mm") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                阅读：@Model.Demand.ViewCount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                来源：活动在线 需求信息 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                发布者：@Model.Demand.UserName
            </p>
        </div>
        <table class="listdivitemtable">
            <tr>
                <td>需求类别：<span>@Model.Demand.ResourceTypeName</span></td>

                <td>需求类型：<span>@Html.GetResourceSubTypeNameById(Model.Demand.ResourceType, Model.Demand.ResourceTypeId)</span></td>
                <td>
                    预算金额：
                    @if (Model.Demand.Budget == 0)
                    {
                        <span>面议</span>
                    }
                    else
                    {
                        <span>@Model.Demand.Budget 元</span>
                    }
                </td>
                @*<td>需求时长：<span>@Model.Demand.TimeLength</span></td>*@
            </tr>

            <tr>
                <td>参与人数：<span>@Model.Demand.PeopleNumber</span></td>
                <td>开始时间：<span>@Model.Demand.StartTime.Value.ToString("yyyy/MM/dd")</span></td>
                @{
                    var endTime = Model.Demand.EndTime == null ? System.DateTime.Today : Model.Demand.EndTime.Value;
                    <td>结束时间：<span>@endTime.ToString("yyyy/MM/dd")</span></td>
                }
            </tr>
            <tr>

                <td>
                    联系电话：
                    <span style="color: #4193ff;">@Model.Demand.Phone</span>
                </td>
                <td>
                    QQ/微信：
                    <span style="color: #4193ff;">@Model.Demand.QQWeixin</span>
                </td>
                <td>
                    电子邮箱：
                    <span style="color: #4193ff;">@Model.Demand.Email</span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    区域位置：<span>@Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(Model.Demand.Province, Model.Demand.City, Model.Demand.Area)</span>
                    <span style="color: #4193ff;">@Model.Demand.Address</span>
                </td>
            </tr>
        </table>
        <div class="showTitle" style="text-align: left;border-bottom: 1px solid #B9B9B9;">
            <h2 class="detail_title" style="font-family: 'microsoft yahei', simsun; font-size: 18px; font-weight: normal; color: #0066CC;">
                需求详细
            </h2>

            @*<h3 style="font-size:16px;">
                如需查看更多业务和资源，请点击关注<a href="http://mp.weixin.qq.com/s?__biz=MzIzODAzMjg1Mg==&amp;mid=406616045&amp;idx=1&amp;sn=0284c00c826b9faacc9fd51d61e90a31&amp;scene=0&amp;previewkey=hJ65r3CvPxZrCv2xPXuf8MNS9bJajjJKzz%2F0By7ITJA%3D#wechat_redirect" class="blue" target="_blank">微信公众号</a>
            </h3>*@
        </div>
        <div class="showContent" style="font-size: 16px;line-height: 30px;">
            @*@if (Model.IsMember)
                {
                    @(new HtmlString(Model.Demand.ContentStyle))
                }
                else
                {
                    <div style="font-size:26px; color: #4193ff; line-height:30px;">
                        亲，只有会员才可以查询详情哦！你现在只能看到简短描述。
                        <br />
                        <br />
                    </div>
                    @(new HtmlString(Model.Demand.Description))
                }*@
            @(new HtmlString(Model.Demand.ContentStyle))
        </div>
    </div>
    @Html.Action("Right", "Common")

    <div style="clear: both; height: 30px;"></div>
</div>
