<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="wap-font-scale" content="no" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <link href="/content/Wechat/css/common.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body>
    <div class="wrap">
        <div id="top">
            <div id="logo">
                <a href="http://mp.weixin.qq.com/s?__biz=MzIzODAzMjg1Mg==&mid=210615532&idx=1&sn=7188493d42c8633421c78667266e17f2#rd">
                    <img src="/content/images/logo.png" alt="logo" />
                </a>
            </div>

            <div id="city">
                <select>
                    <option>全国</option>
                    <option>北京</option>
                    <option>上海</option>
                    <option>重庆</option>
                    <option>四个字的</option>
                </select>
            </div>
            <div id="usercenter" style="width:150px;">
                @Html.Action("UserNavBar", "User")
            </div>

            @*@if (Session["CityName"] != null)
                {
                    <div id="currentCityName">@Session["CityName"].ToString()</div>
                }
                else
                {
                    <div id="currentCityName">全国</div>
                }*@
        </div>

        @RenderBody()

    </div>
    @RenderSection("FooterJS", false)
</body>
</html>

