@model Witbird.SHTS.Web.Areas.Wechat.Models.DemandModel
@{
    ViewBag.Title = Model.Demand.Title;
    ViewBag.PageType = "demand";
    ViewBag.PageId = Model.Demand.Id;
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
    string buyDemandFee = ViewData["BuyDemandFee"] as string;
    var currentWeChatUser = Session[Witbird.SHTS.Web.Areas.Wechat.Controllers.WechatBaseController.WeChatUserInfo] as Witbird.SHTS.Model.WeChatUser;
    var hasAlreadyQuoted = false;
    var quoteId = -1;

    if (Model.Demand.QuoteEntities.Count > 0)
    {
        var quote = Model.Demand.QuoteEntities[0];
        if (quote.WeChatUserId == currentWeChatUser.Id)
        {
            hasAlreadyQuoted = true;
            quoteId = quote.QuoteId;
        }
    }
}
@section head
{
    <link href="/content/css/login.css" rel="stylesheet" />
    <link href="/Content/dialog/css/base.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.min.js"></script>
    <style type="text/css">
        #demand a {
            color: #ffffff;
            background-color: #2577e3;
        }

        .buypanel {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 10px;
            width: 93%;
            border: 1px #ffd800 dashed;
            background: #fbdddd;
            color: #2577e3;
            text-align: center;
        }

            .buypanel button {
                width: 100%;
                height: 30px;
                border-radius: 15px;
                outline: none;
                font-size: 15px;
            }

        .btn-buy {
            width: auto;
            height: 25px !important;
            border-radius: 15px;
            outline: none;
            font-size: 15px;
        }

        .btn-blue {
            background-color: #337ab7;
        }

        .container {
            width: auto !important;
            top: 0 !important;
        }

        .col-md-12 {
            padding: 0;
        }
    </style>
}

<div class="main">
    <ul class="details">
        <li class="dtitle" style="text-align:left;font-size:14px;padding:0;margin-top:-10px;">
            点击关注<i class="glyphicon glyphicon-arrow-up"></i>，查看更多业务信息
        </li>
        <li class="dtitle">
            <lable style="color: #FD9102;font-size:20px;">[@Model.Demand.StatusValueString]</lable>@Model.Demand.Title
        </li>
        <li style="text-align:right;">
            @if (Model.Demand.UserId != (currentWeChatUser.UserId ?? -1) && !Model.Demand.IsCompleted)
            {
                if (Model.Demand.IsCurrentUserTraded)
                {
                    <a class="button btn-info" style="height: 30px;line-height: 30px;border-radius: 15px;" href="/wechat/trade/show?id=@(Model.Demand.CurrentUserTradeId)">查看中介申请</a>
                }
                else
                {
                    <a class="button btn-info" style="height: 30px;line-height: 30px;border-radius: 15px;" href="/wechat/trade/traderule?id=@(Model.Demand.Id)&type=demand">申请中介</a>
                }
            }
        </li>
        <li>发布时间：<span class="yellow2">@Model.Demand.InsertTime.ToString("yyyy-MM-dd HH:mm")</span></li>
        @*<li>发布来源：<span class="yellow2">@Model.Demand.UserName</span></li>*@
        @*<li>需求类别：<span class="yellow2">@Model.Demand.ResourceTypeName</span></li>*@
        @*<li>需求类型：<span class="yellow2">@Html.GetResourceSubTypeNameById(Model.Demand.ResourceType, Model.Demand.ResourceTypeId)</span></li>*@
        <li>起止时间：<span class="yellow2">@Model.Demand.StartTime.Value.ToString("yyyy/MM/dd") - @Model.Demand.EndTime.Value.ToString("yyyy/MM/dd")</span></li>
        @*<li>参与人数：<span class="yellow2">@Model.Demand.PeopleNumber</span></li>*@
        <li>
            预算金额：
            @if (Model.Demand.Budget == 0)
            {
                <span class="yellow2">面议</span>
            }
            else
            {
                <span class="yellow2">@Model.Demand.Budget 元</span>
            }
        </li>
        <li>
            区域位置：
            <span class="yellow2">
                @Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(Model.Demand.Province, Model.Demand.City, Model.Demand.Area)
            </span>
        </li>
        @if (!string.IsNullOrWhiteSpace(Model.Demand.QQWeixin))
        {
            if (Model.HasCurrentUserSharedWechat)
            {
                <li>
                    联系微信：
                    <span class="yellow2">@Model.Demand.QQWeixin</span>
                </li>
            }
            else
            {
                <li>
                    联系微信：
                    <span class="yellow2">
                        <span class="qqWeixinValue yellow2">分享朋友圈后即可免费查看</span>
                        <input type="hidden" id="qqWeixinHiddenValue" value="@Model.Demand.QQWeixin" />
                    </span>
                </li>
            }
        }

        @if (!string.IsNullOrWhiteSpace(Model.Demand.Phone))
        {
            if (Model.HasCurrentWeChatUserBought)
            {
                <li>
                    详细地址：
                    <span class="yellow2">@Model.Demand.Address</span>
                </li>
                <li>
                    联系电话：
                    <span class="yellow2"><a href="tel:@Model.Demand.Phone">@Model.Demand.Phone</a></span>
                </li>
                <li>
                    电子邮箱：
                    <span class="yellow2">@Model.Demand.Email</span>
                </li>
            }
            else
            {
                <li>
                    联系电话：
                    <a href="javascript:void(0);" onclick="buyDemand(@Model.Demand.Id);" style="color:red;font-weight:bold;font-size:14px;">点击获取联系方式，第一时间联系客户</a>
                </li>
            }
        }
        else
        {
            <li>
                详细地址：
                <span class="yellow2">@Model.Demand.Address</span>
            </li>
            <li>
                电子邮箱：
                <span class="yellow2">@Model.Demand.Email</span>
            </li>
        }

        <li>需求内容：</li>
    </ul>
    <div class="active_info">
        @(new HtmlString(Model.Demand.ContentText))
    </div>


    <ul class="details">
        <li>
            <div class="buypanel">
                @if (Model.Demand.UserId == (currentWeChatUser.UserId ?? -1))
                {
                    if (Model.Demand.QuoteEntities.Count > 0)
                    {
                        <span>有收到@(Model.Demand.QuoteEntities.Count)条报价：</span>
                        <button type="button" class="button btn-green" style="width:100%;" onclick="window.location = '/wechat/quote/show?demandId=@(Model.Demand.Id)'">查看报价/报名情况</button>
                    }
                    else
                    {
                        <span>暂无报价/报名记录</span>
                    }
                }
                else
                {
                    if (hasAlreadyQuoted)
                    {
                        <button type="button" class="button btn-green" onclick="window.location = '/wechat/quote/detail?quoteId=@(quoteId)'">已报价，点击查看</button>
                    }
                    else if (!Model.Demand.IsCompleted)
                    {
                        <button type="button" class="button btn-green" onclick="window.location = '/wechat/quote/quote?demandId=@(Model.Demand.Id)'">免费报价/报名</button>
                    }
                    else
                    {
                        // nothing
                    }

                    if (!string.IsNullOrWhiteSpace(Model.Demand.QQWeixin))
                    {
                        if (!Model.HasCurrentUserSharedWechat)
                        {
                            <button id="btnShareTimeline" type="button" class="button btn-default" style="margin-top:30px;" onclick="_system._guide(true)">
                                <img src="~/Areas/Wechat/Content/images/share_timeine_icon.png" width="22" />&nbsp;免费查看联系微信
                            </button>
                            <button type="button" class="qqWeixinValue button btn-default hide" style="margin-top:30px;" onclick="return;">
                                <img src="~/Areas/Wechat/Content/images/share_timeine_icon.png" width="22" />
                            </button>
                        }
                        else
                        {
                            <button type="button" class="qqWeixinValue button btn-default" style="margin-top:30px;" onclick="return;">
                                <img src="~/Areas/Wechat/Content/images/share_timeine_icon.png" width="22" />联系微信：@Model.Demand.QQWeixin
                            </button>
                        }
                    }

                    if (!string.IsNullOrWhiteSpace(Model.Demand.Phone))
                    {
                        if (Model.Demand.IsCompleted)
                        {
                            <p>
                                <span class="yellow2">【@Model.Demand.StatusValueString】</span>&nbsp;该需求已经寻找到资源提供商。仅需
                                <span class="yellow2" style="font-weight:bold;">@(Model.Demand.WeixinBuyFee)元</span>
                                ，立即获取客户联系方式，能够带来更多未来合作机会哦！是否继续获取：<br />
                                <a href="javascript:void(0);" onclick="buyDemand(@Model.Demand.Id);"><span class="yellow2" style="font-size:17px; font-weight:bold;">一键获取联系方式</span></a>
                            </p>
                        }
                        else
                        {
                            if (!Model.HasCurrentWeChatUserBought)
                            {
                                <br />
                                <br />
                                <button type="button" class="button btn-blue" onclick="buyDemand(@Model.Demand.Id);">获取联系方式</button>
                            }
                            else
                            {
                                <br />
                                <br />
                                <span class="button btn-blue" style="display:block;border-radius:15px;height:30px;font-size:15px;line-height:30px;" onclick="return;">联系电话: <a style="color:#ffffff;" href="tel:@Model.Demand.Phone">@Model.Demand.Phone</a></span>
                            }
                        }
                    }
                }

            </div>
        </li>
    </ul>

    @if (Model.Demand.ImgUrls.Length > 0)
            {
        <div style="clear: both; height: 10px;"></div>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="carousel slide" id="carousel-144040">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < Model.Demand.ImgUrls.Length; i++)
                            {
                                if (i == 0)
                                {
                                    <li class="active" data-slide-to="0" data-target="#carousel-144040">
                                    </li>
                                }
                                else
                                {
                                    <li data-slide-to="@i" data-target="#carousel-144040">
                                    </li>
                                }
                            }
                        </ol>
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Demand.ImgUrls.Length; i++)
                            {
                                if (i == 0)
                                {
                                    <div class="item active">
                                        <img alt="@Model.Demand.Title" src="@Model.Demand.ImgUrls[i]" />
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img alt="@Model.Demand.Title" src="@Model.Demand.ImgUrls[i]" />
                                    </div>
                                }
                            }
                        </div> <a class="left carousel-control" href="#carousel-144040" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-144040" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function showMessage(msg, isSuccessfulMsg) {
        if (msg != '') {
            if (isSuccessfulMsg) {
                ds.dialog({
                    title: '消息提示',
                    content: msg,
                    icon: "/Content/dialog/images/success.png"
                });
            }
            else {
                ds.dialog({
                    title: '消息提示',
                    content: msg,
                    icon: "/Content/dialog/images/info.png"
                });
            }
        }
    }

    function callPayApi(appId, timeStamp, nonceStr, package1, paySign) {
        WeixinJSBridge.invoke('getBrandWCPayRequest', {
            "appId": appId,
            "timeStamp": timeStamp,
            "nonceStr": nonceStr,
            "package": package1,
            "signType": "MD5",
            "paySign": paySign
        }, function (res) {
            if (res.err_msg == "get_brand_wcpay_request:ok") {
                alert("您已成功购买该需求联系方式和详细地址的永久查看权限。");
                window.location = window.location;
            }
            else {
                if (res.err_msg == "get_brand_wcpay_request:cancel") {
                    //alert("您取消了购买。");
                }
                else {
                    alert(res.err_msg);
                    alert("购买发生错误！请刷新重试，如频繁发生该错误，请联系管理员.");
                }
            }
        });
    }

    function buyDemand(demandId) {
        //wechat/demand/Buy
        $.post("/wechat/demand/Buy",
        {
            id: demandId
        },
        function (data) {
            if (data.IsSuccessFul) {
                callPayApi(data.AppId, data.TimeStamp, data.NonceStr, data.Package, data.PaySign);
            }
            else {
                alert(data.Message);
            }
        }).error(function (data) { alert(data); });
    }

    function showWechat() {
        alert('请点击右上角分享到朋友圈后查看微信联系方式');
    }
</script>

<script>
    var appId = '@Model.WechatShareParameters.AppId';
    var timestamp = @Model.WechatShareParameters.Timestamp;
    var nonceStr = '@Model.WechatShareParameters.NonceStr';
    var signature = '@Model.WechatShareParameters.Signature';
    var title = '活动在线-' + '@Model.WechatShareParameters.Title';
    var link = '@Model.WechatShareParameters.Link';
    var demandId = @Model.Demand.Id;

    wx.config({
        //debug: true,
        appId: appId,
        timestamp: timestamp,
        nonceStr: nonceStr,
        signature: signature,
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline'
        ]
    });

    wx.ready(function () {
        wx.onMenuShareTimeline({
            title: title,
            link: link,
            imgUrl: 'http://www.huodongzaixian.com/areas/wechat/content/images/wechat_share_icon.png',
            success: function () {
                console.log('分享成功');
                $.post("/wechat/demand/sharewechat",
                {
                    id: demandId
                },
                function (data) {
                    console.log(data);
                    if (data.IsSuccessFul) {
                        if ($('.qqWeixinValue')){
                            $('.qqWeixinValue').html($('#qqWeixinHiddenValue').val());
                            $('.qqWeixinValue').removeClass('hide');
                        }
                        if ($('#btnShareTimeline')){
                            $('#btnShareTimeline').addClass('hide');
                        }
                    }
                }).error(function (data) {
                    if ($('.qqWeixinValue')) {
                        alert('分享发生了点小故障，请刷新一下页面后再试试哦');
                    }
                });
            },
            cancel: function () {
                if ($('.qqWeixinValue')){
                    alert('分享朋友圈就可以免费查看微信哦');
                }
            },
            complete: function(){
                document.getElementById('cover').style.display = "none";
                document.getElementById('guide').style.display = "none";
            }
        });
    });


    wx.error(function (res) {
        //alert('error');
    });
</script>

<script type="text/javascript">
    var _system={
        $:function(id){return document.getElementById(id);},
        _client:function(){
            return {w:document.documentElement.scrollWidth,h:document.documentElement.scrollHeight,bw:document.documentElement.clientWidth,bh:document.documentElement.clientHeight};
        },
        _scroll:function(){
            return {x:document.documentElement.scrollLeft?document.documentElement.scrollLeft:document.body.scrollLeft,y:document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop};
        },
        _cover:function(show){
            if(show){
                this.$("cover").style.display="block";
                this.$("cover").style.width=(this._client().bw>this._client().w?this._client().bw:this._client().w)+"px";
                this.$("cover").style.height=(this._client().bh>this._client().h?this._client().bh:this._client().h)+"px";
            }else{
                this.$("cover").style.display="none";
            }
        },
        _guide:function(click){
            this._cover(true);
            this.$("guide").style.display="block";
            this.$("guide").style.top=(_system._scroll().y+5)+"px";
            window.onresize=function(){_system._cover(true);_system.$("guide").style.top=(_system._scroll().y+5)+"px";};
            if(click){_system.$("cover").onclick=function(){
                _system._cover();
                _system.$("guide").style.display="none";
                _system.$("cover").onclick=null;
                window.onresize=null;
            };}
        },
        _zero:function(n){
            return n<0?0:n;
        }
    }
</script>
<style>
    #cover {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 18888;
        background-color: #000000;
        opacity: 0.7;
    }

    #guide {
        display: none;
        position: absolute;
        right: 18px;
        top: 5px;
        z-index: 19999;
    }

        #guide img {
            width: 260px;
            height: 180px;
        }
</style>
<div id="cover"></div>
<div id="guide"><img src="~/Areas/Wechat/Content/images/share_guide1.png" /></div>