@model Witbird.SHTS.Web.Areas.Wechat.Models.DemandModel
@{
    ViewBag.Title = Model.Demand.Title;
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}
@section head
{
    <style type="text/css">
        #demand a
        {
            color: #ffffff;
            background-color: #2577e3;
        }
    </style>
}

<div class="main">
    <ul class="details">
        <li class="dtitle">
            <h2 style="font-size: 16px; color: #1CB03A;">@Model.Demand.Title</h2>
        </li>
        <li>发布时间：<span class="yellow2">@Model.Demand.InsertTime.ToString("yyyy-MM-dd HH:mm")</span></li>
        <li>发布来源：<span class="yellow2">@Model.Demand.UserName</span></li>
        <li>需求类型：<span class="yellow2">@Model.Demand.CategoryName</span></li>
        <li>区域位置：<span class="yellow2">@Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(Model.Demand.Province, Model.Demand.City, Model.Demand.Area)</span></li>
        <li>起止时间：<span class="yellow2">@Model.Demand.StartTime.Value.ToString("yyyy/MM/dd") - @Model.Demand.EndTime.Value.ToString("yyyy/MM/dd")</span></li>
        <li>参与人数：<span class="yellow2">@Model.Demand.PeopleNumber</span></li>
        <li>预算金额：
            @if (Model.Demand.Budget == 0)
            {
                <span class="yellow2">面议</span>
            }
            else
            {
                <span class="yellow2">@Model.Demand.Budget 元</span>
            }
        </li>
        <li>联系电话：
                <span class="yellow2"><a href="tel:@Model.Demand.Phone">@Model.Demand.Phone</a></span>
        </li>
        <li>QQ/微信：
                <span class="yellow2">@Model.Demand.QQWeixin</span>
        </li>
        <li>电子邮箱：
                <span class="yellow2">@Model.Demand.Email</span>
        </li>
    </ul>
    <div class="active_info">
        @if (Model.IsMember)
        {
            @(new HtmlString(Model.Demand.ContentText))
        }
        else
        { 
            <div style="font-size: 16px; color: #4193ff; line-height: 30px;">
                亲，只有会员才可以查询详情哦！<br />
                你现在只能看到简短描述。<br />
            </div>
            @(new HtmlString(Model.Demand.Description))
        }
    </div>
    <div style="clear: both; height: 30px;"></div>
</div>
