@model Witbird.SHTS.Web.Areas.Wechat.Models.DemandModel
@{
    ViewBag.Title = Model.Demand.Title;
    Layout = "~/Areas/Wechat/Views/Shared/WechatLayoutPage.cshtml";
}
@section head
{
    <style type="text/css">
        #demand a { color: #ffffff; background-color: #2577e3; }
    </style>
}

<div class="main">
    <ul class="details">
        <li class="dtitle">
            @Model.Demand.Title
        </li>
        <li>发布时间：<span class="yellow2">@Model.Demand.InsertTime.ToString("yyyy-MM-dd HH:mm")</span></li>
        <li>发布来源：<span class="yellow2">@Model.Demand.UserName</span></li>
        <li>需求类型：<span class="yellow2">@Model.Demand.CategoryName</span></li>
        <li>起止时间：<span class="yellow2">@Model.Demand.StartTime.Value.ToString("yyyy/MM/dd") - @Model.Demand.EndTime.Value.ToString("yyyy/MM/dd")</span></li>
        <li>参与人数：<span class="yellow2">@Model.Demand.PeopleNumber</span></li>
        <li>
            预算金额：
            @if (Model.Demand.Budget == 0)
            {
                <span class="yellow2">面议</span>
            }
            else
            {
                <span class="yellow2">@Model.Demand.Budget 元</span>
            }
        </li>
        <li>
            区域位置：
            <span class="yellow2">
                @Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(Model.Demand.Province, Model.Demand.City, Model.Demand.Area)
            </span>
        </li>
        @{
            if (!Model.HasCurrentWeChatUserBought)
            {
                <li>
                    <div style="margin-top:10px; margin-bottom:10px; padding:10px;width:90%;border:1px #ffd800 dashed; background:#fbdddd;color:#2577e3;">
                        该需求联系方式及详细地址已被隐藏，仅需<span class="yellow2" style="font-size:20px; font-weight:bold;">@(ViewBag["BuyDemandFee"])元</span>即可购买永久查看权限。
                        <a href="javascript:void(0);" onclick="buyDemand(@Model.Demand.Id);"><span class="yellow2" style="font-size:17px; font-weight:bold;">立即购买</span></a>
                    </div>
                </li>
            }
            else
            {
                <li>
                    详细地址：
                    <span class="yellow2">@Model.Demand.Address</span>
                </li>
                <li>
                    联系电话：
                    <span class="yellow2"><a href="tel:@Model.Demand.Phone">@Model.Demand.Phone</a></span>
                </li>
                <li>
                    QQ/微信：
                    <span class="yellow2">@Model.Demand.QQWeixin</span>
                </li>
                <li>
                    电子邮箱：
                    <span class="yellow2">@Model.Demand.Email</span>
                </li>
            }
        }
        <li>需求内容：</li>
    </ul>
    <div class="active_info">
        @(new HtmlString(Model.Demand.ContentText))
    </div>
    <div style="clear: both; height: 10px;"></div>
</div>
<script>
    function buyDemand(demandId) {
        //wechat/demand/Buy
        $.post("/wechat/demand/Buy",
        {
            id: demandId
        },
        function (data) {
            if (data.IsSuccessFul) {
                callPayApi(data.AppId, data.TimeStamp, data.NonceStr, data.Package, data.PaySign);
            }
            else {
                alert(data.Message);
            }
        }).error(function (data) {alert(data);});
    }

    function callPayApi(appId, timeStamp, nonceStr, package1, paySign) {
        WeixinJSBridge.invoke('getBrandWCPayRequest', {
            "appId": appId,
            "timeStamp": timeStamp,
            "nonceStr": nonceStr,
            "package": package1,
            "signType": "MD5",
            "paySign": paySign
        }, function (res) {
            if (res.err_msg == "get_brand_wcpay_request:ok") {
                alert("您已成功购买该需求联系方式和详细地址的永久查看权限。");
                window.location = window.location;
            }
            else {
                alert("您取消了购买。");
            }
        });
    }
</script>
