@model Witbird.SHTS.Web.Areas.Wechat.Models.DemandModel
@{
    Layout = null;
}
<html>
<head>
    <title>测试微信分享接口回调通知</title>

    
</head>
<body>

    <h1>
        测试微信分享接口回调通知
    </h1>
    <button id="btnShare">分享到朋友圈</button>
</body>
<script type="text/JavaScript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    var appId = '@Model.WechatShareParameters.AppId';
    var timestamp = @Model.WechatShareParameters.Timestamp;
    var nonceStr = '@Model.WechatShareParameters.NonceStr';
    var signature = '@Model.WechatShareParameters.Signature';
    var title = '@Model.WechatShareParameters.Title';
    var link = '@Model.WechatShareParameters.Link';

    wx.config({
        debug: true,
        appId: appId,
        timestamp: timestamp,
        nonceStr: nonceStr,
        signature: signature,
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'getLocation'
        ]
    });

    wx.ready(function () {
        // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
        document.querySelector('#btnShare').onclick = function () {
            wx.onMenuShareTimeline({
                title: '互联网之子',
                link: 'http://movie.douban.com/subject/25785114/',
                imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
                trigger: function (res) {
                    // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                    alert('用户点击分享到朋友圈');
                },
                success: function (res) {
                    alert('已分享');
                },
                cancel: function (res) {
                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
            alert('已注册获取“分享到朋友圈”状态事件');
        };

        wx.getLocation({
            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
                var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                var speed = res.speed; // 速度，以米/每秒计
                var accuracy = res.accuracy; // 位置精度

                console.log(res);
            }
        });
    });



    wx.error(function (res) {
        alert('error:'+res.errMsg);
    });
</script>
</html>
