@model Witbird.SHTS.Web.Areas.Mobile.Models.DemandModel
@{
    ViewBag.Title = "我发布的需求 中国活动在线网手机版";
    Layout = "~/Areas/Mobile/Views/Shared/MobileLayoutPage.cshtml";
}

@section head
{
    <style type="text/css">
        #demand a {
            color: #ffffff;
            background-color: #2577e3;
        }
    </style>
}

<div id="main">
    @if (Model.Demands != null && Model.Demands.Count > 0)
    {
        foreach (var item in Model.Demands)
        {
            <ul class="commonlist">
                <li class="atitle">
                    <span class="state blue">@item.InsertTime.ToString("MM-dd")</span>
                    <a href="/Mobile/demand/show/@(item.Id)?showwxpaytitle=1" style="margin-right: 10px;">
                        <lable style="color: #FD9102;">[@item.StatusValueString]</lable>@item.Title
                    </a>
                </li>
                <li>需求类型：<span class="yellow">@item.ResourceTypeName</span></li>
                <li>区域位置：<span class="yellow">@Witbird.SHTS.Web.Public.StaticUtility.GetProvinceAndCityNameById(item.Province, item.City, item.Area)</span></li>
                <li>起止时间：<span class="yellow">@item.StartTime.Value.ToString("yyyy/MM/dd") - @item.EndTime.Value.ToString("yyyy/MM/dd")</span></li>
                @*<li>参与人数：<span class="yellow">@item.PeopleNumber</span></li>*@
                <li>
                    预算金额：
                    @if (!item.Budget.HasValue || item.Budget.Value <= 0)
                    {
                        <span class="yellow">面议</span>
                    }
                    else
                    {
                        <span class="yellow">@item.Budget 元</span>
                    }
                </li>
                <li>
                    @if (item.IsCompleted)
                    {
                        @*<a href="javascript:void(0);" style="margin-right: 10px;cursor:not-allowed;">
                            需求完成
                        </a>*@
                    }
                    else
                    {
                        <a href="/Mobile/demand/UpdateDemandStatusAsComplete/@item.Id" style="margin-right: 10px;">
                            需求完成
                        </a>
                        <a href="/Mobile/demand/Edit/@(item.Id)" style="margin-right: 10px;">
                            编辑需求
                        </a>
                    }
                </li>
            </ul>
        }
    }

    else
    {
        <div>还没有发布需求哦.</div>
    }

    <div style="clear: both; height: 10px;"></div>

    @Html.Partial("PagingPartialForMyPaidDemand", Model)
</div>

